<table width="100%" border="0" cellpadding="4" cellspacing="0">
  <#MainButtonRow>
    <td colspan="1" align="left">
      <#Font><b><nobr><#DateViewerLabel /></nobr></b></#Font>
    </td>
    <td align="right"><#Font><#Content /></#Font></td>
  </#MainButtonRow>
  <tr><td colspan="2"></td></tr>
  <#OldStartDateCond>
    <tr>
      <#AttributeCell><#Font><#OldStartLabel />:</#Font></#AttributeCell>
      <#ValueCell    ><#Font><#OldStart      /></#Font></#ValueCell>
    </tr>
  </#OldStartDateCond>
  <tr>
    <#AttributeCell><#Font><#StartDayLabel />:</#Font></#AttributeCell>
    <#ValueCell    ><#Font><#StartDay      /></#Font></#ValueCell>
  </tr>
  <tr>
    <#AttributeCell><#Font><#EndDayLabel />:</#Font></#AttributeCell>
    <#ValueCell    ><#Font><#EndDay      /></#Font></#ValueCell>
  </tr>
  <tr>
    <#AttributeCell><#Font><#TitleLabel />:</#Font></#AttributeCell>
    <#ValueCell>
      <#Font>
         <#InlineLinkCond><#TitleAction /></#InlineLinkCond>
         <#InlineLinkCondElse>
           <a href="<#Link />"><#Title /></a>
         </#InlineLinkCondElse>
      </#Font>
    </#ValueCell>
  </tr>
  <tr>
    <#AttributeCell><#Font><#LocationLabel />:</#Font></#AttributeCell>
    <#ValueCell    ><#Font><#Location      />&nbsp;</#Font></#ValueCell>
  </tr>
  <tr>
    <#AttributeCell><#Font><#CreatorLabel />:</#Font></#AttributeCell>
    <#ValueCell    ><#Font><#Creator      /></#Font></#ValueCell>
  </tr>
  <tr>
    <#AttributeCell><#Font><#ParticipantsLabel />:</#Font></#AttributeCell>
    <#ValueCell    ><#Font><#Participants      /></#Font></#ValueCell>
  </tr>
  <tr>
    <#AttributeCell><#Font><#CommentLabel />:</#Font></#AttributeCell>
    <#ValueCell    ><#Font><#Comment      />&nbsp;</#Font></#ValueCell>
  </tr>
</table>
