<#Frame>
  <#Window>
    <#EditorForm>
      <table width='100%' border='0' cellpadding='4' cellspacing='0'>
        <#MainButtonRow>
          <td colspan="2"><#Font><b><#MoveTitleLabel/></b></#Font></td>
        </#MainButtonRow>

        <tr><#Title/></tr>
        <tr><#Location/></tr>
        <tr><#StartDateAttr><#StartDate/></#StartDateAttr></tr>
        <tr><#EndDateAttr><#EndDate/></#EndDateAttr></tr>

        <tr><td colspan="2"></td></tr>
        <tr>
          <#MoveAttr>
            <table border="0" cellspacing="3" cellpadding="3">
              <tr><td align="right">
                <#Move15MinPrefix
                /><#Move15MinBackward><#MoveBackwardLabel/></#Move15MinBackward
                >&nbsp;(<i><#15MinBackwardExample/></i>)
              </td><td>
                <#Move15MinForward><#MoveForwardLabel/></#Move15MinForward
                >&nbsp;(<i><#15MinForwardExample/></i>)
              </td></tr>
              <tr><td align="right">
                <#Move30MinPrefix
                /><#Move30MinBackward><#MoveBackwardLabel/></#Move30MinBackward
                >&nbsp;(<i><#30MinBackwardExample/></i>)
              </td><td>
                <#Move30MinForward><#MoveForwardLabel/></#Move30MinForward
                >&nbsp;(<i><#30MinForwardExample/></i>)
              </td></tr>
              <tr><td align="right">
                <#Move1HourPrefix
                /><#Move1HourBackward><#MoveBackwardLabel/></#Move1HourBackward
                >&nbsp;(<i><#1HourBackwardExample/></i>)
              </td><td>
                <#Move1HourForward><#MoveForwardLabel/></#Move1HourForward
                >&nbsp;(<i><#1HourForwardExample/></i>)
              </td></tr>
              <#MoveRep>
                <tr><td align="right">
                  <#MovePrefix
                  /><#MoveAction><#MoveLabel/></#MoveAction
                  ><#MoveSuffix/>
                </td><td><i><#MoveExample/></i></td></tr>
              </#MoveRep>
            </table>
          </#MoveAttr>
        </tr>

        <tr><td colspan="2" /></tr>
        <tr>
          <#MoveTo>
            <#AmountPopUp/><#UnitPopUp/><#MoveDirectionPopUp/>
          </#MoveTo>
        </tr>
        <tr>
          <td />
          <td><#MoveSubmit/> <#CancelSubmit/></td>
        </tr>
          
      </table>
    </#EditorForm>
  </#Window>
</#Frame>
