<#Frame>
 <#Window>
  <#PreferencesForm>
    <table border="0" cellspacing="1" cellpadding="4" width="100%">
      <#MainButtonRow>
        <td align="left" colspan="2">
          <#Font><b><#EditorLabel/></b></#Font>
        </td>
      </#MainButtonRow>
      <tr>
        <td valign="top">
          <table border="0" cellspacing="0" cellpadding="4"
                width="100%">
            <#AppointmentViewField  />
            <#TimeInputTypeField    />
            <#AptTypeInputTypeField />
            <#ColumnSizeField       />
    
            <#DefaultCCForNotificationMails />
            <#ShowNotificationDevicesCond>
              <#NotificationDevicesAttr>
                <#NotificationDevices />
              </#NotificationDevicesAttr>
            </#ShowNotificationDevicesCond>

            <#SchedulerPageTab />
            <#SchedulerPageWeekView />
            <#SchedulerPageDayView />
            <!-- #ShowJobs/ -->
            <#ShowPalmDates />
            <#ShowFullNames />
            <#IsRoot>
              <#HideIgnoreConflictsInEditor><#Font>
                (<#OnlyIfResourcesAreSet />)</#Font>
              </#HideIgnoreConflictsInEditor>
            </#IsRoot>
            <#NotificationTimeField>
              <#Font><#BeforeLabel/></#Font>
            </#NotificationTimeField>
          </table>
        </td>
        <td valign="top">
          <table border="0" cellspacing="0" cellpadding="4"
                 width="100%">
            <#MainButtonRow>
              <td align="left" colspan="2">
                <#Font><b><#WeekOverviewLabel/></b></#Font>
              </td>
            </#MainButtonRow>
            <#ShortInfo />
            <#WithResources />
            <#ColumnsPerDay />

            <tr><td colspan="2"><entity name="nbsp"/></td></tr>

            <#MainButtonRow>
              <td align="left" colspan="2">
                <#Font><b><#DayOverviewLabel/></b></#Font>
              </td>
            </#MainButtonRow>
            <#DayOverviewStart />
            <#DayOverviewEnd />
            <#DayOverviewInterval />
            <#ColumnsPerDayDayView />
          </table>
        </td>
      </tr>
    </table>

    <br />

    <table border="0" cellspacing="0" cellpadding="4" width="100%">
      <#OverviewTitle>
        <#ViewPopupNumber />
        <tr>
          <#AttributeCell />
          <#ValueCell><hr size="1" noshade="noshade" /></#ValueCell>
        </tr>
        <#ResourceSelection />
        <#AccountSelection />
      </#OverviewTitle>
    </table>

    <br />

    <table border="0" cellspacing="0" cellpadding="4" width="100%">
      <#AccessTitle>
        <#AccountSelectionWriteAccess />
      </#AccessTitle> 
    </table>

    <br />

    <table border="0" cellspacing="0" cellpadding="4" width="100%">
      <#HolidaysTitle>
        <tr>
          <#AttributeCell>
            <#Font>
              <#SchoolHolidayLabel />:
            </#Font>
          </#AttributeCell>
          <#ValueCell>
            <table cellspacing="0" cellpadding="0">
             <tr>
              <#SchoolHolidaysRepetition>
                <td>
                  <#Font>
                    <#HolidayEditable><#ShowHolidayCB /></#HolidayEditable>
                    <#ShowHolidayLabel />
                  </#Font>
                </td>
                <#MakeBR></tr><tr></#MakeBR>
              </#SchoolHolidaysRepetition>
             </tr>
            </table>
          </#ValueCell>
        </tr>
        <tr>
          <#AttributeCell>
            <#Font>
              <#HolidayGroupsLabel />:
            </#Font>
          </#AttributeCell>
          <#ValueCell>
            <table cellspacing="0" cellpadding="0">
	     <tr>
              <#HolidayGroupRepetition>
                <td>
                  <#Font>
                    <#HolidayEditable><#ShowHolidayCB /></#HolidayEditable>
                    <#ShowHolidayLabel />
                  </#Font>
                </td>
                <#MakeBR></tr><tr></#MakeBR>
              </#HolidayGroupRepetition>
             </tr>
            </table>
          </#ValueCell>
        </tr>
        <tr>
          <#AttributeCell>
            <#Font><#RestHolidayLabel />:</#Font>
          </#AttributeCell>
          <#ValueCell>
            <table cellspacing="0" cellpadding="0">
             <tr>
              <#RestHolidaysRepetition>
                <td>
                  <#Font>
                    <#HolidayEditable><#ShowHolidayCB /></#HolidayEditable>
                    <#ShowHolidayLabel />
                  </#Font>
                </td>
                <#MakeBR></tr><tr></#MakeBR>
              </#RestHolidaysRepetition>  
             </tr>
            </table>
          </#ValueCell>
        </tr>
        <tr>
          <#AttributeCell>
            <#Font><#CustomHolidaysLabel />:</#Font>
          </#AttributeCell>
          <#ValueCell>
            <#Font>
              <#FormatExample /><br />
              <#FormatExample2 /><br />
            </#Font>
            <#CustomHolidays />
          </#ValueCell>
        </tr>
      </#HolidaysTitle>
    </table>

    <br />

    <table border="0" cellspacing="0" cellpadding="4" width="100%">
      <#MailTemplateTitle>
          <#Font>
            <#TemplateDateFormat />
          </#Font>
          <#EditorMailTemplate>
            <table>
              <#BindingRep>
                <tr>
                  <td align="right">
                    <#Font><#BLabel />:</#Font>
                  </td>
                  <td>
                    <#Font>&nbsp;$<#BValue />$</#Font>
                  </td>
                </tr>
              </#BindingRep>
            </table>
          </#EditorMailTemplate>
          <#AttachAppointmentsToMail />
      </#MailTemplateTitle>

        <#IsRoot>

        <tr><td colspan="2"></td></tr>
          <#AccessWindowTitle>
          <tr>
            <#AttributeCell>
              <#Font><#SchedulerTimeInputTypeLabel />:</#Font>
            </#AttributeCell>
  
            <#ValueCell>
              <#EditFont><#SchedulerTimeInputTypeAccess /></#EditFont>
            </#ValueCell>
          </tr>
          <tr>
            <#AttributeCell>
              <#Font><#SchedulerAptTypeInputTypeLabel />:</#Font>
            </#AttributeCell>
            <#ValueCell>
              <#EditFont><#SchedulerAptTypeInputTypeAccess /></#EditFont>
            </#ValueCell>
          </tr>
          <#ShowNotificationDevicesRootCond>
             <tr>
               <#NotificationDevicesAccessAttr>
                 <#NotificationDevicesAccess />
               </#NotificationDevicesAccessAttr>
             </tr>
           </#ShowNotificationDevicesRootCond>
           </#AccessWindowTitle>
        </#IsRoot>
        <tr>
          <td></td>
          <td>
            <#SaveSubmit />
            <#CancelButton />
          </td>
        </tr>
      </table>

  </#PreferencesForm>
 </#Window>

<script language="JavaScript">
<!-- hide
function searchFieldChanged() {
  document.editform.submit();
  return true;
}
// -->
</script>

</#Frame>
