<#Form>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr bgcolor="#E0E0E0">
      <td align="left" valign="middle" width="99%"
        ><#ExtendedCondElse><#CompanyFilterPopUp/></#ExtendedCondElse
        ><#ExtendedCond><#BigSearchField/></#ExtendedCond
        ><#TimeZonePopUp/><#IsWeekModeCond><#WeekPopUp/></#IsWeekModeCond
        ><#IsMonthModeCond><#MonthPopUp/></#IsMonthModeCond
        ><#ShowAptTypesCond><#AptTypeSelection/></#ShowAptTypesCond
        ><#ExtendLink><#ExtendImg/></#ExtendLink
        ><#Submit/></td>
      
      <#IsDayModeCond>
        <td align="right" valign="middle"><#LastDay><#LastDayImg/></#LastDay></td>
        <td align="right" valign="middle"><nobr><#ThisDay /></nobr></td>
        <td align="right" valign="middle"><#NextDay><#NextDayImg/></#NextDay></td>
      </#IsDayModeCond>
      
      <#IsWeekModeCond>
        <td align="right" valign="middle"><#LastWeek><#LastWeekImg/></#LastWeek></td>
        <td align="right" valign="middle"><nobr><#ThisWeek /></nobr></td>
        <td align="right" valign="middle"><#NextWeek><#NextWeekImg/></#NextWeek></td>
      </#IsWeekModeCond>

      <#IsMonthModeCond>
        <td align="right" valign="middle"><#LastMonth><#LastMonthImg/></#LastMonth></td>
        <td align="right" valign="middle"><nobr><#ThisMonth /></nobr></td>
        <td align="right" valign="middle"><#NextMonth><#NextMonthImg/></#NextMonth></td>
      </#IsMonthModeCond>

      <#IsYearModeCond>
        <td align="right" valign="middle"><#LastYear><#LastYearImg/></#LastYear></td>
        <td align="right" valign="middle"><nobr><#ThisYear /></nobr></td>
        <td align="right" valign="middle"><#NextYear><#NextYearImg/></#NextYear></td>
      </#IsYearModeCond>
    </tr>
    
    <#ExtendedCond>
      <tr bgcolor="#e0e0e0"><td  align="left" valign="middle">
      <table cellspacing="0" cellpadding="1" border="0">
      <#HasAccountsCond>
        <tr bgcolor="#e0e0e0">
          <th align="left" valign="top" colspan="12">
            <#Font><#AccountsLabel/></#Font>
          </th>
        </tr>
        <#AccountsList/>
      </#HasAccountsCond>
      
      <#HasPersonsCond>
        <tr bgcolor="#e0e0e0">
          <th align="left" valign="top" colspan="12">
            <#Font><#PersonsLabel/></#Font>
          </th>
        </tr>
        <#PersonsList/>
      </#HasPersonsCond>
      
      <#HasTeamsCond>
        <tr bgcolor="#E0E0E0">
          <th align="left" valign="top" colspan="12">
            <#Font><#TeamsLabel/></#Font>
          </th>
        </tr>
        <#TeamsList/>
      </#HasTeamsCond>
      
      <#HasResourcesCond>
        <tr bgcolor="#E0E0E0">
          <th align="left" valign="top" colspan="12">
            <#Font><#ResourcesLabel/></#Font>
          </th>
        </tr>
        <#ResourcesList/>
      </#HasResourcesCond>
      </table></td>
      
      <td align="right" valign="top"> &nbsp;</td>
      <td align="right" valign="top"> &nbsp;</td>
      <td align="right" valign="top"> &nbsp;</td>      
    </tr>
    </#ExtendedCond>
  </table>
</#Form>
