{
  skyp4_textedit_rows              = 20;
  skyp4_textedit_columns           = 80;
  skyp4_filelist_sortfield         = "NSFileName";
  skyp4_filelist_isdescending      = NO;
  skyp4_filelist_cachetimeout      = 30; // seconds
  skyp4_filelist_batchsize         = 200;
  skyp4_filelist_autoscrollsize    = 250;
  skyp4_move_filelist_sortfield    = "NSFileName";
  skyp4_move_filelist_isdescending = NO;
  skyp4_move_filelist_cachetimeout = 30; // seconds
  skyp4_move_filelist_batchsize    = 15;
  skyp4_desktop_batchsize          = 50;
  skyp4_desktop_autoscrollsize     = 100;
  skyp4_desktop_sortfield          = "name";
  skyp4_desktop_cachetimeout       = 30; // seconds
  skyp4_filelist_hide_folders      = NO;

  skyp4_project_groupings = (
  );
  skyp4_desktop_selected_projects  = ();

  skyp4_searchlist_cachetimeout    = 120; // seconds
  SkyAllowHTMLForms                = YES;
  
  // TODO: also in OGoProjectZip, problem with executing sequence
  zip     = "/usr/bin/zip";
  unzip   = "/usr/bin/unzip";
  zipinfo = "/usr/bin/zipinfo";
  rm      = "/bin/rm";
  diff    = "/usr/bin/diff";
  tar     = "/bin/tar";
  
  "skyp4_projectviewer_tab"  = "attributes";
  "skyp4_desktop_tab"        = "favorites";
  "skyp4_documentviewer_tab" = "attributes";
  
  skyp4_desktop_tabs = (
    { key = ppublic;   labelKey = common;   qualifier = "type='common'";   },
    { key = pprivate;  labelKey = private;  qualifier = "type='private'";  },
    { key = parchived; labelKey = archived; qualifier = "type='archived'"; },
  );
  
  OGoDebugBLOBViewerLookup = NO;
  LSPluginViewerEnabled    = YES;  // Note: also in LSWProject
}
