// $Id$
{
  SkyPalmAddressEditor_note_rows           = 6;
  SkyPalmAddressEditor_note_cols           = 40;

  SkyPalmDateEditor_note_rows              = 6;
  SkyPalmDateEditor_note_cols              = 40;
  
  SkyPalmMemoEditor_memo_rows              = 6;
  SkyPalmMemoEditor_memo_cols              = 40;

  SkyPalmJobEditor_note_rows               = 6;
  SkyPalmJobEditor_note_cols               = 40;

  "SkyPalmPreferences_show_address"        = 1;
  "SkyPalmPreferences_show_date"           = 1;
  "SkyPalmPreferences_show_memo"           = 1;
  "SkyPalmPreferences_show_job"            = 1;

  "SkyPalmAddressEditor_expand_attributes" = 1;

  "SkyPalmDateEditor_expand_attributes"    = 1;
  "SkyPalmDateEditor_expand_repeat"        = 1;
  "SkyPalmDateList_PalmDateViewer_Attributes" = (
    attribute_startdate,
    attribute_enddate,
    attribute_description
  );
  "SkyPalmDateList_PalmDateViewer_BlockSize"      = 10;
  "SkyPalmDateList_PalmDateViewer_HideDeleted"    = 0;
  "SkyPalmDateList_PalmDateViewer_SortKey"        = startdate;
  "SkyPalmDateList_PalmDateViewer_AutoscrollSize" = 0;

  "SkyPalmMemoEditor_expand_attributes"    = 1;

  "SkyPalmJobEditor_expand_attributes"     = 1;
  
  "SkyPalmAddressList__AutoscrollSize" = 0;
  "SkyPalmAddressList__BlockSize"      = 150;
  "SkyPalmAddressList__HideDeleted"    = 1;
  "SkyPalmAddressList__SortKey"        = categoryName;
  "SkyPalmAddressList__SortOrder"      = 0;

  "SkyPalmMemoList__AutoscrollSize" = 0;
  "SkyPalmMemoList__BlockSize"      = 150;
  "SkyPalmMemoList__HideDeleted"    = 1;
  "SkyPalmMemoList__SortKey"        = categoryName;
  "SkyPalmMemoList__SortOrder"      = 0;

  "SkyPalmJobList__AutoscrollSize" = 0;
  "SkyPalmJobList__BlockSize"      = 150;
  "SkyPalmJobList__HideDeleted"    = 1;
  "SkyPalmJobList__SortKey"        = isCompleted;
  "SkyPalmJobList__SortOrder"      = 0;

  "SkyPalmDateList__AutoscrollSize" = 0;
  "SkyPalmDateList__BlockSize"      = 150;
  "SkyPalmDateList__HideDeleted"    = 1;
  "SkyPalmDateList__SortKey"        = startdate;
  "SkyPalmDateList__SortOrder"      = 0;

  SkyPalmSync_preSyncWithSkyrix     = YES;
  SkyPalmSync_postSyncWithSkyrix    = NO;

  "OGoPalmAddress_Person_AttributeMapping" = {
     company = nickname;
     custom1 = "job_title";
     custom2 = degree;
     custom3 = url;
     custom4 = middlename;
     email = email1;
     fax = "10_fax";
     firstname = firstname;
     home = "05_tel_private";
     lastname = name;
     main = "02_tel";
     note = comment;
     other = "15_fax_private";
     title = "job_title";
     work = "01_tel";
  };
    "SkyPalmAddressList__Attributes" = (
        "attribute_description",
        "attribute_categoryName",
        "attribute_skyrixRecord",
        "attribute_skyrixSync",
        "attribute_palmSync",
        "attribute_main"
    );
    "SkyPalmDateList__Attributes" = (
        "attribute_date",
        "attribute_description",
        "attribute_repeat",
        "attribute_skyrixRecord",
        "attribute_skyrixSync",
        "attribute_palmSync"
    );
    "SkyPalmJobList__Attributes" = (
        "attribute_jobStatus",
        "attribute_description",
        "attribute_skyrixRecord",
        "attribute_skyrixSync",
        "attribute_palmSync",
        "attribute_duedate",
        "attribute_categoryName",
        "attribute_priority"
    );
    "SkyPalmMemoList__Attributes" = (
        "attribute_memo",
        "attribute_categoryName",
        "attribute_skyrixRecord",
        "attribute_skyrixSync",
        "attribute_palmSync"
    );
}
