{
  bundleHandler = PropertiesUI;

  requires = {
    bundleManagerVersion = 1;

    classes = (
      { name = NSObject;       },
      { name = WOComponent;    },
      { name = OGoComponent;   },
      { name = OGoContentPage; },
    );
  };
  
  provides = {
    classes = (
        { name = PropertiesUI;     },
        { name = SkyObjectPropertyViewer; },
        { name = SkyObjectPropertyEditor; },
        { name = OGoObjPropInlineEditor;  },
    );
    WODynamicElements = (
    );
    WOComponents = (
        { name = SkyObjectPropertyViewer; },
        { name = SkyObjectPropertyEditor; },
        { name = OGoObjPropInlineEditor;  },
    );
  };
}
