{
  bundleHandler = RegUIModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSAccount; type = cmd; },
    );
    classes = (
      { name = NSObject;          },
      { name = OGoModuleManager;  exact-version = 2; },
      { name = SkyAttributeCell; },
      { name = SkyValueCell;     },
    );
  };
  
  provides = {
    classes = (
        { name = RegUIModule; },
        { name = OGoRegPage;  },
    );
    
    DockablePages = (
      {   
        name      = "Registration";
        component = "OGoRegPage";
        labelKey  = "Registration";
        image     = "menu_bookmarks.gif"; // TODO: need one with label (orange)
        listicon  = "icon_bookmarks_26x21.gif";
      }
    );
    
    WOComponents = (
        { name = OGoRegPage;  },
    );
    
    PreferencePages = (
    );

    LSWCommands = (
    );
  };
}
