<!-- $Id: LSWTeamViewer.html 2 2004-08-20 11:37:44Z znek $ -->

<#Frame>
  <#Window>
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
      <#Title><#Buttons/></#Title>

      <#IsRootCondition    ><#TeamViewer            /></#IsRootCondition>
      <#IsRootConditionElse><#TeamViewerWithoutLinks/></#IsRootConditionElse>

      <tr>
        <#AttributeCell><#Font><#LocationTeamLabel/>:</#Font></#AttributeCell>
        
        <#ValueCell><#Font><#IsLocationTeam/></#Font></#ValueCell>
      </tr>
      
      <#IsMailConfigEnabled>
        <#ExportTeam  />
        <#VAddresses  />
        <#MailboxName />
      </#IsMailConfigEnabled>
    </table>
  </#Window>
</#Frame>
