{
  CVSID = "$Id$";
  bundleHandler = "SkyBaseBundleManager";

  requires = {
    bundleManagerVersion = 1;
  };

  provides = {
    classes = (
      { name = SkyBaseBundleManager;        },
      { name = SkyLogDataSource;            },
      { name = SkyLogDocument;              },
    );
    datasources = (
      { name = SkyLogDataSource;            },
    );
  };
}
