{
  bundleHandler = LSProjectCommands;

  requires = {
    bundleManagerVersion = 1;
    bundles = (
      { name = LSAddress; type = cmd; },
      { name = LSSearch;  type = cmd; }
    );
    classes = (
    );
  };
  
  provides = {
    LSCommands = (
        { name = "note::delete";                          },
        { name = "note::get";                             },
        { name = "note::get-attachment-name";             },
        { name = "note::get-current-owner";               },
        { name = "note::new";                             },
        { name = "note::set";                             },
        { name = "project::add-favorite";                 },
        { name = "project::archive";                      },
        { name = "project::assign-accounts";              },
        { name = "project::assignpartners";               },
        { name = "project::check-get-permission";         },
        { name = "project::check-permission";             },
        { name = "project::check-write-permission";       },
        { name = "project::delete";                       },
        { name = "project::extended-search";              },
        { name = "project::get";                          },
        { name = "project::get-accounts";                 },
        { name = "project::get-by-globalid";              },
        { name = "project::get-comment";                  },
        { name = "project::get-company-assignment";       },
        { name = "project::get-favorite-ids";             },
        { name = "project::get-index-document";           },
        { name = "project::get-jobs";                     },
        { name = "project::get-owner";                    },
        { name = "project::get-persons";                  },
        { name = "project::get-root-document";            },
        { name = "project::get-status";                   },
        { name = "project::get-team";                     },
        { name = "project::new";                          },
        { name = "project::remove-favorite";              },
        { name = "project::set";                          },
        { name = "project::setpersons";                   },
        { name = "project::setstatus";                    },
        { name = "projectcompanyassignment::delete";      },
        { name = "projectcompanyassignment::get";         },
        { name = "projectcompanyassignment::new";         },
        { name = "projectcompanyassignment::set";         },
    );
    classes = (
        { name = LSAddProjectToFavoritesCommand;             },
        { name = LSArchiveProjectCommand;                    },
        { name = LSCheckGetPermissionProjectCommand;         },
        { name = LSCheckPermissionProjectCommand;            },
        { name = LSCheckWritePermissionProjectCommand;       },
        { name = LSDeleteProjectCommand;                     },
        { name = LSFetchAccountRelationCommand;              },
        { name = LSFetchEnterpriseRelationCommand;           },
        { name = LSFetchPersonRelationCommand;               },
        { name = LSFetchTeamRelationCommand;                 },
        { name = LSGetAttachmentNameCommand;                 },
        { name = LSGetFavoriteProjectIdsCommand;             },
        { name = LSGetProjectCommand;                        },
        { name = LSGetProjectForGlobalIDs;                   },
        { name = LSGetResourcesCommand;                      },
        { name = LSNewNoteCommand;                           },
        { name = LSNewProjectCommand;                        },
        { name = LSProjectAssignmentCommand;                 },
        { name = LSProjectCommands;                          },
        { name = LSProjectStatusCommand;                     },
        { name = LSRemoveProjectFromFavoritesCommand;        },
        { name = LSSetNoteCommand;                           },
        { name = LSSetPersonsForProjectCommand;              },
        { name = LSSetProjectCommand;                        },
        { name = LSSetResourceAssignmentCommand;             },
    );
  };
}
