{
  LSAttachmentPath                   = "/var/lib/opengroupware.org/documents";
  UseFlatDocumentFileStructureStatus = NO;
  LSJobImportFormat = {
    Seperator = ";";
    Format = (
      "HierachieNumber",
      "name",
      "startDate",
      "endDate",
      "ExecutantToken"
    );
  };
  skyp4_log_documentdownload = YES;
  UseFoldersForIDRanges = YES;
}
