{
  bundleHandler = LSBaseCommands;

  requires = {
    bundleManagerVersion = 1;

    bundles = (
      { name = OGo; type = model; }
    );    
    classes = (
      { name = NSObject;                 },
      { name = LSBaseCommand;            },
      { name = LSDBObjectDeleteCommand;  },
      { name = LSDBObjectSetCommand;     },
      { name = LSDBObjectGetCommand;     },
      { name = LSDBFetchRelationCommand; },
      { name = LSModuleManager; exact-version = 1; }
    );
  };
  
  provides = {
    LSCommands = (
        { name = "system::transaction"         },
        { name = "system::get-object-type"     },
        { name = "system::sort"                },
        { name = "system::login"               },
        { name = "system::crypt"               },
        { name = "system::newkey"              },
        { name = "system::ctx2cmd"             },
        { name = "system::ctxlog"              },
        { name = "system::su"                  },
        { name = "sessionlog::add"             },
        { name = "sessionlog::query"           },
        { name = "sessionlog::get-by-globalid" },
        { name = "object::get-type"            },
        { name = "object::add-log"             },
        { name = "object::get-logs"            },
        { name = "object::increase-version"    },
        { name = "log::set-actor"              },
        { name = "log::since"                  },
        { name = "object::get-current-log"     },
        { name = "object::get-by-globalid"     },
        { name = "object::increment-ctag"      },
    );
    classes = (
        { name = LSBaseCommands;               },
        { name = LSGetObjectTypeCommand;       },
        { name = LSCryptCommand;               },
        { name = LSSystemCtxLogCommand;        },
        { name = LSSystemCtxTransferCommand;   },
        { name = LSAddSessionLogCommand;       },
        { name = LSQuerySessionLogs;           },
        { name = LSGetSessionLogsForGlobalIDs; },
        { name = LSGetObjectByGlobalID;        },
        { name = LSSuperUserCommand;           },
        { name = LSQueryLogsSince;             },
        { name = LSIncrementCTagCommand;       },
    );
  };
}
