{
  domainList = (
    system,
    object,
    log,
    sessionlog
  );

  domains = {
    "object" = {
      operations = {
        "get-type"         = { class = "LSGetObjectTypeCommand";    };
        "add-log"          = { class = "LSAddLogCommand";           };
        "remove-logs"      = { class = "LSRemoveLogsCommand";       };
        "get-logs"         = { class = "LSGetLogsCommand";          };
        "increase-version" = { class = "LSIncreaseVersionCommand";  };
        "get-current-log"  = { class = "LSGetCurrentLogCommand";    };
        "get-by-globalid"  = { class = "LSGetObjectByGlobalID";     };
        "increment-ctag"   = { class = "LSIncrementCTagCommand";    };
      };
    };
    "sessionlog" = {
      operations = {
        "add"             = { class = "LSAddSessionLogCommand";       };
        "query"           = { class = "LSQuerySessionLogs";           };
        "get-by-globalid" = { class = "LSGetSessionLogsForGlobalIDs"; };
      };
    };
    "log" = {
      operations = {
        "delete"      = { class  = "LSDBObjectDeleteCommand";      
                          entity = "Log";
        };
        "since"       = { class  = "LSQueryLogsSince";      
                          entity = "Log";
        };
        "set-actor"   = { 
          class = "LSDBFetchRelationCommand"; 
          init  = {
             entity                = "Log";
             destinationEntityName = "Person";
             sourceKey             = "accountId";
             destinationKey        = "companyId";
             isToMany              = NO;
          };
        };
      };
    };
    "system" = {
      operations = {
        "get-object-type" = { class = "LSGetObjectTypeCommand";       };
        "get-entity-ctag" = { class = "LSGetCTagForEntityCommand";    };
        "transaction"     = { class = "LSDBObjectTransactionCommand"; };
        "sort"            = { class = "LSSortCommand";                };
        "login"           = { class = "LSLoginCommand";               };
        "crypt"           = { class = "LSCryptCommand";               };
        "newkey"          = { class = "LSDBObjectNewKeyCommand";      };
        "ctx2cmd"         = { class = "LSSystemCtxTransferCommand";   };
        "ctxlog"          = { class = "LSSystemCtxLogCommand";        };
        "su"              = { class = "LSSuperUserCommand";           };
      };
    };
  };
}
