// $Id$
{
  bundleHandler = LSWMailModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSMail; type = cmd; } 
    );
    classes = (
      { name = NSObject;          },
      { name = LSWModuleManager;  exact-version = 2; },
      { name = LSWComponent;      exact-version = 2; },
      { name = LSWContentPage;    exact-version = 3; },
      { name = LSWObjectMailPage; exact-version = 2; },
      { name = LSWSession;        version = 9;       },
      { name = WOHyperlink;       version = 4;       },
      { name = SkyAttributeCell; },
      { name = SkyValueCell;     }
    );
  };
  
  provides = {
    classes = (
        { name = LSWMailModule;               },
        { name = LSWMailRenderPage;           },
        { name = LSWMailHtmlRenderPage;       },
        { name = LSWMailTextRenderPage;       },
        { name = LSWObjectHtmlMailPage;       },
        { name = LSWObjectTextMailPage;       },
        { name = LSWDeletedObjectViewer;      },
        { name = LSWMailFilterEditor;         },
    );
    
    WOComponents = (
        { name = LSWMailHtmlRenderPage;         },
        { name = LSWMailTextRenderPage;         },
        { name = LSWObjectHtmlMailPage;         },
        { name = LSWObjectTextMailPage;         },
        { name = LSWDeletedObjectViewer;        },
        { name = LSWMailFilterEditor;           },
    );

    LSWCommands = (
      { verb = new;    type = "eo/email-filter";
        component = LSWMailFilterEditor;
      },
      { verb = edit;    type = "eo/email-filter";
        component = LSWMailFilterEditor;
      },
      { 
        verb = mailview; type = "eo/deleted";
        component = LSWDeletedObjectViewer;
      }
    );
  };
}
