{
  bundleHandler = LSAddressCommands;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSSearch; type = cmd; }
    );
    
    classes = (
      { name = NSObject;              },
      { name = LSBaseCommand;            exact-version = 1; },
      { name = LSDBObjectBaseCommand;    exact-version = 1; },
      { name = LSDBObjectDeleteCommand;  exact-version = 1; },
      { name = LSDBObjectSetCommand;     exact-version = 2; },
      { name = LSDBObjectGetCommand;     exact-version = 3; },
      { name = LSDBFetchRelationCommand; exact-version = 1; },
      { name = LSExtendedSearchCommand;  exact-version = 2; }
    );
  };
  
  provides = {
    LSCommands = (
        { name = "address::build-converter-data";  },
        { name = "address::convert";               },
        { name = "address::delete";                },
        { name = "address::fetchAttributes";       },
        { name = "address::fetchRelations";        }, // TODO?? does not exist?
        { name = "address::get";                   },
        { name = "address::new";                   },
        { name = "address::set";                   },
        { name = "bookmark::get";                  },
        { name = "bookmark::new";                  },
        { name = "company::get";                   },
        { name = "company::get-vcard";             },
        { name = "company::set-vcard";             },
        { name = "companyassignment::delete";      },
        { name = "companyassignment::get";         },
        { name = "companyassignment::new";         },
        { name = "companyassignment::set";         },
        { name = "companycategory::delete";        },
        { name = "companycategory::get";           },
        { name = "companycategory::new";           },
        { name = "companycategory::set";           },
        { name = "companycategory::set-all";       },
        { name = "companyvalue::delete";           },
        { name = "companyvalue::get";              },
        { name = "companyvalue::get-by-globalid";  },
        { name = "companyvalue::new";              },
        { name = "companyvalue::query";            },
        { name = "companyvalue::set";              },
        { name = "login::check-login";             },
        { name = "staff::delete";                  },
        { name = "staff::get";                     },
        { name = "staff::get-by-globalid";         },
        { name = "telephone::delete";              },
        { name = "telephone::get";                 },
        { name = "telephone::new";                 },
        { name = "telephone::set";                 },
        { name = "userdefaults::delete";           },
        { name = "userdefaults::get";              },        
        { name = "userdefaults::register";         },
        { name = "userdefaults::write";            },
    );
    classes = (
        { name = LSAddressCommands;                   },
        { name = LSCheckLoginCommand;                 },
        { name = LSDeleteCompanyCommand;              },
        { name = LSGetCompanyForMemberCommand;        },
        { name = LSGetMemberForCompanyCommand;        },
        { name = LSGetStaffForGlobalIDsCommand;       },
        { name = LSGroupToMemberAssignmentCommand;    },
        { name = LSNewCompanyCommand;                 },
        { name = LSSetCategoriesCommand;              },
        { name = LSSetCompanyCommand;                 },
        { name = LSRegisterUserDefaultsCommand;       },
        { name = LSGetUserDefaultsCommand;            },        
        { name = LSWriteUserDefaultsCommand;          },
        { name = LSProjectsToCompanyAssignmentCommand;},
        { name = LSChangeLoginStatusCommand;          },
        { name = LSFetchExtendedAttributesCommand;    },
        { name = LSGetCompanyCommand;                 },
        { name = LSAddressFetchAttributesCommand;     },        
        { name = LSAddressConverterCommand;           },
        { name = LSBuildConverterDataCommand;         },
        { name = LSGroupToMemberAssignmentCommand;    },
        { name = LSMemberToGroupAssignmentCommand;    },
        { name = LSNewTelephoneCommand;               },
        { name = LSSetTelephoneCommand;               },
        { name = LSGetVCardForGlobalIDsCommand;       },
        { name = LSSetVCardCommand;                   }
    );

    SkyAccessHandlers = (
      { name = "Person";     },
      { name = "Company";    },
      { name = "Enterprise"; },
      { name = "Team";       }
    );
  };

  SkyAccessHandlers = {
    Person         = "OGoCompanyAccessHandler";
    Enterprise     = "OGoCompanyAccessHandler";
    Company        = "OGoCompanyAccessHandler";
    Team           = "OGoCompanyAccessHandler";
  };
}
