{
  bundleHandler = LSNewsCommands;

  requires = {
    bundleManagerVersion = 1;
    classes = (
    );
  };
  
  provides = {
    LSCommands = (
        { name = "newsarticle::new";                  },
        { name = "newsarticle::set";                  },
        { name = "newsarticle::delete";               },
        { name = "newsarticle::get";                  },
        { name = "newsarticle::get-related-articles"; },
        { name = "newsarticle::set-related-articles"; },
        { name = "newsarticlelink::new";              },
        { name = "newsarticlelink::delete";           }
    );
    
    classes = (
        { name = LSNewsCommands;              },
        { name = LSGetRelatedArticlesCommand; },
        { name = LSDeleteNewsArticleCommand;  },
        { name = LSNewNewsArticleCommand;     },
        { name = LSSetNewsArticleCommand;     },
        { name = LSSetRelatedArticlesCommand; }
    );
  };
}
