{
  bundleHandler = OGoCyrusAdminUIModule;

  requires = {
    bundleManagerVersion = 1;

    bundles = ( 
      { name = LSAddress;     type = cmd; },
      { name = BaseUI;        type = lso; },
      { name = OGoUIElements; type = lso; },
    );
    classes = (
      { name = LSWComponent;   exact-version = 2; },
      { name = LSWContentPage; exact-version = 3; },
      { name = SkyAttributeCell; },
      { name = SkyValueCell;     }
    );
  };
  
  provides = {
    classes = (
      { name = OGoCyrusAdminUIModule; },
      { name = OGoCyrusAdminPage;     },
    );

    DockablePages = (
      { 
        name      = "Cyrus Admin";
        component = "OGoCyrusAdminPage";
        labelKey  = "dock_cyrusadminapp";
        listicon  = "icon_usermanager_26x21.gif";
        onlyRoot  = YES;
      }
    );
    
    WOComponents = (
      { name = OGoCyrusAdminPage;          },
    );
    
    LSWCommands = (
    );
  };
}
