<html>
  <head>
    <title>OpenGroupware.org</title>
    <#Stylesheet />
  </head>

  <body id="LoginPageBody">
    <table id="mainheader" 
	   cellpadding="0" cellspacing="0" border="0" width="98%">
      <tr>
        <td align="left" valign="bottom" width="50%" class="headline">
          <nobr>
            <a href="http://www.opengroupware.org/en/about/" 
	       target="OGo">About</a>   |
            <a href="http://www.opengroupware.org/en/projects/documentation/"
               target="OGo">Docs</a> |
	    <a href="http://www.opengroupware.org/en/users/faq/index.html"
	       target="OGo">FAQ</a>     |
	    <a href="http://www.opengroupware.org/en/license/"
	       target="OGo">License</a> |
	    <a href="http://www.opengroupware.org/en/users/support/"
	       target="OGo">Support</a> |
            <a href="http://www.opengroupware.org/en/devs/bugs/"
	       target="OGo">Report Bugs!</a>
          </nobr>
        </td>
        <td align="right"><a href="http://www.opengroupware.org/" target="OGo"
           ><#MenuLogoTop/></a></td>
      </tr>
    </table>
    <table cellpadding="0" cellspacing="0" id="headerline" width="98%">
      <tr>
        <td class="linecolor"><#LineLeft /></td>
        <td class="linecolor" width="100%"><#LinePix /></td>
        <td class="linecolor"><#LineRight /></td>
      </tr>
    </table>
    <div id="resistance">resistance is obsolete &trade; ;-) </div>


<p align>&nbsp;</p>
<p align="center">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td valign="middle" align="center">
 
    <#SkyrixIsDown>
        <table border="0">
          <tr>
            <td>
              <b>
                The SKYRIX application server could not connect to the
                database server !<br />
                <br />
                Please ensure that your database server is running
                and that the LSConnectionDictionary default is
                correctly set.<br />
                <br />
              </b>
              <hr size='1' noshade="noshade" />
              <b>Current database configuration:</b>
              <table border="0">
                <tr>
                  <td><i>database:</i></td>
                  <td><#Database /></td>
                </tr>
                <tr>
                  <td><i>server:</i></td>
                  <td><#DBServer /></td>
                </tr>
                <tr>
                  <td><i>user:</i></td>
                  <td><#DBUser /></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </#SkyrixIsDown>

      <#SkyrixIsUp>
        &nbsp;
        <table border="0">
          <tr>
            <td align="center" valign="middle">
              <#Form>
                <#BrowserConfigDetect />
                <#AuthURLField />

                <table border="0">
                  <#IsLoginNotAuthorizedCond>
                    <tr>
                      <td align="right" colspan="2"
                          ><#Font><b><#LoginIsNotAuthorizedLabel 
                                        /></b></#Font></td>
                    </tr>
                    <tr><td colspan="2"></td></tr>
                  </#IsLoginNotAuthorizedCond>
                
                  <tr>
                    <td align='right'><#Font><#LoginLabel />:</#Font></td>
                    <td><#EditFont><#Login /></#EditFont></td>
                  </tr>
                  <tr>
                    <td align='right'><#Font><#PasswordLabel />:</#Font></td>
                    <td><#EditFont><#Password /></#EditFont></td>
                  </tr>
                
                  <#DirectActionIsSet>
                    <tr>
                      <td valign='top' align='right'
                          ><#Font>Execute:</#Font></td>
                      <td>
                        <#Font>
                        <i><b>
                          <#DAName /><br />
                          <#DAClass />
                        </b></i>
                        </#Font>
                      </td>
                    </tr>
                  </#DirectActionIsSet>

                  <tr>
                    <td></td>
                    <td><#Go />
                     <#IsAutoLogin>
                      <script language="JavaScript">
                      <!-- hide from older browsers
                         if (document.loginform) {
                            document.loginform.submit();
                         }
                      // -->
                      </script>
                     </#IsAutoLogin>
                    </td>
                  </tr>
                </table>
              </#Form>
            </td>
          </tr>
        </table>
      </#SkyrixIsUp>

      </td>
      <td align="center"><#Image2HomePage /></td>
    </tr>
    <tr>
      <td colspan="2">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr><td colspan="3">&nbsp;</td></tr>
          <tr>
            <td class="linecolor"><#LineLeft /></td>
            <td class="linecolor" width="100%"><#LinePix /></td>
            <td class="linecolor"><#LineRight /></td>
          </tr>
          <tr><td colspan="3"></td><tr>
          <tr>
            <td colspan="3" align="center"><#Font><small>
              &copy; 2000-2009
    	      <a href="http://www.opengroupware.org/" target="skyrix" 
    	         style="text-decoration:none;"
                 ><font color="#000000">SKYRIX Software AG</font></a>.
              </small></#Font>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</p>

    <#SkyrixIsUp>
      <script language="JavaScript">
      <!-- hide from older browsers
        if (document.loginform.browserconfig) {
          document.loginform.browserconfig.value="{isJavaScriptEnabled=YES;}";
        }
        if (document.loginform.login) {
          document.loginform.login.focus();
          document.loginform.login.select();
        }
      // -->
      </script>
    </#SkyrixIsUp>
  </body>
</html>
