<table border="0" cellpadding="0" cellspacing="1" width="100%">
  <tr>
    <td bgcolor="#D0D0D0" align="center"><#Font>
      <b><#SelectionTitle/></b></#Font>
    </td>
    <td bgcolor="#D0D0D0" align="center"><#Font>
      <b><#NonSelectionTitle/></b></#Font>
    </td>
  </tr>

  <tr>
    <#IsSelectionEmpty>
      <#IsJS><#SelectionRepDrop/></#IsJS>
      <#IsNonJS>
        <td align="left" bgcolor="#E0E0E0" valign="top" width="50%">
          &nbsp;
        </td>
      </#IsNonJS>
    </#IsSelectionEmpty>

<#IsSelectionNotEmpty>
  <td align="left" bgcolor="#e0e0e0" width=50% valign="top">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <#SelectionRep>
        <tr>
          <#IsJS>
            <#SelectionRepDrop>
              <#Font>
                <#SelectionRepDrag><a href="#"><#ItemContent/></a>
                </#SelectionRepDrag>
              </#Font>
            </#SelectionRepDrop>
          </#IsJS>

          <#IsNonJS>
            <td valign="top" align="left" bgcolor="#E0E0E0">
              <#Font><#ItemContent/></#Font>
            </td>
            <td valign="top" align="right" bgcolor="#E0E0E0">
              <#IsFirst><#ImgUpBlind/></#IsFirst>
              <#IsNotFirst>
                <#IsInFormCond    ><#ImgUpButton/></#IsInFormCond>
                <#IsInFormCondElse><#ImgUpLink  /></#IsInFormCondElse>
              </#IsNotFirst>

              <#IsLast><#ImgDownBlind/></#IsLast>
              <#IsNotLast>
                 <#IsInFormCond    ><#ImgDownButton/></#IsInFormCond>
                 <#IsInFormCondElse><#ImgDownLink  /></#IsInFormCondElse>
              </#IsNotLast>

              <#IsInFormCond    ><#ImgRemoveButton/></#IsInFormCond>
              <#IsInFormCondElse><#ImgRemoveLink/></#IsInFormCondElse>
            </td>
          </#IsNonJS>
        </tr>
      </#SelectionRep>
    </table>
  </td>
</#IsSelectionNotEmpty>

  <#IsJS>
    <#ListRepDrop>
      <#Font>
        <#ListRep>
          <#ListRepDrag><a href="#"><#ItemContent/></a></#ListRepDrag><br />
        </#ListRep>
      </#Font>
    </#ListRepDrop>
  </#IsJS>
  
  <#IsNonJS>
    <td width="50%" align="left" valign="top" bgcolor="#E0E0E0">
      <#ListRep>
        <#Font>
          <#IsInFormCond    ><#ImgAddButton/></#IsInFormCond>
          <#IsInFormCondElse><#ImgAddLink/></#IsInFormCondElse>
          <#ItemContent/><br />
        </#Font>
      </#ListRep>
      &nbsp;
    </td>
  </#IsNonJS>
</tr>
</table>
