<#Frame>
  <!-- $Id: SkyRequestViewer.html,v 1.2 2004/05/01 13:55:46 helge Exp $ -->
  <#Window>
    <table width="100%" border="0" cellpadding="4" cellspacing="0">

      <#Title/>

      <tr>
        <td align="right" valign="top">Description:</td>
        <td><#Description/></td>
      </tr>

      <tr>
        <td align="right" valign="top">URI:</td>
        <td><#Uri/></td>
      </tr>
      <tr>
        <td align="right" valign="top">Application:</td>
        <td><#AppName/></td>
      </tr>
      <tr>
        <td align="right" valign="top">AdaptorPrefix:</td>
        <td><#AdaptorPrefix/></td>
      </tr>
      <tr>
        <td align="right" valign="top">HTTP-Version:</td>
        <td><#HttpVersion/></td>
      </tr>
      <tr>
        <td align="right" valign="top">Method:</td>
        <td><#Method/></td>
      </tr>
      <tr>
        <td align="right" valign="top">Languages:</td>
        <td><#BrowserLanguages/></td>
      </tr>
      <tr>
        <td align="right" valign="top">Cookies:</td>
        <td><#Cookies/></td>
      </tr>
      <tr>
        <td align="right" valign="top">UserInfo:</td>
        <td><#UserInfo/></td>
      </tr>

      <tr>
        <td align="right" valign="top">UserAgent:</td>
        <td><#UserAgent/></td>
      </tr>
      <tr>
        <td align="right" valign="top">UserAgentType:</td>
        <td><#UserAgentType/></td>
      </tr>
      <tr>
        <td align="right" valign="top">CPU/OS:</td>
        <td><#CPU/> / <#OS/></td>
      </tr>
      <tr>
        <td align="right" valign="top">Major/MinorVersion:</td>
        <td>
          <#MajorVersion/> /
          <#MinorVersion/>
          <#IsIE ><i>isIE</i></#IsIE>
          <#IsIE5><i>isIE5</i></#IsIE5>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top">Capabilities:</td>
        <td>
          <#IsJS         >JavaScript</#IsJS>
          <#IsVB         >VBScript</#IsVB>
          <#IsFastTable  >FastTables</#IsFastTable>
          <#IsCSS1       >CSS1</#IsCSS1>
          <#IsCSS2       >CSS2</#IsCSS2>
          <#IsXUL        >XUL</#IsXUL>
          <#IsText       >TextBrowser</#IsText>
          <#HasOverflow  >CSS-Overflow</#HasOverflow>
          <#HasDnD       >DnD</#HasDnD>
          <#HasDataIsland>XML-DataIslands</#HasDataIsland>
        </td>
      </tr>

      <tr>
        <td align="right" valign="top">Headers:</td>
        <td>
          <table border="0" width="100%">
            <#HeaderKeys>
              <tr>
                <td valign="top"><#HeaderKey/></td>
                <td><#HeaderValues><#HeaderValue/></#HeaderValues></td>
              </tr>
            </#HeaderKeys>
          </table>
        </td>
      </tr>

    </table>
  </#Window>
</#Frame>
