<#Frame>
  <#Window>
      <#Form>
        <table border="0" cellspacing="0" cellpadding="4" width="100%">
          <tr>
            <#AttributeCell>
              <#Font><#SearchEnterprise/>:</#Font>
            </#AttributeCell>
            <#ValueCell>
              <#EditFont><#SearchField/></#EditFont>
              <#SearchSubmit/>&nbsp;
              <hr size="1" />
            </#ValueCell>
          </tr>
    
          <#EnterpriseCond>
            <tr>
              <td>&nbsp;</td>
              <td>table><#EnterpriseRadioButtonList/></table></td>
            </tr>
          </#EnterpriseCond>
    
          <tr> 
            <td>&nbsp;</td>
            <#IsWizardMode>
              <td>
                <#IsBack   ><#Back   /></#IsBack>
                <#IsForward><#Forward/></#IsForward>
                <#IsFinish ><#Finish /></#IsFinish>&nbsp;&nbsp;
                <#Cancel/> 
              </td>
            </#IsWizardMode>
          </tr>
        </table>
      </#Form>
  </#Window>
</#Frame>
