<#Frame>
  <#Window>
    <#ShowsBulkOps><#BulkOps/></#ShowsBulkOps>

    <#TabBody>
      <#FavoritesTab>
        <#EnterpriseList><#Buttons/></#EnterpriseList>
      </#FavoritesTab>

      <#SearchTab>
          <table width="100%" cellpadding="0" sellspacing="0" border="0">
            <tr>
              <td align="left">
                <#Form>
                  <#SearchField/><#SearchSubmit/>
                  <#IsSearchLimited><#Font>&nbsp;&nbsp;
                    <#LimitedLabel/></#Font>
                  </#IsSearchLimited>
                </#Form>
              </td>
              <td align="right"><#SavedSearchPopUp/></td>
            </tr>
          </table>

          <#EnterpriseList><#Buttons/></#EnterpriseList>
      </#SearchTab>

      <#AdvSearchTab><#AdvancedSearch/></#AdvSearchTab>

      <#FullSearchTab>
          <#FullSearch/>
          <#EnterpriseList><#Buttons/></#EnterpriseList>
      </#FullSearchTab>

      <#CustomTabs>
          <#CustomTab>
            <#CustomLabel />
            <div align="right"><#CustomSavedSearchPopUp/></div>
            <#EnterpriseList><#CustomButtons/></#EnterpriseList>
          </#CustomTab>
      </#CustomTabs>

      <#ShowLetterButtons>
        <#IsNotTextMode>
          <#LetterRepetition>
            <#LetterTab>
              <#EnterpriseList><#Buttons/></#EnterpriseList>
            </#LetterTab>
          </#LetterRepetition>
        </#IsNotTextMode>
      </#ShowLetterButtons>
    </#TabBody>
  </#Window>

<script language="JavaScript">
<!-- hide
if (document.searchform) {
  if (document.searchform.search) {
    document.searchform.search.focus();
    document.searchform.search.select();
  }
  if (document.searchform.focusField) {
    document.searchform.focusField.focus();
    document.searchform.focusField.select();
  }
}
// -->
</script>

</#Frame>
