<#TableView>

  <#ButtonMode><#ButtonContent/></#ButtonMode>

  <#NameTD><#ViewAction/></#NameTD>
  <#NumberTD/>
  <#EmailTD><#Font><#MailLink/></#Font></#EmailTD>

  <#Phone1TD>
    <#Font><#PhoneDial><#PhoneNum/></#PhoneDial></#Font></#Phone1TD>
  
  <#UrlTD><#Font><#UrlLink/></#Font></#UrlTD>

  <#PFavoritesHeader>&nbsp;</#PFavoritesHeader>
  <#PFavorites>
    <#IsInFavoritesCond    ><#RemoveFromFavorites/></#IsInFavoritesCond>
    <#IsInFavoritesCondElse><#AddToFavorites     /></#IsInFavoritesCondElse>
  </#PFavorites>

  <!--#KeywordsTD/-->
</#TableView>
