{
  bundleHandler = LSTasksCommands;

  requires = {
    bundleManagerVersion = 1;
    bundles = (
      { name = LSSearch;  type = cmd; }
    );
    classes = (
    );
  };
  
  provides = {
    LSCommands = (
        { name = "job::allsubjobs-done";                  },
        { name = "job::assign-to-project";                },
        { name = "job::check-duration";                   },
        { name = "job::delete";                           },
        { name = "job::detach-from-project";              },
        { name = "job::extended-search";                  },
        { name = "job::filter-archivedjobs";              },
        { name = "job::filter-delegatedjobs";             },
        { name = "job::filter-todolist";                  },
        { name = "job::get";                              },
        { name = "job::get-archived-jobs";                },
        { name = "job::get-by-globalid";                  },
        { name = "job::get-delegated-jobs";               },
        { name = "job::get-duration";                     },
        { name = "job::get-executant-jobs";               },
        { name = "job::get-job-executants";               },
        { name = "job::get-job-history";                  },
        { name = "job::get-job-history-info";             },
        { name = "job::get-private-jobs";                 },        
        { name = "job::get-project";                      },
        { name = "job::get-project-jobs";                 },
        { name = "job::get-resources";                    },
        { name = "job::get-sub-jobs";                     },
        { name = "job::get-todo-jobs";                    },
        { name = "job::getparentjobs";                    },
        { name = "job::import";                           },
        { name = "job::jobaction";                        },
        { name = "job::move";                             },
        { name = "job::new";                              },
        { name = "job::remove-waste-jobs";                },
        { name = "job::resume";                           },
        { name = "job::set";                              },
        { name = "job::set-resources";                    },
        { name = "job::setactor";                         },
        { name = "job::setcreator";                       },
        { name = "job::setexecutant";                     },
        { name = "job::qsearch";                          },
        { name = "job::get-delegated-rss";                },
        { name = "job::get-todo-rss";                     },
        { name = "job::get-project-task-rss";             },
        { name = "jobassignment::delete";                 },
        { name = "jobassignment::get";                    },
        { name = "jobassignment::new";                    },
        { name = "jobassignment::set";                    },
        { name = "jobhistory::delete";                    },
        { name = "jobhistory::get";                       },
        { name = "jobhistory::new";                       },
        { name = "jobhistory::set";                       },
        { name = "jobresourceassignment::delete";         },
        { name = "jobresourceassignment::get";            },
        { name = "jobresourceassignment::new";            },
        { name = "jobresourceassignment::set";            },
    );

    classes = (
      { name = LSTasksCommands;                },
      { name = LSAllSubJobsDoneJobCommand;     },
      { name = LSAssignProjectToJobCommand;    },
      { name = LSDeleteJobCommand;             },
      { name = LSDeleteJobHistoryCommand;      },
      { name = LSDetachProjectFromJobCommand;  },
      { name = LSFetchArchivedJobsCommand;     },
      { name = LSFetchDelegatedJobsCommand;    },
      { name = LSGetDelegatedActionsAsRSSCommand; },
      { name = LSGetToDoActionsAsRSSCommand;   },
      { name = LSGetProjectTaskActionsAsRSSCommand; },
      { name = LSFetchJobCommand;              },
      { name = LSFetchJobExecutantCommand;     },
      { name = LSFetchJobsForExecutantCommand; },
      { name = LSFetchPrivateJobsCommand;      },
      { name = LSFetchProjectJobsCommand;      },
      { name = LSFetchProjectToJobCommand;     },
      { name = LSFetchProjectToRootJobCommand; },
      { name = LSFetchToDoJobsCommand;         },
      { name = LSFilterArchivedJobCommand;     },
      { name = LSFilterDelegatedJobCommand;    },
      { name = LSFilterJobCommand;             },
      { name = LSFilterToDoListJobCommand;     },
      { name = LSGetJobsForGlobalIDs;          },
      { name = LSGetParentJobsCommand;         },
      { name = LSImportJobCommand;             },
      { name = LSJobActionCommand;             },
      { name = LSNewJobCommand;                },
      { name = LSNewJobHistoryCommand;         },
      { name = LSRemoveWasteJobsCommand;       },
      { name = LSSetJobCommand;                },
      { name = LSTasksCommands;                },
      { name = OGoJobAccessHandler;            },
      { name = LSQualifierSearchTaskCommand;   },
    );

    SkyAccessHandlers = (
      { name = "Job"; },
    );
  };
  SkyAccessHandlers = {
    Job         = "OGoJobAccessHandler";
  };
}
