{
  domainList = ( job, jobhistory );

  domains = {
    job = {
      operations = {
        new          = { class = "LSNewJobCommand";     };
        delete       = { class = "LSDeleteJobCommand";  };
        jobaction    = { class = "LSJobActionCommand";  };
        setcreator   = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Job"; 
                destinationEntityName = "Person"; 
                sourceKey             = "creatorId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          }; 
        };
        setexecutant = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Job"; 
                destinationEntityName = "Person"; 
                sourceKey             = "executantId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          }; 
        };
        setexecutantteam = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Job"; 
                destinationEntityName = "Team"; 
                sourceKey             = "executantId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          }; 
        };
        "get-job-executants" = { 
          class  = "LSFetchJobExecutantCommand"; 
        };
        setactor = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "JobHistory"; 
                destinationEntityName = "Person"; 
                sourceKey             = "actorId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          }; 
        };
        "get-job-history-info" = {
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "JobHistory"; 
                destinationEntityName = "JobHistoryInfo"; 
                sourceKey             = "jobHistoryId"; 
                destinationKey        = "jobHistoryId";
                isToMany              = YES; 
          }; 
        };

        "get-job-history" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Job"; 
                destinationEntityName = "JobHistory"; 
                sourceKey             = "jobId"; 
                destinationKey        = "jobId";
                isToMany              = YES; 
          }; 
        };
        import       = { class = "LSImportJobCommand";                    };
        set          = { class = "LSSetJobCommand";                       };
        get    = { 
          class  = "LSDBObjectGetCommand";  
          init   = { entity = "Job"; };
        };
        "filter-todolist"      = { class = "LSFilterToDoListJobCommand";  };
        "filter-delegatedjobs" = { class = "LSFilterDelegatedJobCommand"; };
        "filter-archivedjobs"  = { class = "LSFilterArchivedJobCommand";  };
        "getparentjobs"        = { class = "LSGetParentJobsCommand";      };
        "get-todo-jobs"        = { class = "LSFetchToDoJobsCommand";      };
        "get-private-jobs"     = { class = "LSFetchPrivateJobsCommand";   };
        "get-archived-jobs"    = { class = "LSFetchArchivedJobsCommand";  };
        "get-delegated-rss"    = { class = "LSGetDelegatedActionsAsRSSCommand";  };
        "get-delegated-tasks-rss"  = { class = "LSGetDelegatedTasksAsRSSCommand";  };
        "get-todo-rss"         = { class = "LSGetToDoActionsAsRSSCommand";  };
        "get-todo-tasks-rss"   = { class = "LSGetToDoTasksAsRSSCommand";  };
        "get-project-rss" = { class = "LSGetProjectTaskActionsAsRSSCommand";  };
        "get-jobid-tree"       = { class = "LSFetchJobIdTreeCommand";  };
        "get-delegated-jobs"   = { class = "LSFetchDelegatedJobsCommand"; };
        "get-executant-jobs"   = { class = "LSFetchJobsForExecutantCommand";};
        "qsearch"               = { class = "LSQualifierSearchTaskCommand"; };
        "remove-waste-jobs"    = { class = "LSRemoveWasteJobsCommand";    };
        "extended-search" = {
          class            = "LSExtendedSearchCommand";
          init             = { entity = "Job"; };
        };
        "get-by-globalid"      = { class = "LSGetJobsForGlobalIDs";       };

        "get-project" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Job"; 
                destinationEntityName = "Project"; 
                sourceKey             = "projectId"; 
                destinationKey        = "projectId";
                isToMany              = NO; 
          }; 
        };
        "resume"               = { class = "LSResumeJobCommand";            };
        "get-project-jobs"     = { class = "LSFetchProjectJobsCommand";     };
        "assign-to-project"    = { class = "LSAssignProjectToJobCommand";   };
        "detach-from-project"  = { class = "LSDetachProjectFromJobCommand"; };
      };
    };

    "jobhistory" = { // private
      operations = {
        "new"    = { class = "LSNewJobHistoryCommand";    };
        "delete" = { class = "LSDeleteJobHistoryCommand"; };
        "set"    = { 
          class  = "LSDBObjectSetCommand";  
          init   = { entity = "JobHistory"; };
        };
        "get"    = { 
          class  = "LSDBObjectGetCommand";  
          init   = { entity = "JobHistory"; };
        };
      };
    };

    "jobresourceassignment" = {
      operations = {
        "new" = {
          class = "LSDBObjectNewCommand";
          init  = { entity = "JobResourceAssignment";        };
        };
        "set" = {
          class = "LSDBObjectSetCommand";
          init  = { entity = "JobResourceAssignment";        };
        };
        "get" = {
          class = "LSDBObjectGetCommand";
          init  = { entity = "JobResourceAssignment";        };
        };
        "delete" = {
          class = "LSDBObjectDeleteCommand";
          init  = { entity = "JobResourceAssignment";        };
        };
      };
    };
    "jobassignment" = {
      operations = {
        "new" = {
          class = "LSDBObjectNewCommand";
          init  = { entity = "JobAssignment";        };
        };
        "set" = {
          class = "LSDBObjectSetCommand";
          init  = { entity = "JobAssignment";        };
        };
        "get" = {
          class = "LSDBObjectGetCommand";
          init  = { entity = "JobAssignment";        };
        };
        "delete" = {
          class = "LSDBObjectDeleteCommand";
          init  = { entity = "JobAssignment";        };
        };
      };
    };
  };
}
