<!-- $Id: SkyAppointmentPrintViewer.html 2 2004-08-20 11:37:44Z znek $-->
<html>
  <head><title><#AptTitle/></title></head>  
  <body bgcolor="white" text="black" onload="javascript:window.print()">
    <table width="100%" border="0" cellpadding="2" cellspacing="0">

    <#ViewerTitle/>
     
    <tr><#TitleAttr/></tr>
    <tr><#LocationAttr/></tr>
    <tr><td colspan="2" /></tr>
    <tr><#StartTimeAttr/></tr>
    <tr><#EndTimeAttr/></tr>
    <tr><#NotificationTimeAttr/></tr>
    
    <#IsCyclicCond>
    <tr><#CycleAttr>
      <#Cycle/>&nbsp;<#UntilLabel/>&nbsp;<#CycleEndDateString/>
      </#CycleAttr></tr>
    </#IsCyclicCond>
    
    <tr><#ResourceAttr/></tr>
    <tr><#AptTypeAttr/></tr>
    
    <#IsAbsenceCond><tr><#AbsenceAttr/></tr></#IsAbsenceCond>
    
    <tr>
      <#IsOwnerArchivedCondElse><#CreatorAttr/></#IsOwnerArchivedCondElse>
      <#IsOwnerArchivedCond><#ArchivedCreatorAttr/></#IsOwnerArchivedCond>
    </tr>

    <tr><#ReadPermissionAttr><#AccessTeam/></#ReadPermissionAttr></tr>
    <tr><#WriteAccessAttr/></tr>

    <tr><#CommentAttr><#Comment/></#CommentAttr></tr>
    <tr><#IgnoreConflictsAttr/></tr>
    <tr><#ObjectVersionAttr/></tr>

    <tr><td colspan="2" /></tr>

    <tr><td colspan="2"><#ParticipantsList/></td></tr>

    <!-- 
      <tr><td colspan="2" /></tr>
      <tr><td colspan="2"><#Notes/></td></tr>


    <#IsLogTabEnabled>
      <tr><td colspan="2" /></tr>
      <tr><td colspan="2"><#LogList/></td></tr>
    </#IsLogTabEnabled -->

    </table>
  </body>
</html>
