 <!-- Delagattion Tab--> 
  <#DelegMainButtonRow>
	<td align="left" colspan=5><#Font><b><#DelegTitle /></b></#Font></td>
  </#DelegMainButtonRow>
	
<#DelegForm>
	<table align="center">
	   	<!-- 1st line-->
		<tr>
			<th style="font-family: arial;font-size: 10px"><#TitleListSource/></th>
		        <th></th>
			<th style="font-family: arial;font-size: 10px"><#TitleListDestination/></th>
	 	</tr>	
	 	
		 <!--2nd line-->
		<tr>
			<td rowspan="2" align="center"> <#DelegListSource/></td>
			<td><#AddPerson/></td>
			<td rowspan="2" align="center"> <#DelegListDestination/></td>
	 	</tr>
	         <!--3rd line-->
	  	<tr>
			<td ><#DelPerson/></td>
	  	</tr>
		<!--4th line-->
		<tr>
			<td colspan="3" align="right"> <#OK/></td>
		</tr>
       	<!--
	<tr><#ParticipantsList/></tr>	
	-->
	</table>	
	<!--participants list -->
	
	<#DelegIsPrintModeCondElse>
		<table border="0" cellspacing="0" cellpadding="1" width="100%">
			<#DelegMainButtonRow>
				<td align="left"><#Font><b><#DelegMainTitle /></b></#Font></td>
				<td align="right"><#DelegButtons /></td>
			</#DelegMainButtonRow>
			<tr><td></td><td></td></tr>
		</table>
	</#DelegIsPrintModeCondElse>

	<table border="0" cellspacing="0" cellpadding="1" width="100%">
		<#DelegTableHeaderRow>
		<th align="left"><#Font><#DelegNameLabel   /></#Font></th>
		<th align="left"><#Font><#DelegFNameLabel  /></#Font></th>
		<th align="left"><#Font><#DelegDegreeLabel /></#Font></th>

		<#DelegShowParticipantStateCond>
     	  	<th align="left"><#Font><#DelegPartRoleLabel  /></#Font></th>
    	  	<th align="left"><#Font><#DelegPartStatusLabel /></#Font></th>
    		</#DelegShowParticipantStateCond>

		<#DelegShowDetailsCond>
     	 	<th align="left"><#Font><#DelegFunctionLabel /></#Font></th>
      	 	<th align="left"><#Font><#DelegEmailLabel    /></#Font></th>
     	 	<th align="left"><#Font><#DelegTelLabel      /></#Font></th>
      	
		<#DelegIsEnterpriseAvailable>
			<th align="left"><#Font><#DelegEpLabel /></#Font></th>
      	 	</#DelegIsEnterpriseAvailable>
		</#DelegShowDetailsCond>
		</#DelegTableHeaderRow>

		<#DelegParticipantRepetition>
	<!--	
	<#IsTeamParticipant>
			<tr><#FullTableData /></tr>
			<#MainButtonRow>
			<#FullTableData>
	--> 
          <!--
          <#ExpandTeamsCond    ><#HideMembersAction/></#ExpandTeamsCond>
          <#ExpandTeamsCondElse><#ShowMembersAction/></#ExpandTeamsCondElse>
          &nbsp;
          -->
	<!--
			<#IsArchivedCondElse>
				<#Font><#TeamLabel /> <#TeamName/> </#Font>
			</#IsArchivedCondElse>
			<#IsArchivedCond>
				<#ArchivedObjectFont>
					<#TeamLabel /> <#TeamName />
			</#IsArchivedCond>
			</#FullTableData>
			</#MainButtonRow>

			<#MemberRepetition>
			<tr>
				<td>
					<#Font>
						<#IsPersonAvailable><#MemberLink /></#IsPersonAvailable>
						<#IsPersonNotAvailable><#MemberName /></#IsPersonNotAvailable>
					</#Font>
				</td>
				<td><#Font><#MemberFName  /></#Font></td>
				<td><#Font><#MemberDegree /></#Font></td>

				<#ShowParticipantStateCond>
					<td><#Font><#PartRole   /></#Font></td>
					<td><#Font><#PartStatus /></#Font></td>
				</#ShowParticipantStateCond>

				<#ShowDetailsCond>
					<td><#Font><#MemberFunction /></#Font></td>
					<td>
						<#Font>
							<#IsInternalMailer><#MemberEmailAction /></#IsInternalMailer>
							<#IsNotInternalMailer> <#MemberEmail /></#IsNotInternalMailer>
						</#Font>
					</td>
					<td><#Font><#DialTel><#MemberTel /></#DialTel></#Font></td>
            
					<#IsEnterpriseAvailable>
						<td><#Font><#MemberEnterpriseRep><#EnterpriseName /></#MemberEnterpriseRep></#Font></td>
					</#IsEnterpriseAvailable>
				</#ShowDetailsCond>
			</tr>
			</#MemberRepetition>
		</#IsTeamParticipant>
-->
		<#DelegIsPersonParticipant>
			<#DelegIsParticipantViewAllowed>
			<tr>
				<td>
					<#DelegIsArchivedCondElse>
						<#Font>
							<#DelegIsPersonAvailable><#DelegParticipantLink /></#DelegIsPersonAvailable>
							<#DelegIsPersonNotAvailable><#DelegPartName /></#DelegIsPersonNotAvailable>
						</#Font>
					</#DelegIsArchivedCondElse>
					<#DelegIsArchivedCond>
						<#DelegArchivedObjectFont><#DelegPartName /></#DelegArchivedObjectFont>
					</#DelegIsArchivedCond>
				</td>
				<td><#Font><#DelegPartFName /></#Font></td>
				<td><#Font><#DelegPartDegree /></#Font></td>
				<#DelegShowParticipantStateCond>
					<td><#Font><#DelegPartRole   /></#Font></td>
					<td><#Font><#PDelegartStatus /></#Font></td>
				</#DelegShowParticipantStateCond>

				<#DelegShowDetailsCond>
					<td><#Font><#DelegPartFunction /></#Font></td>
					<td>
						<#Font>
							<#DelegIsInternalMailer><#DelegPartEmailAction /></#DelegIsInternalMailer>
							<#DelegIsNotInternalMailer><#DelegPartEmail /></#DelegIsNotInternalMailer>
						</#Font>
					</td>
					<td><#Font><#DelegDialPartTel><#DelegPartTel /></#DelegDialPartTel></#Font></td>
				<#DelegIsEnterpriseAvailable>
					<td>
						<#Font>
							<#DelegPartEnterpriseRep><#DelegEnterpriseName /></#DelegPartEnterpriseRep>
						</#Font>
					</td>
				</#DelegIsEnterpriseAvailable>
				</#DelegShowDetailsCond>
			</tr>
			</#DelegIsParticipantViewAllowed>
			<#DelegIsParticipantViewAllowedElse>
				<tr>
					<td>
						<!--<#Font><#PartName /></#Font></td>-->
						<#DelegIsEnterpriseAvailable>
							<td colspan="6" align="middle">
						</#DelegIsEnterpriseAvailable>
						<#DelegIsEnterpriseNotAvailable>
							<td colspan="5" align="middle">
						</#DelegIsEnterpriseNotAvailable>
						<!--<#Font><b><#PrivateLabel /></b></#Font>-->
					</td>
				</tr>
			</#DelegIsParticipantViewAllowedElse>
		</#DelegIsPersonParticipant>
	</#DelegParticipantRepetition>
	</table>
</#DelegForm>














