{
  /* used by SxFolder.m */
  CadaverListSet = (
    appleDoubleHeader,
    davCheckedIn,
    davCheckedOut,
    davContentClass,
    davContentLanguage,
    davContentLength,
    davContentType,
    davCreationDate,
    davDefaultDocument,
    davDisplayName,
    davEntityTag,
    davIsCollection,
    davIsExecutable,
    davIsFolder,
    davIsHidden,
    davIsReadOnly,
    davIsRoot,
    davIsStructuredDocument,
    davLastAccessed,
    davLastModified,
    davLockDiscovery,
    davName,
    davOOoTargetURL,
    davParentName,
    davResourceType,
    davSourceURL,
    davSupportedLock,
    davURL,
    isOOoCompactDisc,
    isOOoFloppy,
    isOOoRemote,
    isOOoRemoveable,
    isOOoVolume,
  );
  
  SmallCadaverListSet = ( /* Cadaver 0.23.2 */
    davResourceType,
    davLastModified,
    davContentLength,
    davCheckedIn,
    davCheckedOut,
    davIsExecutable
  );
  
  GroupDAVv2Set = (
    davCurrentUserPrivilegeSet,
    davEntityTag,
    davCollectionTag,
    davResourceType,
    davCalendarComponentSet,
    gdavComponentSet,
    davDisplayName,
    davSupportedAddressDataTypes,
    davDescription,
    davSupportedCalendarDataTypes,
    davContentType
  );
  
  QueryETagsSet = ( davEntityTag, davResourceType );
}
