{
  /* used by SxFolder.m */
  CadaverListSet = (
    appleDoubleHeader,
    davCheckedIn,
    davCheckedOut,
    davContentClass,
    davContentLanguage,
    davContentLength,
    davContentType,
    davCreationDate,
    davDefaultDocument,
    davDisplayName,
    davEntityTag,
    davIsCollection,
    davIsExecutable,
    davIsFolder,
    davIsHidden,
    davIsReadOnly,
    davIsRoot,
    davIsStructuredDocument,
    davLastAccessed,
    davLastModified,
    davLockDiscovery,
    davName,
    davOOoTargetURL,
    davParentName,
    davResourceType,
    davSourceURL,
    davSupportedLock,
    davURL,
    isOOoCompactDisc,
    isOOoFloppy,
    isOOoRemote,
    isOOoRemoveable,
    isOOoVolume,
  );

  KOrgExInitialAptQuerySet = (
    davURL,
    exInstanceType,
    davUid
  );

  EvolutionSubFolderSet = (
    outlookFolderClass,
    unreadcount,
    unreadCount, /* this is used by Evo 1.4.4 */
    davDisplayName,
    davHasSubFolders
  );
  
  EvolutionQuerySet = (
    davUid,
    davLastModified,
    davCreationDate,
    davResourceType,
    davContentType,
    davIsFolder,
    email1addrtype,
    email2addrtype,
    email3addrtype,
    cn,
    sn,
    givenName,
    middleName,
    namesuffix,
    title,
    o,
    fileas,
    callbackphone,
    facsimiletelephonenumber,
    homefax,
    homePhone,
    homephone2,
    internationalisdnnumber,
    mobile,
    organizationmainphone,
    otherfax,
    pager,
    telephoneNumber,
    telephonenumber2,
    telexnumber,
    ttytddphone,
    secretaryphone,
    othermobile,
    otherTelephone,
    email1,
    email2,
    email3,
    workaddress,
    homepostaladdress,
    otherpostaladdress,
    businesshomepage,
    department,
    roomnumber,
    profession,
    manager,
    secretarycn,
    nickname,
    spousecn,
    bday,
    weddinganniversary,
    fburl,
    textdescription,
    radioTelephoneNumber,
    primaryTelephoneNumber
  );

  EvolutionTaskQuerySet = (
    outlookMessageClass,
    davUid,
    davLastModified,
    subject,
    textdescription,
    date,
    exLastModified,
    fromEMail,
    fromName,
    importance,
    sensitivity,
    taskCommonEnd,
    taskCommonStart,
    taskStatus,
    associatedContacts,
    taskCompletion,
    taskCompletionDate,
    keywords,
    locationURL
  );

  EvoAptICalQuerySet = (
    davUid,
    exInstanceType,
    davLastModified,
    exMIMERepresentation
  );
  
  DefaultRootProperties = (
    "{http://schemas.microsoft.com/mapi/proptag/}X0FFB0102"
  );
  DefaultContactProperties = (  /* taken from Apache dump */
    "{http://schemas.microsoft.com/mapi/proptag/}x3A1A001E",
    "{http://schemas.microsoft.com/mapi/proptag/}x3A1D001E",
    "{http://schemas.microsoft.com/mapi/proptag/}x0FF40003"
  );
}
