{
  /* used by SxFolder.m */
  CadaverListSet = (
    appleDoubleHeader,
    davCheckedIn,
    davCheckedOut,
    davContentClass,
    davContentLanguage,
    davContentLength,
    davContentType,
    davCreationDate,
    davDefaultDocument,
    davDisplayName,
    davEntityTag,
    davIsCollection,
    davIsExecutable,
    davIsFolder,
    davIsHidden,
    davIsReadOnly,
    davIsRoot,
    davIsStructuredDocument,
    davLastAccessed,
    davLastModified,
    davLockDiscovery,
    davName,
    davOOoTargetURL,
    davParentName,
    davResourceType,
    davSourceURL,
    davSupportedLock,
    davURL,
    isOOoCompactDisc,
    isOOoFloppy,
    isOOoRemote,
    isOOoRemoveable,
    isOOoVolume,
  );
  
  QueryETagsSet = ( davEntityTag, davResourceType );
}
