{
  /* used by OLDavPropMapper.m */
  "{http://www.bogus.de/}bogus" = unknownMAPI;
  "{http://schemas.microsoft.com/mapi/string/{00020329-0000-0000-c000-000000000046}/}Keywords" = keywords;
  "{DAV:}refreshperiod" = zlRefreshInMinutes;
  "{http://schemas.skyrix.com/zidestore/}publicroot" = publicFolderRoot;
  "{http://schemas.skyrix.com/zidestore/}reminders"  = reminderFolderURL;
  
  /* HTTP-Mail */
  "{urn:schemas:httpmail:}calendar"        = calendarFolderURL;
  "{urn:schemas:httpmail:}contacts"        = contactsFolderURL;
  "{urn:schemas:httpmail:}date"            = date;
  "{urn:schemas:httpmail:}deleteditems"    = trashFolderURL;
  "{urn:schemas:httpmail:}drafts"          = draftsFolderURL;
  "{urn:schemas:httpmail:}hasattachment"   = hasattachment;
  "{urn:schemas:httpmail:}inbox"           = inboxFolderURL;
  "{urn:schemas:httpmail:}journal"         = journalFolderURL;
  "{urn:schemas:httpmail:}msgfolderroot"   = messageFolderRoot;
  "{urn:schemas:httpmail:}notes"           = notesFolderURL;
  "{urn:schemas:httpmail:}outbox"          = outboxFolderURL;
  "{urn:schemas:httpmail:}read"            = read;
  "{urn:schemas:httpmail:}subject"         = subject;
  "{urn:schemas:httpmail:}sendmsg"         = msgSendURL;
  "{urn:schemas:httpmail:}sentitems"       = sentFolderURL;
  "{urn:schemas:httpmail:}tasks"           = taskFolderURL;
  "{urn:schemas:httpmail:}to"              = to;
  "{urn:schemas:httpmail:}textdescription" = textdescription;
  "{urn:schemas:httpmail:}unreadcount"     = unreadcount;
  "{urn:schemas:httpmail:}messageflag"     = messageFlag;
  "{urn:schemas:httpmail:}thread-topic"    = threadTopic;
  "{urn:schemas:httpmail:}fromemail"       = fromEMail;
  "{urn:schemas:httpmail:}fromname"        = fromName;
  "{urn:schemas:mailheader:}cc"            = cc;
  "{urn:schemas:mailheader:}date"          = date;
  "{urn:schemas:mailheader:}from"          = from;
  "{urn:schemas:mailheader:}in-reply-to"   = inReplyTo;
  "{urn:schemas:mailheader:}importance"    = importance;
  "{urn:schemas:mailheader:}reply-by"      = replyBy;
  "{urn:schemas:mailheader:}message-id"    = messageId;
  "{urn:schemas:mailheader:}received"      = received;
  "{urn:schemas:mailheader:}references"    = references;
  "{urn:schemas:mailheader:}subject"       = subject;
  "{urn:schemas:mailheader:}sensitivity"   = sensitivity;
  "{urn:schemas:mailheader:}to"            = to;
  "{urn:schemas:mailheader:}x-message-completed" = exchangeMessageCompleted;
  
  /* MAPI */
  "{http://schemas.microsoft.com/mapi/}email1addrtype" = "email1addrtype";
  "{http://schemas.microsoft.com/mapi/}email2addrtype" = "email2addrtype";
  "{http://schemas.microsoft.com/mapi/}email3addrtype" = "email3addrtype";
  "{http://schemas.microsoft.com/mapi/}email1emailaddress" = "email1";
  "{http://schemas.microsoft.com/mapi/}email2emailaddress" = "email2";
  "{http://schemas.microsoft.com/mapi/}email3emailaddress" = "email3";
  "{http://schemas.microsoft.com/mapi/}email1originaldisplayname" = 
	"email1displayname";
  "{http://schemas.microsoft.com/mapi/}email2originaldisplayname" = 
	"email2displayname";
  "{http://schemas.microsoft.com/mapi/}email3originaldisplayname" = 
	"email3displayname";
  "{http://schemas.microsoft.com/mapi/}emailaddresslist"  = "emailaddresslist";
  "{http://schemas.microsoft.com/mapi/}emaillisttype"     = "emaillisttype";
  
  /* map buggy ones */
  "{http://schemas.microsoft.com/mapi}email1emailaddress"  = email1;
  "{http://schemas.microsoft.com/mapi}email2emailaddress"  = email2;
  "{http://schemas.microsoft.com/mapi}email3emailaddress"  = email3;
  
  /* new ones in Evo 1.2 */  
  
  "{http://schemas.microsoft.com/mapi/}sideeffects" = sideeffects;
  
  /* Evo 1.2 Tasks */
  "{http://schemas.microsoft.com/mapi/}commonstart"    = taskCommonStart;
  "{http://schemas.microsoft.com/mapi/}commonend"      = taskCommonEnd;
  "{http://schemas.microsoft.com/exchange/}keywords-utf8" = keywords;
  "{http://schemas.microsoft.com/mapi/}agingdontageme" = agingDontAgeMe;
  "{http://schemas.microsoft.com/mapi/}priority"       = priority;
  "{http://schemas.microsoft.com/mapi/}sensitivity"    = sensitivity;
  
  /* E2K replication? */
  "{http://schemas.microsoft.com/repl/}repl-uid" = "exchangeReplicationUID";
  
  "{http://schemas.microsoft.com/exchange/}timezone" = 
	"exchangeTimeZone"; /* eg: W. Europe Standard Time */
  
  /* E2K calendar */
  "{urn:schemas:calendar:}fburl"            = fburl;
  "{urn:schemas:calendar:}locationurl"      = locationURL;
  "{urn:schemas:calendar:}uid"              = davUid;
  "{urn:schemas:calendar:}lastmodifiedtime" = exLastModified;
  "{urn:schemas:calendar:}instancetype"     = exInstanceType;
  "{urn:schemas:calendar:}dtstart"          = startDate;
  "{urn:schemas:calendar:}dtend"            = endDate;

  /* KOrganizer E2K Attributes: TODO: implement */
  "{urn:schemas:calendar:}timezoneid"       = exchangeTimeZone;
  "{urn:schemas:calendar:}timezone"         = timezone;
  "{urn:schemas:calendar:}lastmodified"     = exLastModified; //?? DUP?
  "{urn:schemas:calendar:}organizer"        = organizer;
  "{urn:schemas:calendar:}contact"          = contact;
  "{urn:schemas:calendar:}attendeestatus"   = attendeestatus;
  "{urn:schemas:calendar:}attendeerole"     = attendeerole;
  "{urn:schemas:calendar:}created"          = davCreationDate; // ?
  "{urn:schemas:calendar:}alldayevent"      = exIsAllDayEvent;
  "{urn:schemas:calendar:}transparent"      = exTransparent;
  "{urn:schemas:calendar:}location"         = location;
  "{urn:schemas:calendar:}rrule"            = recurrenceRule;
  "{urn:schemas:calendar:}exdate"           = recurrenceRuleExceptionDate;
  "{urn:schemas:calendar:}reminderoffset"   = exReminderOffset;
  "{urn:schemas:calendar:}busystatus"       = exBusyStatus; // Busy
  
  /* E2K contacts */
  "{urn:schemas:contacts:}bday"                  = bday;
  "{urn:schemas:contacts:}businesshomepage"      = businesshomepage;
  "{urn:schemas:contacts:}callbackphone"         = callbackphone;
  "{urn:schemas:contacts:}cn"                    = cn;
  "{urn:schemas:contacts:}co"                    = country;
  "{urn:schemas:contacts:}department"            = department;
  "{urn:schemas:contacts:}email1"                = email1;
  "{urn:schemas:contacts:}email2"                = email2;
  "{urn:schemas:contacts:}email3"                = email3;
  "{urn:schemas:contacts:}facsimiletelephonenumber" = facsimiletelephonenumber;
  "{urn:schemas:contacts:}fileas"                = fileas;
  "{urn:schemas:contacts:}givenName"             = givenName;
  "{urn:schemas:contacts:}homePhone"             = homePhone;
  "{urn:schemas:contacts:}homefax"               = homefax;
  "{urn:schemas:contacts:}homephone2"            = homephone2;
  "{urn:schemas:contacts:}homepostaladdress"     = homepostaladdress;
  "{urn:schemas:contacts:}internationalisdnnumber" = "internationalisdnnumber";
  "{urn:schemas:contacts:}l"                     = city;
  "{urn:schemas:contacts:}postalcode"            = zip;
  "{urn:schemas:contacts:}manager"               = manager;
  "{urn:schemas:contacts:}middlename"            = middleName;
  "{urn:schemas:contacts:}mobile"                = mobile;
  "{urn:schemas:contacts:}namesuffix"            = namesuffix;
  "{urn:schemas:contacts:}nickname"              = nickname;
  "{urn:schemas:contacts:}o"                     = o;
  "{urn:schemas:contacts:}organizationmainphone" = organizationmainphone;
  "{urn:schemas:contacts:}otherTelephone"        = otherTelephone;
  "{urn:schemas:contacts:}otherfax"              = otherfax;
  "{urn:schemas:contacts:}othermobile"           = othermobile;
  "{urn:schemas:contacts:}otherpostaladdress"    = otherpostaladdress;
  "{urn:schemas:contacts:}pager"                 = pager;
  "{urn:schemas:contacts:}profession"            = profession;
  "{urn:schemas:contacts:}roomnumber"            = roomnumber;
  "{urn:schemas:contacts:}secretarycn"           = secretarycn;
  "{urn:schemas:contacts:}secretaryphone"        = secretaryphone;
  "{urn:schemas:contacts:}sn"                    = sn;
  "{urn:schemas:contacts:}st"                    = state;
  "{urn:schemas:contacts:}street"                = street;
  "{urn:schemas:contacts:}spousecn"              = spousecn;
  "{urn:schemas:contacts:}telephoneNumber"       = telephoneNumber;
  "{urn:schemas:contacts:}telephonenumber2"      = telephonenumber2;
  "{urn:schemas:contacts:}telexnumber"           = telexnumber;
  "{urn:schemas:contacts:}title"                 = title;
  "{urn:schemas:contacts:}ttytddphone"           = ttytddphone;
  "{urn:schemas:contacts:}weddinganniversary"    = weddinganniversary;
  "{urn:schemas:contacts:}workaddress"           = workaddress;

  /* Evo Contacts - Addresses */
  "{urn:schemas:contacts:}homeCity"              = homeCity;
  "{urn:schemas:contacts:}homeCountry"           = homeCountry;
  "{urn:schemas:contacts:}homePostOfficeBox"     = homePostOfficeBox;
  "{urn:schemas:contacts:}homePostalCode"        = homePostalCode;
  "{urn:schemas:contacts:}homeState"             = homeState;
  "{urn:schemas:contacts:}homeStreet"            = homeStreet;
  "{urn:schemas:contacts:}othercity"             = othercity;
  "{urn:schemas:contacts:}othercountry"          = othercountry;
  "{urn:schemas:contacts:}otherpostalcode"       = otherpostalcode;
  "{urn:schemas:contacts:}otherpostofficebox"    = otherpostofficebox;
  "{urn:schemas:contacts:}otherstate"            = otherstate;
  "{urn:schemas:contacts:}otherstreet"           = otherstreet;
  "{urn:schemas:contacts:}postofficebox"         = postofficebox;
  
  /* iSync - AB Sync */
  "{urn:schemas:contacts:}hobbies"               = hobbies;
  "{urn:schemas:contacts:}personaltitle"         = personalTitle;
  "{urn:schemas:contacts:}childrensnames"        = childrensNames;
  "{urn:schemas:contacts:}homepostofficebox"     = homePostOfficeBox;
  "{urn:schemas:contacts:}personalHomePage"      = personalHomePage;
  "{urn:schemas:contacts:}fileasid"              = fileAsID;    // eg "3"
  "{urn:schemas:contacts:}c"                     = countryCode; // eg "us"
  
  /* Entourage */
  "{http://schemas.microsoft.com/repl/}resourcetag" = resourceTag;

  /* MS Office */
  "{urn:schemas-microsoft-com:office:office}saveas-profile-form-location"
    = officeSaveAsProfileFormLocation;
  "{urn:schemas-microsoft-com:office:office}save-view-location"
    = officeSaveViewLocation;
  "{urn:schemas-microsoft-com:office:office}Keywords" = keywords;
  
  /* Evo Connector 2.x */
  "{http://schemas.microsoft.com/exchange/}permanenturl" = exPermanentURL;
  "{http://schemas.microsoft.com/exchange/}oof-state" = exOutOfOfficeState;
}
