<#Frame>
  <!-- $Id: LSWJobAction.html 2 2004-08-20 11:37:44Z znek $ -->
  <#Window>
    <#Form>
      <table width="100%" border="0" cellpadding="4" cellspacing="0">

        <#MainButtonRow>
          <td colspan="2"><#Font><b><#JobName/></b></#Font></td>
        </#MainButtonRow>
        <tr><td colspan="2"> </td></tr>

        <#HasProject>
          <tr>
            <#AttributeCell><#Font><#ProjectLabel/>:</#Font></#AttributeCell>
            <#ValueCell><#Font><#Project/>&nbsp;</#Font></#ValueCell>
          </tr>
        </#HasProject>
        <tr>
          <#AttributeCell><#Font><#CreatorLabel/>:</#Font></#AttributeCell>
          <#ValueCell><#Font>
            <#UserIsCreator>
              <b><#CreatorFirstName/> <#CreatorLastName/></b>
            </#UserIsCreator>
            <#UserIsCreatorElse>
              <#CreatorFirstName/> <#CreatorLastName/>
            </#UserIsCreatorElse>
          </#Font></#ValueCell>
        </tr>
        
        <tr>
          <#AttributeCell><#Font><#ExecutantLabel/>:</#Font></#AttributeCell>
          <#ValueCell><#Font>
            <#UserIsExecutant>
              <b><#ExecutantFirstName/> <#ExecutantLastName/></b>
            </#UserIsExecutant>

            <#UserIsExecutantElse>
              <#IsTeamJob>
                <#ExecutantTeamName/>
              </#IsTeamJob>

              <#IsTeamJobElse>
                <#ExecutantFirstName/>
                <#ExecutantLastName/>
              </#IsTeamJobElse>
            </#UserIsExecutantElse>
          </#Font></#ValueCell>
        </tr>

        <tr>
          <#AttributeCell><#Font><#StartDateLabel/>:</#Font></#AttributeCell>
          <#ValueCell><#Font><#StartDate/></#Font></#ValueCell>
        </tr>
        <tr>
          <#AttributeCell><#Font><#EndDateLabel/>:</#Font></#AttributeCell>
          <#ValueCell><#Font>
            <#OnTimeCondition><#EndDate/></#OnTimeCondition>
            <#OnTimeConditionElse>
              <#OutOffTimeFont><#EndDate/></#OutOffTimeFont>
            </#OnTimeConditionElse></#Font>
          </#ValueCell>
        </tr>
        <tr>
          <#AttributeCell><#Font><#StatusLabel/>:</#Font></#AttributeCell>
          <#ValueCell><#Font><#Status/></#Font></#ValueCell>
        </tr>
        <tr><td colspan="2"> </td></tr>

        <#MainButtonRow>
          <td colspan="2" align="left"><#Font><b><#JobAction/></b></#Font></td>
        </#MainButtonRow>
        <tr><td colspan="2"> </td></tr>

        <tr>
          <#AttributeCell/>
          <#ValueCell><#EditFont><#TextArea/></#EditFont></#ValueCell>
        </TR>
        <tr>
          <td></td>
          <td>
            <#SaveSubmit/>
            <#CancelSubmit/>
          </td>
        </tr>
        <tr><td colspan="2"> </td></tr>
      </table>
    </#Form>
  </#Window>

<script language="JavaScript">
<!-- hide
if (document.annotationEditor) {
  if (document.annotationEditor.focusField) {
    document.annotationEditor.focusField.focus();
   /* document.annotationEditor.focusField.select();*/
  }
}
// -->
</script>
</#Frame>
