(
  {
    namespace = "meerkat";
    url = "http://www.oreillynet.com/meerkat/xml-rpc/server.php";
    check = NO;
  },

  {
    namespace = "demo";
    url = "http://xmlrpc.usefulinc.com/demo/server.php";
    check = NO;
  },

  {
    namespace = "com.planetreplay.com.xmlrpc";
    url = "http://www.planetreplay.com:80/xmlrpc/services.php";
    check = NO;
  },

  {
    namespace = "marvin.oracle.track";
    url       = "http://marvin.in.skyrix.com:80/wa/RPC2";
    autostart = {
      server    = "trackd";
      URL       = "http://marvin.in.skyrix.com:81/wa/RPC2";
      arguments = {
        port  = 20000;
        debug = NO;
      };
    };
  }
)
