// $Id$
{
  cvsid         = "$Id$";
  bundleHandler = SkyPalmModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = BaseUI;        type = lso; },
      { name = OGoUIElements; type = lso; },      
    );
    classes = (
      { name = NSObject;          },
      { name = LSWModuleManager; exact-version = 2; },
      { name = LSWComponent;     exact-version = 2; },
      { name = LSWContentPage;   exact-version = 3; },
    );
  };

  provides = {
    classes = (
	{ name = SkyPalmModule;                 },
        
	{ name = SkyPalmPage;                   },
        
        { name = SkyPalmDataSourceViewer;       },
        { name = SkyPalmEntryListViewer;        },
        { name = SkyPalmRecordList;             },
        { name = SkyPalmAddressList;            },
        { name = SkyPalmDateList;               },
        { name = SkyPalmMemoList;               },
        { name = SkyPalmJobList;                },
        { name = SkyPalmDateWeekOverview;       },
        
	{ name = SkyPalmEntryListHeader;        },
	{ name = SkyPalmEntryListContent;       },
        { name = SkyPalmDataSourceViewerState;  },
        { name = SkyPalmEntryListState;         },
        { name = SkyPalmCategoryPopUp;          },
        
        { name = SkyPalmEntryViewer;            },
        { name = SkyPalmAddressViewer;          },
        { name = SkyPalmDateViewer;             },
        { name = SkyPalmMemoViewer;             },
        { name = SkyPalmJobViewer;              },
        { name = SkyPalmDateCopyViewer;         },
        
        { name = SkyPalmEntryEditor;            },
        { name = SkyPalmAddressEditor;          },
        { name = SkyPalmDateEditor;             },
        { name = SkyPalmMemoEditor;             },
        { name = SkyPalmJobEditor;              },
        
        { name = SkyPalmStringAttribute;        },
        { name = SkyPalmInlineDateViewer;       },
        { name = SkyPalmPreferences;            },
        
        { name = SkyPalmSelectableListing;      },
        { name = SkyPalmProjectListing;         },
        { name = SkyPalmFileListing;            },
        { name = SkyPalmCompanyListing;         },
        { name = SkyPalmJobListing;             },
        { name = SkyPalmAppointmentListing;     },
        
        { name = SkyPalmAssignEntry;            },
        { name = SkyPalmAssignAddress;          },
        { name = SkyPalmAssignDate;             },
        { name = SkyPalmAssignMemo;             },
        { name = SkyPalmAssignJob;              },
    );

    WOComponents = (
        { name = SkyPalmPage;                   },
        
        { name = SkyPalmRecordList;             },
        { name = SkyPalmAddressList;            },
        { name = SkyPalmDateList;               },
        { name = SkyPalmMemoList;               },
        { name = SkyPalmJobList;                },
        { name = SkyPalmDateWeekOverview;       },
        
	{ name = SkyPalmEntryListHeader;        },
	{ name = SkyPalmEntryListContent;       },
        { name = SkyPalmCategoryPopUp;          },
        
        { name = SkyPalmAddressViewer;          },
        { name = SkyPalmDateViewer;             },
        { name = SkyPalmMemoViewer;             },
        { name = SkyPalmJobViewer;              },
        { name = SkyPalmDateCopyViewer;         },
        
        { name = SkyPalmAddressEditor;          },
        { name = SkyPalmDateEditor;             },
        { name = SkyPalmMemoEditor;             },
        { name = SkyPalmJobEditor;              },
        
        { name = SkyPalmStringAttribute;        },
        { name = SkyPalmInlineDateViewer;       },
        { name = SkyPalmPreferences;            },
        
        { name = SkyPalmProjectListing;         },
        { name = SkyPalmFileListing;            },
        { name = SkyPalmCompanyListing;         },
        { name = SkyPalmJobListing;             },
        { name = SkyPalmAppointmentListing;     },
        
        { name = SkyPalmAssignAddress;          },
        { name = SkyPalmAssignDate;             },
        { name = SkyPalmAssignMemo;             },
        { name = SkyPalmAssignJob;              },
    );

    PreferencePages = (
      { 
        name      = "PalmSync";
        component = "SkyPalmPreferences";
        labelKey  = "PalmSync";
        icon      = "icon_palm_26x21.gif";
      }
    );
    
    DockablePages = (
      { 
        name      = "PalmSync";
        component = "SkyPalmPage";
        labelKey  = "SkyPalmPage";
        image     = "menu_palm_labeled.gif";
        listicon  = "icon_palm_26x21.gif";
      }
    );
    LSWCommands = (
      // objc/SkyPalmAddressDocument
      {
        verb      = "edit";
        type      = "objc/SkyPalmAddressDocument";
        component = SkyPalmAddressEditor;
      },
      {
        verb      = "new";
        type      = "objc/SkyPalmAddressDocument";
        component = SkyPalmAddressEditor;
      },
      {
        verb      = "view";
        type      = "objc/SkyPalmAddressDocument";
        component = SkyPalmAddressViewer;
      },
      {
        verb      = "view";
        type      = "eo-gid/palm_address";
        component = SkyPalmAddressViewer;
      },
      {
        verb      = "assign-skyrix-record";
        type      = "objc/SkyPalmAddressDocument";
        component = SkyPalmAssignAddress;
      },
      {
        verb      = "new-from-skyrix-record";
        type      = "objc/SkyPalmAddressDocument";
        component = SkyPalmAssignAddress;
      },
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmAddressDocument";
        component = SkyPalmAssignAddress;
      },
      // objc/SkyPalmDateDocument
      {
        verb      = "edit";
        type      = "objc/SkyPalmDateDocument";
        component = SkyPalmDateEditor;
      },
      {
        verb      = "new";
        type      = "objc/SkyPalmDateDocument";
        component = SkyPalmDateEditor;
      },
      {
        verb      = "view";
        type      = "objc/SkyPalmDateDocument";
        component = SkyPalmDateViewer;
      },
      {
        verb      = "view";
        type      = "eo-gid/palm_date";
        component = SkyPalmDateViewer;
      },
      {
        verb      = "view";
        type      = "objc/SkyPalmDateDocumentCopy";
        component = SkyPalmDateCopyViewer;
      },
      // objc/SkyPalmMemoDocument
      {
        verb      = "edit";
        type      = "objc/SkyPalmMemoDocument";
        component = SkyPalmMemoEditor;
      },
      {
        verb      = "new";
        type      = "objc/SkyPalmMemoDocument";
        component = SkyPalmMemoEditor;
      },
      {
        verb      = "view";
        type      = "objc/SkyPalmMemoDocument";
        component = SkyPalmMemoViewer;
      },
      {
        verb      = "view";
        type      = "eo-gid/palm_memo";
        component = SkyPalmMemoViewer;
      },
      {
        verb      = "assign-skyrix-record";
        type      = "objc/SkyPalmMemoDocument";
        component = SkyPalmAssignMemo;
      },
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmMemoDocument";
        component = SkyPalmAssignMemo;
      },
      {
        verb      = "new-from-skyrix-record";
        type      = "objc/SkyPalmMemoDocument";
        component = SkyPalmAssignMemo;
      },
        // objc/SkyPalmJobDocument
      {
        verb      = "edit";
        type      = "objc/SkyPalmJobDocument";
        component = SkyPalmJobEditor;
      },
      {
        verb      = "new";
        type      = "objc/SkyPalmJobDocument";
        component = SkyPalmJobEditor;
      },
      {
        verb      = "view";
        type      = "objc/SkyPalmJobDocument";
        component = SkyPalmJobViewer;
      },
      {
        verb      = "view";
        type      = "eo-gid/palm_todo";
        component = SkyPalmJobViewer;
      },
      {
        verb      = "new-from-skyrix-record";
        type      = "objc/SkyPalmJobDocument";
        component = SkyPalmAssignJob;
      },
      {
        verb      = "assign-skyrix-record";
        type      = "objc/SkyPalmJobDocument";
        component = SkyPalmAssignJob;
      },
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmJobDocument";
        component = SkyPalmAssignJob;
      },
        // objc/SkyPalmDateDocument
      {
        verb      = "new-from-skyrix-record";
        type      = "objc/SkyPalmDateDocument";
        component = SkyPalmAssignDate;
      },
      {
        verb      = "assign-skyrix-record";
        type      = "objc/SkyPalmDateDocument";
        component = SkyPalmAssignDate;
      },        
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmDateDocument";
        component = SkyPalmAssignDate;
      },
        // objc/SkyPalmMemoDocumentSelection
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmMemoDocumentSelection";
        component = SkyPalmAssignMemo;
      },
        // objc/SkyPalmAddressDocumentSelection
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmAddressDocumentSelection";
        component = SkyPalmAssignAddress;
      },
        // objc/SkyPalmDateDocumentSelection
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmDateDocumentSelection";
        component = SkyPalmAssignDate;
      },
        // objc/SkyPalmJobDocumentSelection
      {
        verb      = "create-skyrix-record";
        type      = "objc/SkyPalmJobDocumentSelection";
        component = SkyPalmAssignJob;
      },
    );
  };
}
