{ 
  /* used by SxAptManager.m, SxAptSetHandler.m */

  FreeBusyAttrs = (
    startDate,
    endDate,
    fbtype,
    busyType
  );
  
  KeyAndVersionAttrs = ( dateId, objectVersion );

  CoreInfoAttrs = (
    startDate,
    endDate,
    location,
    title,
    objectVersion,
    olReminder,
    sensitivity,
    busyType,
    fbtype
  );

  EOExtractAttrs = (
    absence,
    accessTeamId,
    aptType,
    associatedContacts,
    busyType,
    calendarName,
    comment,
    cycleEndDate,
    dateId,
    dbStatus,
    endDate,
    evoReminder,
    fbtype,
    importance,
    isAbsence,
    isAttendance,
    isConflictDisabled,
    keywords,
    lastModified,
    location,
    notificationTime,
    objectVersion,
    olReminder,
    onlineMeeting,
    ownerId,
    parentDateId,
    resourceNames,
    sensitivity,
    sourceUrl,
    startDate,
    title,
    type,
    writeAccessList
  );
  
  CacheDateAttrs = ( /* special treatment in plist cache */
    cycleEndDate,
    endDate,
    startDate
  );
}
