{
  CVSID = "$Id$";

  bundleHandler = "SkyPalmBundleManager";

  requires = {
    bundleManagerVersion = 1;
  };
  
  provides = {
    classes = (
      { name = "SkyPalmBundleManager";        },
               
      { name = "SkyPalmCategoryDocument";     },
      { name = "SkyPalmDocument";             },
      { name = "SkyPalmAddressDocument";      },
      { name = "SkyPalmDateDocument.m";       },
      { name = "SkyPalmDateDocymentCopy";     },
      { name = "SkyPalmJobDocument";          },
      { name = "SkyPalmMemoDocument";         },

      { name = "SkyPalmDocumentDataSource";   },
      { name = "SkyPalmEntryDataSource";      },
      { name = "SkyPalmCategoryDataSource";   },
      { name = "SkyPalmDateDataSource";       },

      { name = "SkyPalmSyncMachine";          },
      { name = "SkyPalmPreSync";              },
      { name = "SkyPalmPostSync";             },
    );

    SkyDocumentGlobalIDResolver = (
      {
        name          = SkyPalmAddressGlobalIDResolver;
        GlobalIDClass = EOKeyGlobalID;
        qualifier     = "entityName='palm_address'";
      },
      {
        name          = SkyPalmDateGlobalIDResolver;
        GlobalIDClass = EOKeyGlobalID;
        qualifier     = "entityName='palm_date'";
      },
      {
        name          = SkyPalmJobGlobalIDResolver;
        GlobalIDClass = EOKeyGlobalID;
        qualifier     = "entityName='palm_todo'";
      },
      {
        name          = SkyPalmMemoGlobalIDResolver;
        GlobalIDClass = EOKeyGlobalID;
        qualifier     = "entityName='palm_memo'";
      },
    );
  };
}
