{
  bundleHandler = LSResourceCommands;

  requires = {
    bundleManagerVersion = 1;
    bundles = (
      { name = LSBase;    type = cmd; },
      { name = LSSearch;  type = cmd; }
    );
    classes = (
      { name = NSObject;              },
      { name = LSBaseCommand;            exact-version = 1; },
      { name = LSDBObjectBaseCommand;    exact-version = 1; },
      { name = LSDBObjectDeleteCommand;  exact-version = 1; },
      { name = LSDBObjectSetCommand;     exact-version = 2; },
      { name = LSDBObjectGetCommand;     exact-version = 3; },
      { name = LSDBFetchRelationCommand; exact-version = 1; },
      { name = LSExtendedSearchCommand;  exact-version = 2; },
    );
  };
  
  provides = {
    LSCommands = (
        { name = "resource::new";                       },
        { name = "resource::set";                       },
        { name = "resource::get";                       },
        { name = "resource::delete";                    },
        { name = "resource::get-contact";               },
        { name = "resource::extended-search";           },
        { name = "resource::set-subresources";          },
        { name = "resource::get-subresources";          },
        { name = "resource::get-superresources";        },
        { name = "resourceassignment::new";             },
        { name = "resourceassignment::set";             },
        { name = "resourceassignment::get";             },
        { name = "resourceassignment::delete";          }

    );
    classes = (
        { name = LSResourceCommands;                    },
        { name = LSNewResourceCommand;                  },
        { name = LSSetResourceCommand;                  },
        { name = LSExtendedSearchSingleResourceCommand; },
        { name = LSSetResourceAssignmentCommand;        },
        { name = LSGetSubResourcesCommand;              },
        { name = LSGetSuperResourcesCommand;            },
        { name = LSDeleteResourceCommand;               },
    );
  };
}
