{
  requires = {
    bundleManagerVersion = 1;
    classes = (
      { name = NSObject;    }
    );
  };

  provides = {
    classes = (
      { name = SxFolderRSS;       },
      { name = SxRSSRenderer;     },
      { name = SxRSSTaskRenderer; }
    );

    WOComponents = (
      { name = SxFolderRSS;  }
    );
  };
}
