{
  requires = ( ZSCommon, Tasks );

  publicResources = (
  );

  factories = {
  };

  categories = {
    SxFolder = {
      methods = {
        "rss" = {
          protectedBy = "View";
          pageName    = "SxFolderRSS"; 
        };
      };
    };

    SxTaskFolder = {
      methods = {
        "rss" = {
          protectedBy = "View";
          selector    = "rssInContext:";
        };
        "delegated-actions-rss" = {
          protectedBy = "View";
          selector    = "rssDelegatedActionsFeed:";
        };
        "delegated-tasks-rss" = {
          protectedBy = "View";
          selector    = "rssDelegatedTasksFeed:";
        };
        "todo-actions-rss" = {
          protectedBy = "View";
          selector    = "rssToDoActionsFeed:";
        };
        "todo-tasks-rss" = {
          protectedBy = "View";
          selector    = "rssToDoTasksFeed:";
        };
        "project-actions-rss" = {
          protectedBy = "View";
          selector    = "rssProjectActionsFeed:";
        };
      };
    };

  };
}
