{
  requires = ( ZSCommon, Tasks );

  publicResources = (
  );

  factories = {
  };

  categories = {
    SxFolder = {
      methods = {
        "rss" = {
          protectedBy = "View";
          pageName    = "SxFolderRSS"; 
        };
        "RSS" = {
           protectedBy = "View";
           pageName    = "SxRSSFeed";
        };
      };
    };

    SxTaskFolder = {
      methods = {
        "rss" = {
          protectedBy = "View";
          selector    = "rssInContext:";
        };
      };
    };

  };
}
