{
  bundleHandler = OGoMailEditorModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSMail;         type = cmd; },
      { name = OGoMailViewers; type = lso; },
      { name = OGoUIElements;  type = lso; },
      { name = OGoWebMail;     type = lso; },
    );
    classes = (
      { name = NSObject;          },
      { name = LSWModuleManager;  exact-version = 2; },
      { name = WOHyperlink;       version = 4;       },
      { name = SkyAttributeCell; },
      { name = SkyValueCell;     }

    );
  };
  
  provides = {
    classes = (
      { name = OGoMailEditorModule;        },
      { name = LSWImapMailEditor;       },
    );
          
    WOComponents = (
      { name = LSWImapMailEditor;       },
    );

    LSWCommands = (
      { verb = edit;       type = "objc/NGImap4Message";
        component = LSWImapMailEditor; },
      { verb = new;        type = "objc/NGImap4Message";
        component = LSWImapMailEditor; },
      { verb = reply;     type = "objc/NGImap4Message";
        component = LSWImapMailEditor; },
      { verb = reply-all; type = "objc/NGImap4Message";
        component = LSWImapMailEditor; },
      { verb = forward;   type = "objc/NGImap4Message";
        component = LSWImapMailEditor; },
      { verb = edit-as-new;   type = "objc/NGImap4Message";
        component = LSWImapMailEditor; },
    );
  };
}
