{
  "MTA" = (
    {
      name = "administrated domains";
      isTextArea = YES;
      valueSeperator = "; ";
      rows = 10;
      cols = 60;
      English = {
        title = "All domains which will be accepted from the local MTA.";
        info = "These are the domains wich will be accepted from the local MTA. This list will be used to get the correct email addresses of the accounts. The domains has to be seperated by a new line.";
      };
      German = {
        title = "Alle Domains, die vom lokalen MTA akzeptiert werden.";
        info = "Dieses Feld beinhaltet alle Domains, die vom lokalen MTA akzeptiert werden. Diese werden verwendet, um die entsprechenden E-Mail Adressen der Accounts in dem MTA zu exportieren. Die einzelnen Domains muessen jeweils in einer neuen Zeile stehen.";
      };
      ptBR = {
        title = "Todos os domínios aceitos pelo MTA local.";
        info = "Estes são os domínios que serão aceitos pelo MTA local. Esta lista será usada para se obter os endeeços de e-mails corretos das contas. Um domínio por linha.";
      };
    },
  );
}
