{
  "Application Server Settings" = (
     {
     name = WOListenQueueSize;
     English = {
       title = "Size of the Unix Listen Queue";
       info = "The WOListenQueue defaults configures the listen queue
              of the socket accepting connections forwarded by HTTP. 
              The listen queue size determines how many connections are 
              accepted before the system reports the server as busy and 
              rejects the access (note that the Apache module will retry 
              connecting several times if a server was busy)";
     };
     German = {
       title = "Gr&ouml;sse der Unix Listen Queue";
       info = "Dieser Parameter konfiguriert die Gr&ouml;sse der Unix
               Listen Queue. Sie legt fest, wie viele Anfragen der Server
               annimmt, bevor er meldet, dass der Server besch&auml;ftigt 
               ist.";
       };
     ptBR = {
       title = "Tamanho da Fila de Escuta do Unix (Unix Listen Queue)";
       info = "O <i>default</i> WOListenQueue configura a fila de escuta do socket que está aceitando conexões encaminhadas por HTTP. O tamanho da fila de escuta determina quantas conexões serão aceitas antes do sistema responder que está ocupado (busy) e rejeitar os acessos (note que o módulo Apache tentará reconectar várias vezes se o servidor estiver ocupado (busy)).";
     };
     },

     {
     name = WOResourcePrefix;
     critical = YES;
     English = {
       title = "Sets the resource prefix for the SKYRiX system";
       info = "This specifies the prefix for the images used within the
               SKYRiX system. Setting this to a wrong path will lead to
               a system without images.";
     };
     German = {
       title = "Prefix f&uuml;r den Pfad der SKYRiX-Resourcen";
       info = "Dieser Parameter legt den Prefix fest, der f&uuml;r alle
               Resource-URLs verwendet wird. Wenn dieser Parameter falsch gesetzt ist, werden im SKYRiX System keine Bilder mehr angezeigt.";
       };
     ptBR = {
       title = "Define o prefixo dos recursos web internos para o sistema OpenGroupware";
       info = "Especifica o prefixo para as imagens usadas no sistema OpenGroupware. Um erro neste caminho mostrará um sistema sem imagens.";
     };
     },
     {
     name = WODefaultSessionTimeout;
     English = {
       title = "Sets the time interval (in seconds) before a session times out.";
       info = "This parameter specifies the time interval before a session times out due to inactivity of the user.";
     };
     German = {
       title = "Setzt den Zeitintervall (in Sekunden), bevor eine Session automatisch beendet wird.";
       info = "Dieser Parameter legt den Zeitintervall fest, bevor eine Session durch Inaktivit&auml;t automatisch beendet wird.";
       };
     ptBR = {
       title = "Define o intervalo de tempo de inatividade (em segundos) antes da sessão expirar.";
       info = "Este parâmetro especifica o intervalo (em segundos) de inatividade da sessão antes dela expirar.";
     };
     },
     {
     name = UseSkyrixLoginForImap;
     values = (YES,NO);
     English = {
       title = "Should the SKYRiX login be used for IMAP aswell?";
       info = "With this parameter you can toggle if the SKYRiX login should also be used for IMAP access. If your IMAP server has the same account names as your SKYRiX server, you can set this to YES.";
     };
     German = {
       title = "Soll der SKYRiX-Login auch fuer IMAP genutzt werden?";
       info = "Mit diesem Parameter kann festgelegt werden, ob der SKYRiX Login auch f&uuml;r den Login auf dem IMAP-Server verwendet werden soll. Wenn Ihr IMAP-Server die gleichen Accountnamen wie Ihr SKYRiX-System besitzt, k&ouml;nnen sie diesen Parameter auf YES setzen.";
       };
     ptBR = {
       title = "Usar o login do OpenGroupware para o login no IMAP?";
       info = "Com este parâmetro será possível fazer login no IMAP pelo OpenGroupware. Se seu servidor IMAP tiver os mesmos nomes de conta que o servidor OpenGroupware, você pode colocar YES aqui.";
     };
     },
     {
     name = scheduler_max_cycles;
     English = {
       title = "Number of maximum cycles of appointments";
       info = "How many cycles can an appointment have? Depending on your system performance you can alter this value. Default value is 100.";
     };
     German = {
       title = "Maximale Anzahl der Wiederholtermine";
       info = "Mit diesem Parameter kann festgelegt werden, wie oft ein Termin wiederholt werden kann. Je nach Leistung ihres Systems k&ouml;nnen sie diesen Wert anpassen. Der Standardwert ist 100.";
       };
     ptBR = {
       title = "Número máximo de repetições de compromissos";
       info = "Quantas vezes um compromisso pode ser repetido? Você poderá alterar este valor mas haverá impactos no desempenho de seu sistema. O valor padrão é 100.";
     };
     },
  );
};
