// NSUserDefaults
{
  enterprise_sub_view = "attributes";
  persons_sub_view    = "attributes";
  address_blocksize   = "20";
  address_no_of_cols  = "3";
  formletter_kind     = "winword";
  persons_show_letter_tabs = NO;

  // editor visibilities
  "person_editor_commonVisibility"   = 1;
  "person_editor_addressVisibility"  = 1;
  "person_editor_extendedVisibility" = 0;
  "person_editor_commentVisibility"  = 0;
  "person_editor_pictureVisibility"  = 0;
  "person_editor_contactVisibility"  = 0;
  "person_editor_categoryVisibility" = 0;
  "person_editor_privateVisibility"  = 0;

  // person viewer
  person_viewer_aptfetchattrs = (
    title, location, startDate, endDate, globalID, ownerId, accessTeamId,
    permissions, resourceNames,
    "participants.companyId", "participants.globalID",
    "participants.login", "participants.firstname", "participants.name",
    "participants.description",
    "participants.isTeam", "participants.isAccount"
  );
  
  OGoPersonLinksEnabled = YES;
}
