// NSUserDefaults
{
  enterprise_sub_view = "attributes";
  persons_sub_view    = "attributes";
  address_blocksize   = "20";
  address_no_of_cols  = "3";
  formletter_kind     = "winword";
  persons_show_letter_tabs = NO;

  // editor visibilities
  "person_editor_commonVisibility"   = 1;
  "person_editor_addressVisibility"  = 1;
  "person_editor_extendedVisibility" = 0;
  "person_editor_commentVisibility"  = 0;
  "person_editor_pictureVisibility"  = 0;
  "person_editor_contactVisibility"  = 0;
  "person_editor_categoryVisibility" = 0;
  "person_editor_privateVisibility"  = 0;
  "company_editor_address_columns"   = 3;

  // person viewer
  person_viewer_aptfetchattrs = (
    title, location, startDate, endDate, globalID, ownerId, accessTeamId,
    permissions, resourceNames,
    "participants.companyId", "participants.globalID",
    "participants.login", "participants.firstname", "participants.name",
    "participants.description",
    "participants.isTeam", "participants.isAccount"
  );

  // lists
  person_defaultlist = (
    nickname, firstname, degree, job_title,
    email1, "01_tel"
  );
  person_defaultprintlist = (
    name, nickname, firstname, degree, job_title,
    email1, "01_tel"
  );
  person_defaultlist_opts = (
    name, firstname, middlename, nickname,
    salutation, degree, job_title, birthday, sex,
    login, keywords,

    /* emails */
    email1, email2, email3,
    
    /* phones */
    "01_tel", "02_tel", "03_tel_funk", "05_tel_private",
    "10_fax", "15_fax_private",

    /* URLs */
    url,

    /* company */
    "company.name",
    "company.number",

    /* adresses */
    
    "private.name1",
    "private.name2",
    "private.name3",
    "private.street",
    "private.city",
    "private.zip",
    "private.state",
    "private.country",

    "mailing.name1",
    "mailing.name2",
    "mailing.name3",
    "mailing.street",
    "mailing.city",
    "mailing.zip",
    "mailing.state",
    "mailing.country",

    "location.name1",
    "location.name2",
    "location.name3",
    "location.street",
    "location.city",
    "location.zip",
    "location.state",
    "location.country",
    
    /* Outlook attributes */
    bossName, partnerName, assistantName, department, office,
    occupation, imAddress
  );
  
  OGoPersonLinksEnabled = YES;
  
  /*
    Whether the person edit panel presets the private and readonly checkbox if
    its used to create a new contact.
  */
  OGoPersonEditor_PreselectPrivateCheckbox  = NO;
  OGoPersonEditor_PreselectReadonlyCheckbox = NO;

  /* makes the 'salutation' fields become a popup */
  person_editor_salutation_popup = (
    "01_dear_ms",
    "02_dear_mrs",
    "03_dear_mr",
    "04_dear_prof",
    "05_dear_dr",
    "06_geehrt_herr",
    "07_geehrt_frau",
    "08_geehrt_herr_prof",
    "09_geehrt_herr_dr",
    "10_geehrt_frau_prof",
    "11_geehrt_frau_dr",
    "12_monsieur",
    "13_madame",
    "14_signora",
    "15_signore"
  );
}
