// $Id$
{
  domainList = ( doc, documentversion, documentediting );

  domains = {
    doc = {
      operations = {
        "new"                  = { class = "LSNewDocumentCommand";       };
        "move"                 = { class = "LSMoveDocumentCommand";      };
        "checkout"             = { class = "LSCheckoutDocumentCommand";  };
        "reject"               = { class = "LSRejectDocumentCommand";    };
        "set"                  = { class = "LSSetDocumentCommand";       };
        "set-folder"           = { class = "LSSetFolderCommand";         };
        "set-object-link"      = { class = "LSSetObjectLinkCommand";     };
        "get"                  = { class = "LSGetDocumentCommand";       };
        "delete"               = { class = "LSDeleteDocumentCommand";    };
        "release"              = { class = "LSReleaseDocumentCommand";   };
        "get-attachment-name"  = { class = "LSGetAttachmentNameCommand"; };
        "get-by-globalid"      = { class = "LSGetDocumentForGlobalIDs";  };
        "extended-search"      = { 
                class = "LSExtendedSearchDocumentCommand";    
        };
        "check-get-permission" = { 
                class = "LSCheckGetPermissionDocumentCommand";
         };
        "get-current-owner" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Doc"; 
                destinationEntityName = "Person"; 
                sourceKey             = "currentOwnerId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          }; 
        };
        "get-document-editing" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Doc"; 
                destinationEntityName = "DocumentEditing"; 
                sourceKey             = "document_id"; 
                destinationKey        = "document_id";
                isToMany              = NO; 
          }; 
        };
      };
    };
    
    "documentversion" = {
      operations = {
        get                   = { class = "LSGetDocumentVersionCommand"; };
        "get-attachment-name" = { class = "LSGetAttachmentNameCommand";  };
        "check-get-permission" = {
                class = "LSCheckGetPermissionDocumentVersionCommand";
         };
        checkout = { class = "LSCheckoutDocumentVersionCommand";  };
        new      = {
          class  = "LSDBObjectNewCommand";
          init   = { entity = "DocumentVersion"; };
        };
        set      = {
          class  = "LSDBObjectSetCommand";
          init   = { entity = "DocumentVersion"; };
        };
        delete   = {
          class  = "LSDeleteDocumentVersionCommand";
        };
        "get-last-owner" = {
          class  = "LSDBFetchRelationCommand";
          init   = {
                entity                = "DocumentVersion"; 
                destinationEntityName = "Person"; 
                sourceKey             = "lastOwnerId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          }; 
        };
      };
    };
    
    "documentediting" = { 
      operations = {
        get                    = { class = "LSGetDocumentEditingCommand"; };
        "get-attachment-name"  = { class = "LSGetAttachmentNameCommand";  };
        "get-by-globalid"      = { class = "LSGetDocumentEditingForGlobalIDs"; };
        "check-get-permission" = { 
                class = "LSCheckGetPermissionDocumentEditingCommand";
        };
        "get-current-owner" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "DocumentEditing"; 
                destinationEntityName = "Person"; 
                sourceKey             = "currentOwnerId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          }; 
        };
      };
    };
  };
}
