// $Id$
{
  domainList = (
    "invoice",
    "article",
    "articlecategory",
    "articleunit",
    "invoicearticleassignment",
    "invoiceaccount",
    "invoiceaction",
    "invoiceaccounting"
  );

  domains = {
    "enterprise" = {
      operations = {
        "fetch-unsettled-invoices" = {
          class = "LSFetchUnsettledInvoicesCommand";
        };
        "get-with-invoice-status" = {
          class = "LSGetEnterpriseWithInvoiceStatus";
        };
        "create-invoiceaccount" = {
          class = "LSCreateInvoiceAccountForEnterpriseCommand";
        };
        "print-monition" = {
          class = "LSPrintInvoiceMonitionCommand";
        };
      };
    };
    "invoice" = {
      operations = {
        "new"           = { class = "LSNewInvoiceCommand";      };
        "set"           = { class = "LSSetInvoiceCommand";      };
        "get"           = { class = "LSGetInvoiceCommand";      };
        "fetch-additional" = {
          class = "LSFetchAdditionalInvoiceValuesCommand";
        };
        "set-debitor"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "Invoice";
            destinationEntityName = "Enterprise";
            sourceKey             = "debitorId";
            destinationKey        = "companyId";
            isToMany              = NO;
          };
        };
        "set-articles"  = {
          class = "LSSetInvoiceAssignmentCommand";
        };
        "get-articles"   = { class = "LSGetInvoiceArticlesCommand";     };
        "delete"         = { class = "LSDeleteInvoiceCommand";          };
        "print"          = { class = "LSPrintInvoiceCommand";           };
        "cancel"         = { class = "LSCancelInvoiceCommand";          };
        "monition"       = { class = "LSInvoiceMonitionCommand";        };
        "finish"         = { class = "LSFinishInvoiceCommand";          };
        "copy-invoices"  = { class = "LSCopyInvoicesCommand";           };
        "move-invoices"  = { class = "LSMoveInvoicesCommand";           };
        "accounting"     = { class = "LSInvoiceAccountingCommand";      };
        "extended-search" = { 
          class = "LSExtendedSearchCommand";
          init  = { entity = "Invoice"; };
        };
        "get-by-globalid" = { class = "LSGetInvoicesForGlobalIDs";      };
      };
    };

    "article" = {
      operations = {
        "new"   = { class = "LSNewInvoiceArticleCommand";       };
        "get"   = { class = "LSGetInvoiceArticleCommand";       };
        "set"   = { class = "LSSetInvoiceArticleCommand";       };
        "set-unit"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "Article";
            destinationEntityName = "ArticleUnit";
            sourceKey             = "articleUnitId";
            destinationKey        = "articleUnitId";
            isToMany              = NO;
          };
        };
        "set-category"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "Article";
            destinationEntityName = "ArticleCategory";
            sourceKey             = "articleCategoryId";
            destinationKey        = "articleCategoryId";
            isToMany              = NO;
          };
        };
        "delete"       = { class = "LSDeleteInvoiceArticleCommand";     };
        "extended-search" = { 
          class = "LSExtendedSearchCommand";
          init  = { entity = "Article"; };
        };
      };
    };

    "articlecategory" = {
      operations = {
        "get" = {
          class = "LSDBObjectGetCommand";
          init  = { entity = "ArticleCategory"; };
        };
        "set" = { class = "LSSetArticleCategoryCommand";        };
        "new" = { class = "LSNewArticleCategoryCommand";        };
        "delete" = { class = "LSDeleteArticleCategoryCommand";  };
      };
    };

    "articleunit" = {
      operations = {
        "get" = {
          class = "LSDBObjectGetCommand";
          init  = { entity = "ArticleUnit";     };
        };
        "new" = {
          class = "LSDBObjectNewCommand";
          init  = { entity = "ArticleUnit";     };
        };
        "set" = {
          class = "LSDBObjectSetCommand";
          init  = { entity = "ArticleUnit";     };
        };
        "delete" = { class = "LSDeleteArticleUnitCommand"       };
      };
    };

    "invoicearticleassignment" = {
      operations = {
        "new" = { class = "LSNewInvoiceArticleAssignmentCommand";       };
        "set" = { class = "LSSetInvoiceArticleAssignmentCommand";       };
        "get" = {
          class = "LSDBObjectGetCommand";
          init  = { entity = "InvoiceArticleAssignment";        };
        };
        "delete" = {
          class = "LSDBObjectDeleteCommand";
          init  = { entity = "InvoiceArticleAssignment";        };
        };
      };
    };
    "invoiceaccount" = {
      operations = {
        "get" = { class = "LSGetInvoiceAccountCommand";         };
        "new" = { class = "LSNewInvoiceAccountCommand";         };
        "create" =  { 
                class = "LSCreateInvoiceAccountCommand";
        };
        "set" = { class = "LSSetInvoiceAccountCommand";         };
        "fetch-debitor"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "InvoiceAccount";
            destinationEntityName = "Enterprise";
            sourceKey             = "companyId";
            destinationKey        = "companyId";
            isToMany              = NO;
          };
        };
      };
    };
    "invoiceaction" = {
      operations = {
        "get" = { class = "LSGetInvoiceActionCommand";         };
        "new" = { class = "LSNewInvoiceActionCommand";         };
        "fetch-account"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "InvoiceAction";
            destinationEntityName = "InvoiceAccount";
            sourceKey             = "accountId";
            destinationKey        = "invoiceAccountId";
            isToMany              = NO;
          };
        };
        "fetch-accounting" = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "InvoiceAction";
            destinationEntityName = "InvoiceAccounting";
            sourceKey             = "invoiceActionId";
            destinationKey        = "actionId";
            isToMany              = NO;
          };
        };
        "fetch-document"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "InvoiceAction";
            destinationEntityName = "Doc";
            sourceKey             = "documentId";
            destinationKey        = "documentId";
            isToMany              = NO;
          };
        };
        "fetch-invoice"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "InvoiceAction";
            destinationEntityName = "Invoice";
            sourceKey             = "invoiceId";
            destinationKey        = "invoiceId";
            isToMany              = NO;
          };
        };
      };
    };
    "invoiceaccounting" = {
      operations = {
        "get" = { class = "LSGetInvoiceAccountingCommand";         };
        "new" = { class = "LSNewInvoiceAccountingCommand";         };
        "fetch-invoice"   = {
          class = "LSFetchInvoiceIntoInvoiceAccountingCommand";
        };
        "fetch-action"   = {
          class = "LSDBFetchRelationCommand";
          init  = {
            entity                = "InvoiceAcccounting";
            destinationEntityName = "InvoiceAction";
            sourceKey             = "actionId";
            destinationKey        = "invoiceActionId";
            isToMany              = NO;
          };
        };
      };
    };
  };
}
