{
  bundleHandler = LSWNewsModule;
  
  requires = {
    bundleManagerVersion = 1;

    bundles = ( 
      { name = LSNews;          type = cmd;   },
    );
    classes = (
      { name = LSWComponent;     exact-version = 2; },
      { name = LSWContentPage;   exact-version = 3; },
      { name = LSWModuleManager; exact-version = 2; },
      { name = SkyAttributeCell; },
      { name = SkyValueCell;     }
    );
  };
  
  provides = {
    classes = (
      { name = LSWNewsModule;        },
      { name = LSWNewsArticleViewer; },
      { name = LSWNewsArticleEditor; },
      { name = LSWNewsArticles;      },
      { name = SkyNews;              },
      { name = SkyNewsPreferences;   },
    );

    DockablePages = (
      { 
        name      = "News";
        component = "SkyNews";
        labelKey  = "News";
        image     = "menu_news_labeled.gif";
        listicon  = "icon_news_26x21.gif";
      }
    );
    
    WOComponents = (
      { name = LSWNewsArticleViewer; },
      { name = LSWNewsArticleEditor; },
      { name = LSWNewsArticles;      },
      { name = SkyNews;              },
      { name = SkyNewsPreferences;   },
    );

    PreferencePages = (
      {
        name      = "News";
        component = "SkyNewsPreferences";
        labelKey  = "News";
        icon      = "icon_news_26x21.gif";
      }
    );
    
    LSWCommands = (
      { 
        verb = view; type = "eo/newsarticle"; 
        component = LSWNewsArticleViewer; 
      },
      { 
        verb = edit; type = "eo/newsarticle"; 
        component = LSWNewsArticleEditor; 
      },
      { 
        verb = new; type = "eo/newsarticle"; 
        component = LSWNewsArticleEditor; 
      }
    );
  };
}
