{ // $Id$
  bundleHandler = LdapViewerModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = (
    );
    classes = (
      { name = OGoComponent;     exact-version = 2; },
      { name = OGoContentPage;   exact-version = 3; },
      { name = LSWModuleManager; exact-version = 2; },
    );
  };

  provides = {
    classes = (
      { name = LdapViewerModule;            },
      { name = LdapViewerPanel;             },
      { name = AddressList;                 },
      { name = LdapPersonViewer;            },
      { name = LdapPersonEditor;            },
      { name = LdapPersonDataSource;        },
      { name = LdapPersonDocument;          },
      { name = SkyLDAPDataSource;           },
      { name = SkyLDAPDocument;             },
      { name = SkyLDAPFileManager;          },
    );
    WOComponents = (
      { name = LdapViewerPanel;           },
      { name = AddressList;               },
      { name = LdapPersonViewer;          },
      { name = LdapPersonEditor;          },
    );
    DockablePages = (
      { 
        name         = "LdapViewer";
        component    = "LdapViewerPanel";
        labelKey     = "LdapViewer";
        image        = "menu_enterprises_labeled.gif";
        listicon     = "icon_enterprises_26x21.gif";
      }
    );
    LSWCommands = (
    );
  };
}
