/* inspired by MovableType */

a, a:link, a:visited { 
  color: #003366; 
  text-decoration: underline; 
}
a:link	  {
  color: #003366; 
  text-decoration: underline; 
}
a:active, a:hover { 
  color: #999999; 
}

h1, h2, h3 {
  margin:  0px;
  padding: 0px;
}

div#header {
  font-family:   palatino,  georgia, verdana, arial, sans-serif;
  color:         #333333;
  font-size:     12pt;
  font-weight:   normal;	
  margin:        5px;
  border-bottom: 1px solid #08348B;
}

div#header a, div#header a:link, div#header a:visited, 
div#header a:active, div#header h1 {
  font-family:     palatino,  georgia, verdana, arial, sans-serif;
  font-size:       12pt;
  color:           #333333;
  text-decoration: none;
  /* text-transform:  capitalize; */
}
div#header a:hover {
  font-family:     palatino,  georgia, verdana, arial, sans-serif;
  font-size:       16pt;
  color:           #333333;
  text-decoration: underline;
}

span.description {
  font-family:    palatino,  georgia, times new roman, serif;
  color:          #333333;
  font-size:      small;
  text-transform: none;	
}

div#content {
  background: #FFFFFF;
  border:     1px solid #FFFFFF;
}

div.cards {
  padding:    15px;
  background: #FFFFFF;
}

div.cardbody {
  font-family: palatino, georgia, verdana, arial, sans-serif;
  color:       #333333;
  font-size:   small;
  font-weight: normal;
  background:  #FFFFFF;
  line-height: 150%;
  border:      1px dotted #08348B;
  padding:     5px;
}

div.cardbody a,	div.cardbody a:link, div.cardbody a:visited,
div.cardbody a:active, div.cardbody a:hover {
  font-weight:     normal;
  text-decoration: underline;
}

h3.title {
  font-family: palatino, georgia, times new roman, serif;
  font-size:   8pt;
  color:       #666666;
}
h2.projecttitle, h2.projecttitle a:link, h2.projecttitle a:visited  { 
  font-family:   palatino, georgia, times new roman, serif; 
  font-size:     11pt; 
  color:         #333333; 
  border-bottom: 1px solid #08348B;
  margin-bottom: 10px;
  font-weight:   bold;
  text-decoration: none;
}
		
div.projectowner { 
  font-family:   verdana, arial, sans-serif; 
  font-size:     x-small; 
  color:         #000000; 
  margin-bottom: 5px;
}

table.projectfields td {
  font-family:   verdana, arial, sans-serif; 
  font-size:     x-small; 
  color:         #333333; 
  margin-bottom: 25px;
}
