// $Id$
{
  LSMimeTypes = {
        "ab"    = "application/x-applixware";
        "ag"    = "application/x-applixware";
        "ai"    = "application/postscript";
        "aif"   = "audio/x-aiff";
        "aifc"  = "audio/x-aiff";
        "aiff"  = "audio/x-aiff";
        "am"    = "application/x-applixware";
        "ap"    = "application/x-applixware";
        "aq"    = "application/x-applixware";
        "as"    = "application/x-applixware";
        "asd"   = "application/astound";
        "asn"   = "application/astound";
        "asp"   = "application/x-asap";
        "au"    = "audio/basic";
        "avi"   = "video/x-msvideo";
        "aw"    = "application/x-applixware";
        "bin"   = "application/octet-stream";
        "bmp"   = "image/bmp";
        "cdf"   = "application/x-netcdf";
        "class" = "application/java-vm";
        "clp"   = "application/x-msclip";
        "cpio"  = "application/x-cpio";
        "crd"   = "application/x-mscardfile";
        "csh"   = "application/x-csh";
        "css"   = "application/x-pointplus";
        "doc"   = "application/msword";
        "dot"   = "application/x-dot";
        "dvi"   = "application/x-dvi";
        "dwg"   = "application/acad";                    
        "dxf"   = "application/dxf";                    
        "eps"   = "application/postscript";
        "es"    = "audio/echospeech";
        "esl"   = "audio/echospeech";
        "etc"   = "application/x-earthtime";
        "etx"   = "text/x-setext";
        "evy"   = "application/x-envoy";
        "fax"   = "image/tiff";
        "fif"   = "image/fif";
        "fm"    = "application/vnd.framemaker";
        "frame" = "application/vnd.framemaker";
        "fvi"   = "video/isivideo";
        "gif"   = "image/gif";
        "gtar"  = "application/x-gtar";
        "gz"    = "application/x-compressed";
        "hdf"   = "application/x-hdf";
        "hlp"   = "application/winhlp";
        "hqx"   = "application/mac-binhex40";
        "htm"   = "text/html";
        "html"  = "text/html";
        "ief"   = "image/ief";
        "ifs"   = "image/ifs";
        "ins"   = "application/x-NET-Install";
        "jar"   = "application/java-archive";
        "jfif"  = "image/jpeg";
        "jpe"   = "image/jpeg";
        "jpeg"  = "image/jpeg";
        "jpg"   = "image/jpeg";
        "js"    = "application/x-javascript";
        "jsc"   = "application/x-javascript-config";
        "jsu"   = "application/x-javascript;charset=UTF-8";
        "lam"   = "audio/x-liveaudio";
        "latex" = "application/x-latex";
        "lcc"   = "application/fastman";
        "m13"   = "application/x-msmediaview";
        "m14"   = "application/x-msmediaview";
        "man"   = "application/x-troff-man";
        "mbd"   = "application/mbedlet";
        "mdb"   = "application/x-msaccess";
        "me"    = "application/x-troff-me";
        "mi"    = "application/x-mif";
        "mid"   = "audio/x-midi";
        "midi"  = "audio/x-midi";
        "mif"   = "application/vnd.framemaker";
        "mny"   = "application/x-msmoney";
        "moc"   = "application/x-mocha";
        "mocha" = "application/x-mocha";
        "moov"  = "video/quicktime";
        "mov"   = "video/quicktime";
        "movie" = "video/x-sgi-movie";
        "mp2v"  = "video/x-mpeg2";
        "mpe"   = "video/mpeg";
        "mpeg"  = "video/mpeg";
        "mpegv" = "video/mpeg";
        "mpg"   = "video/mpeg";
        "mpp"   = "application/vnd.ms-project";
        "mpv"   = "video/mpeg";
        "mpv2"  = "video/x-mpeg2";
        "mp3"   = "audio/x-mpg3";
        "ms"    = "application/x-troff-ms";
        "nc"    = "application/x-netcdf";
        "oda"   = "application/oda";
        "pac"   = "audio/x-pac";
        "pae"   = "audio/x-epac";
        "pbm"   = "image/x-portable-bitmap";
        "pcd"   = "image/x-photo-cd";               
        "pdf"   = "application/pdf";
        "pgm"   = "image/x-portable-graymap";
        "pjp"   = "image/jpeg";
        "pjpeg" = "image/jpeg";
        "pl"    = "application/x-perl";
        "png"   = "image/png";
        "pnm"   = "image/x-portable-anymap";
        "pot"   = "application/vnd.ms-powerpoint";
        "ppm"   = "image/x-portable-pixmap";
        "pps"   = "application/vnd.ms-powerpoint";
        "ppt"   = "application/vnd.ms-powerpoint";
        "proxy" = "application/x-ns-proxy-autoconfig";
        "ps"    = "application/postscript";
        "pub"   = "application/x-mspublisher";
        "qt"    = "video/quicktime";
        "ra"    = "audio/x-pn-realaudio";
        "ram"   = "audio/x-pn-realaudio";
        "ras"   = "image/x-cmu-raster";
        "rgb"   = "image/x-rgb";
        "roff"  = "application/x-troff";
        "rtf"   = "application/rtf";
        "rtx"   = "text/richtext";
        "scd"   = "application/x-msschedule";
        "ser"   = "application/java-serialized-object";
        "sh"    = "application/x-sh";
        "shar"  = "application/x-shar";
        "sit"   = "application/x-stuffit";
        "slc"   = "application/x-salsa";
        "smp"   = "application/studiom";
        "snd"   = "audio/basic";
        "spr"   = "application/x-sprite";
        "sprite" = "application/x-sprite";
        "src"   = "application/x-wais-source";
        "svf"   = "image/vnd";
        "svr"   = "x-world/x-svr";
        "t"     = "application/x-troff";
        "talk"  = "text/x-speech";
        "tar"   = "application/x-tar";
        "tbp"   = "application/x-timbuktu";
        "tbt"   = "application/timbuktu";
        "tcl"   = "application/x-tcl";
        "tex"   = "application/x-tex";
        "texi"  = "application/x-texinfo";
        "texinfo" = "application/x-texinfo";
        "tgz"   = "application/x-compressed";
        "tif"   = "image/tiff";
        "tiff"  = "image/tiff";
        "tki"   = "application/x-tkined";
        "tkined" = "application/x-tkined";
        "tr"    = "application/x-troff";
        "trm"   = "application/x-msterminal";
        "tsv"   = "text/tab-separated-values";
        "txt"   = "text/plain";
        "vbs"   = "video/mpeg";
        "viv"   = "video/vivo";
        "vivo"  = "video/vivo";
        "vrt"   = "x-world/x-vrt";
        "wav"   = "audio/x-wav";
        "wi"    = "image/wavelet";
        "wmf"   = "application/x-msmetafile";
        "wri"   = "application/x-mswrite";
        "wrl"   = "x-world/x-vrml";
        "wv"    = "video/wavelet";
        "xbm"   = "image/x-xbitmap";
        "xla"   = "application/vnd.ms-excel";
        "xlc"   = "application/vnd.ms-excel";
        "xll"   = "application/x-excel";
        "xlm"   = "application/vnd.ms-excel";
        "xls"   = "application/vnd.ms-excel";
        "xlt"   = "application/vnd.ms-excel";
        "xlw"   = "application/vnd.ms-excel";
        "xpm"   = "image/x-xpixmap";
        "xwd"   = "image/x-xwindowdump";
        "zip"   = "application/zip";
  };
}
