<#IsNotInlineCond>
  <#Frame>
    <!-- $Id: LSWNewsArticleViewer.html 2 2004-08-20 11:37:44Z znek $ -->
    <#Window>
        <table width="100%" border="0" cellpadding="4" cellspacing="0">
          <#Title><#EditLink/></#Title>

          <tr bgcolor="#ffffff">
            <td colspan="2">
              <#Font><h3><#ArticleCaption/></h3></#Font>
            </td>
          </tr>
 
          <tr bgcolor="#ffffff">
            <td colspan="2">
              <#Font>
                <#ContentRep>
                  <#IsText><#Text/></#IsText>
                  <#IsLink>
                    <#IsActionLinkElse><#Link/></#IsActionElse>
                    <#IsActionLink><#ActionLink/></#IsActionLink>
                  </#IsLink>
                </#ContentRep>
              </#Font>
            </td>
          </tr>

          <#HasImage>
            <tr bgcolor="#ffffff">
              <td colspan="2"><#ArticleImage/></td>
            </tr>
          </#HasImage>

          <tr><td colspan="2"></td></tr>

          <tr bgcolor="#e0e0e0">
            <td>
              <table border="0" cellpadding="2" cellspacing="1">
                <#NewsArticleRep>
                  <tr>
                    <td>
                      <#Font> - <#NewsArticleLink/></#Font>
                    </td>
                    <td>
                      <#Font><#NewsArticleCaption/></#Font>
                    </td>
                  </tr>
                </#NewsArticleRep>
              </table>
            </td>
          </tr>
        </table>
    </#Window>
  </#Frame>
</#IsNotInlineCond>

<#IsInlineCond>
  <table width="100%" border="0" cellpadding="4" cellspacing="0">
    <#Title/>

    <tr bgcolor="#ffffff">
      <td colspan="2">
        <#Font><h3><#ArticleCaption/></h3></#Font>
      </td>
    </tr>

    <tr bgcolor="#ffffff">
      <td colspan="2">
        <#Font>
          <#ContentRep>
            <#IsText><#Text/></#IsText>
            <#IsLink>
              <#IsActionLinkElse><#Link/></#IsActionLinkElse>
              <#IsActionLink><#ActionLink/></#IsActionLink>
            </#IsLink>
          </#ContentRep>
        </#Font>
      </td>
    </tr>

    <#HasImage>
      <tr bgcolor="#ffffff">
        <td colspan="2"><#ArticleImage/></td>
      </tr>
    </#HasImage>

    <tr><td colspan=2></td></tr>

    <tr>
      <td>
        <table border="0" cellpadding="2" cellspacing="1">

          <#NewsArticleRep>
            <tr>
              <td>
                <#Font> - <#NewsArticleLink/></#Font>
              </td>
              <td>
                <#Font><#NewsArticleCaption/></#Font>
              </td>
            </tr>
          </#NewsArticleRep>
         </table>
      </td>
    </tr>
  </table>
</#IsInlineCond>
