<#Frame>
  <#Window>
    <#TabView>
      <#NewsTab>
        <table border="0" cellspacing="0" cellpadding="2" width="100%">
          <#ShowNewsOnTopCond>
            <tr>
              <td colspan="2"><#News/></td>
            </tr>
            <tr>
              <td valign="top"><#AppointmentList/></td>
              <td valign="top"><#JobList/></td>
            </tr>
          </#ShowNewsOnTopCond>
          <#ShowNewsNotOnTopCond>
            <tr>
              <td valign="top"><#AppointmentList/></td>
              <td valign="top"><#JobList/></td>
            </tr>
            <tr>
              <td colspan="2"><#News/></td>
            </tr>
          </#ShowNewsNotOnTopCond>
        </table>
      </#NewsTab>
      
      <#ExtTabs><#ExtTab><#ExtContent/></#ExtTab></#ExtTabs>
      
      <#IsAccountNewsEditor>
        <#EditorsTab>
          <#NewsArticleList>
            <#ButtonMode><#Buttons/></#ButtonMode>
            <#NameData/>
            <#CaptionData><#Caption/></#CaptionData>
            <#IsIndexArticleData><#IsIndexArticle/></#IsIndexArticleData>
          </#NewsArticleList>
        </#EditorsTab>
      </#IsAccountNewsEditor>
    </#TabView>
  </#Window>
</#Frame>
