{
  bundleHandler = SkyUIElementsModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = (
      { name = LSBase;  type = cmd;   }
    );
    classes = (
      { name = WODirectAction; exact-version = 4; },
    );
  };
  
  provides = {
    classes = (
        { name = SkyUIElementsModule;          },
        { name = SkyFileManagerTreeView;       },
        { name = SkyTabView;                   },
        { name = SkyTabItem;                   },
        { name = SkyTreeView;                  },
        { name = SkyTableView;                 },
        { name = SkyCollapsibleContent;        },
        { name = SkyCollapsibleTitleMode;      },
        { name = SkyCollapsibleButtonMode;     },
        { name = SkyCollapsibleContentMode;    },
        { name = SkyLicenseConditional;        },
        { name = SkyRichString;                },
        { name = SkyTextEditor;                },
        { name = SkyDateField;                 },
        { name = SkyNoTakeValues;              },
        { name = SkyProfileTemplate;           },
        { name = SkyAccessList;                },
        { name = SkySimpleTabItem;             },
        { name = SkyDialNumber;                },
        { name = SkyCalendarScript;            },
        { name = SkyCalendarPopUp;             },
        { name = OGoPageButton;                },
        { name = OGoEmbedExternalLink;         },
    );
    WODynamicElements = (
        { name = SkySimpleTabItem;             },
        { name = SkyTabView;                   },
        { name = SkyTabItem;                   },
        { name = SkyTreeView;                  },
        { name = SkyCollapsibleTitleMode;      },
        { name = SkyCollapsibleButtonMode;     },
        { name = SkyCollapsibleContentMode;    },
        { name = SkyLicenseConditional;        },
        { name = SkyRichString;                },
        { name = SkyDateField;                 },
        { name = SkyNoTakeValues;              },
        { name = SkyProfileTemplate;           },
        { name = SkyAccessList;                },
        { name = SkyDialNumber;                },
        { name = SkyExternalLink;              },
        { name = OGoPageButton;                },
        { name = OGoEmbedExternalLink;         },
    );
    WOComponents = (
        { name = SkyFileManagerTreeView;       },
        { name = SkyTableView;                 },
        { name = SkyCollapsibleContent;        },        
        { name = SkyTextEditor;                },
        { name = SkyAccessList;                },
        { name = SkyCalendarScript;            },
        { name = SkyCalendarPopUp;             },
        { name = SkyExternalLink;              },
    );
    
    WOxElemBuilder = (
      { name = OGoUIElementsBuilder; },
    );
  };
}
