{
  classes = {
    SxObject = {
      superclass    = "NSObject";
      protectedBy   = "View";
      
      methods = {
        "GET" = {
          protectedBy = "View";
        };
        "PUT" = {
          protectedBy = "Change Images and Files";
        };
        "DELETE" = {
          protectedBy = "Delete Objects";
        };
      };
      
      defaultRoles = {
        "View"                        = "Owner";
        "Access Contents Information" = "Owner";
        "Change Images and Files"     = "Owner";
        "Delete Objects"              = "Owner";
        "Add Folders"                 = "Owner";
	"Add Documents, Images, and Files" = "Owner";
      };
    };
    SxFolder = {
      superclass    = "NSObject";
      protectedBy   = "View";
      defaultRoles = {
        "View"                        = "Owner";
        "Access Contents Information" = "Owner";
        "Change Images and Files"     = "Owner";
        "Delete Objects"              = "Owner";
        "Add Folders"                 = "Owner";
	"Add Documents, Images, and Files" = "Owner";
      };
    };

    SxMailFolder = {
      superclass    = "SxFolder";
      protectedBy   = "View";
    };
    
    SxUserFolder = {
      superclass    = "SxMailFolder";
      protectedBy   = "View";
      defaultAccess = "allow";
      defaultRoles = {
        "View"                        = "Owner";
        "WebDAV Access"               = "Owner";
        "Access Contents Information" = "Owner";
        "Change Images and Files"     = "Owner";
        "Delete Objects"              = "Owner";
        "Add Folders"                 = "Owner";
	"Add Documents, Images, and Files" = "Owner";
      };
      methods = {
      };
    };
    
    SxPublicFolder = {
      superclass    = "SxMailFolder";
      protectedBy   = "View";
      defaultAccess = "allow";
      defaultRoles = {
        "View"                             = "Authenticated";
        "Access Contents Information"      = "Authenticated";
        "Change Images and Files"          = "Authenticated";
        "Delete Objects"                   = "Authenticated";
        "Add Folders"                      = "Manager";
	"Add Documents, Images, and Files" = "Authenticated";
      };
    };
    SxMsgRootFolder = {
      superclass    = "SxMailFolder";
      protectedBy   = "View";
      defaultAccess = "allow";
      defaultRoles = {
        "View"                             = "Authenticated";
        "Access Contents Information"      = "Authenticated";
        "Change Images and Files"          = "Authenticated";
        "Delete Objects"                   = "Authenticated";
        "Add Folders"                      = "Authenticated";
	"Add Documents, Images, and Files" = "Authenticated";
      };
    };
    
    ZideStore = {
      superclass    = "SoApplication";
      protectedBy   = "View";
      defaultAccess = "allow";
      defaultRoles = {
        "View"               = "Anonymous";
        "WebDAV Access"      = "Authenticated";
      };
      methods = {
      };
    };

    SxImageHandler = {
      defaultAccess = "allow";
      protectedBy   = "<public>"; 
   };
  };
}
