{
  bundleHandler = LSSchedulerCommands;
  
  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSBase;    type = cmd; },
      { name = LSAddress; type = cmd; }
    );
    
    classes = (
      { name = NSObject;              },
      { name = LSBaseCommand;            exact-version = 1; },
      { name = LSDBObjectBaseCommand;    exact-version = 1; },
      { name = LSDBObjectDeleteCommand;  exact-version = 1; },
      { name = LSDBObjectSetCommand;     exact-version = 2; },
      { name = LSDBObjectGetCommand;     exact-version = 3; },
      { name = LSDBFetchRelationCommand; exact-version = 1; },
      { name = LSGetObjectForGlobalIDs;  exact-version = 1; },    
    );
  };
  
  provides = {
    LSCommands = (
        { name = "datecompanyassignment::new";    },
        { name = "datecompanyassignment::set";    },
        { name = "datecompanyassignment::get";    },
        { name = "datecompanyassignment::delete"; },
        { name = "date::delete";                  },
        { name = "appointment::new";              },
        { name = "appointment::access";           },
        { name = "appointment::set";              },
        { name = "appointment::get";              },
        { name = "appointment::delete";           },
        { name = "appointment::access";           },
        { name = "appointment::converttimezone";  },
        { name = "appointment::weekdates";        },
        { name = "appointment::daydates";         },
        { name = "appointment::filter-amdates";   },
        { name = "appointment::filter-pmdates";   },
        { name = "appointment::filter-dates";     },
        { name = "appointment::filter-staff";     },  
        { name = "appointment::mondaysofyear";    },
        { name = "appointment::conflicts";        },  
        { name = "appointment::new-cyclic";       },
        { name = "appointment::months";           },  
        { name = "appointment::set-participants"; },
        { name = "appointment::get-participants"; },  
        { name = "appointment::list-participants"; },
        { name = "appointment::intersection";     },  
        { name = "appointment::filteramdates";    },
        { name = "appointment::filterpmdates";    },  
        { name = "appointment::filterdates";      },  
        { name = "appointment::filterstaff";      },
        { name = "appointment::filter-several-days"; },
        { name = "appointment::filter-absence";   },
        { name = "appointment::assigncompanydate";},  
        { name = "appointment::getparticipants";  },
        { name = "appointment::get-cyclic";       },
        { name = "appointment::get-comment";      },
        { name = "appointment::get-access-team-info"; },
        { name = "appointment::get-comments";     },
        { name = "appointment::proposal";         },
        { name = "appointment::filter-attendance";},
        { name = "appointment::get-appointments"; },
        { name = "appointment::get-by-globalid";  },
        { name = "appointment::query";            },
        { name = "appointmentresource::set-all";  },
        { name = "appointmentresource::extended-search"; },
        { name = "appointmentresource::new";      },
        { name = "appointmentresource::get";      },
        { name = "appointmentresource::set";      },
        { name = "appointmentresource::delete";   },
        { name = "appointmentresource::get-by-globalid"; },
        { name = "appointmentresource::categories";      },
        { name = "appointment::used-resources";          },
        { name = "appointment::move";                    },
        { name = "appointment::update-with-vevent";      },
        { name = "appointment::get-by-sourceurls";       },
        { name = "appointment::new-with-vevent";         },
        { name = "appointment::get-ical";                },
    );
    classes = (
        { name = LSAppointmentProposalCommand;       },
        { name = LSAptAccessCommand;                 },
        { name = LSConvertTimeZoneCommand;           },
        { name = LSCyclicAppointmentsCommand;        },
        { name = LSDateAssignmentCommand;            },
        { name = LSDeleteAppointmentCommand;         },
        { name = LSFetchCyclicAppointmentCommand;    },
        { name = LSFilterAMWeekDaysCommand;          },
        { name = LSFilterAbsenceCommand;             },
        { name = LSFilterAttendanceCommand;          },
        { name = LSFilterPMWeekDaysCommand;          },
        { name = LSFilterSeveralDaysCommand;         },
        { name = LSFilterStaffCommand;               },
        { name = LSFilterWeekDaysCommand;            },
        { name = LSGetAccessTeamInfoCommand;         },
        { name = LSGetAppointmentCommand;            },
        { name = LSGetAppointmentsForGlobalIDs;      },
        { name = LSGetAppointmentsForSourceUrls;     },
        { name = LSGetAppointmentsOfAccountCommand;  },
        { name = LSGetCommentForAppointmentsCommand; },
        { name = LSGetCompanyForDateCommand;         },
        { name = LSGetDateForADayCommand;            },
        { name = LSGetDateForAWeekCommand;           },
        { name = LSGetDateWithConflictCommand;       },
        { name = LSGetICalForAppointmentsCommand;    },
        { name = LSGetResourcesForGlobalIDs;         },
        { name = LSListParticipantsCommand;          },
        { name = LSMondaysOfYearCommand;             },
        { name = LSMonthCommand;                     },
        { name = LSMoveAppointmentCommand;           },
        { name = LSNewAppointmentCommand;            },
        { name = LSNewAppointmentFromVEventCommand;  },
        { name = LSParticipantsIntersectionCommand;  },
        { name = LSQueryAppointments;                },
        { name = LSResourceCategories;               },
        { name = LSSchedulerCommands;                },
        { name = LSSetAppointmentCommand;            },
        { name = LSSetResourcesCommand;              },
        { name = LSUpdateAppointmentWithVEventCommand; },
        { name = LSUsedResourcesCommand;             },
    );     
  };
}
