<#JobList>
  <#StatusIconData><#StatusIcon/></#StatusIconData>
  <#StatusData><#Status/></#StatusData>
  <#NameData><#NameLink/></#NameData>

  <#EnddateData><#Enddate/></#EnddateData>
    
  <#CreatorData>
    <#IsCreatorVisibleCond><#Creator/></#IsCreatorVisibleCond>
    <#IsCreatorVisibleCondElse>*</#IsCreatorVisibleCondElse>
  </#CreatorData>

  <#ExecutantData>
    <#IsExecutantVisibleCond><#Executant/></#IsExecutantVisibleCond>
    <#IsExecutantVisibleCondElse>*</#IsExecutantVisibleCondElse>
  </#ExecutantData>
</#JobList>
