{
  bundleHandler = LSPersonCommands;
  
  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSAddress; type = cmd; },
    );
    
    classes = (
      { name = NSObject;                 },
      { name = LSBaseCommand;            exact-version = 1; },
      { name = LSDBObjectBaseCommand;    exact-version = 1; },
      { name = LSDBObjectDeleteCommand;  exact-version = 1; },
      { name = LSDBObjectSetCommand;     exact-version = 2; },
      { name = LSDBObjectGetCommand;     exact-version = 3; },
      { name = LSDBFetchRelationCommand; exact-version = 1; },
      { name = LSExtendedSearchCommand;  exact-version = 2; },
      { name = LSFullSearchCommand;      exact-version = 3; },
      { name = LSGetObjectForGlobalIDs;  exact-version = 1; },      
    );
  };

  provides = {
    LSCommands = (
        { name = "person::new";                },
        { name = "person::set";                },
        { name = "person::get";                },
        { name = "person::delete";             },
        { name = "person::enterprises";        },
        { name = "person::get-comment";        },
        { name = "person::check-permission";   },
        { name = "person::get-extattrs";       },
        { name = "person::get-telephones";     },
        { name = "person::full-search";        },
        { name = "person::extended-search";    },
        { name = "person::get-projects";       },
        { name = "person::get-project-globalids";    },
        { name = "person::get-assigned-projects";    },
        { name = "person::get-assigned-project-ids"; },
        { name = "person::get-project-assignments";  },
        { name = "person::set-enterprise";       },
        { name = "person::setprojects";          },
        { name = "person::assign-projects";      },
        { name = "person::change-login-status";  },
        { name = "person::get-by-globalid";      },
        { name = "person::toaccount";            },
    );
    classes = (
        { name = LSPersonCommands;                        },
        { name = LSExtendedSearchPersonCommand;           },
        { name = LSFetchTelsForPersonCommand;             },
        { name = LSFullSearchPersonCommand;               },
        { name = LSGetEnterpriseForPersonCommand;         },
        { name = LSGetPersonCommand;                      },
        { name = LSGetProjectForPersonCommand;            },
        { name = LSGetProjectGlobalIDsForPersonCommand;   },
        { name = LSNewPersonCommand;                      },
        { name = LSSetPersonCommand;                      },
        { name = LSGetAssignedProjectIdsForPersonCommand; },
        { name = LSGetPersonsForGlobalIDs;                },
        { name = LSPersonToAccountCommand;                },
    );
  };
}
