<#Frame>
  <#Window>
    <#WarningModeCondElse>
      <#UploadForm>
        <#LoginName />
        <#PageName  />
        <#PageLabel />
        <#PrevToSelections  />
        <#PrevCcSelections  />
        <#PrevBccSelections />

        <table border="0" cellspacing="0" cellpadding="4" width="100%">
          <!-- Searchfield -->
          <tr>
            <#AttributeCell><#Font><#SearchLabel />:</#Font></#AttributeCell>
            <#ValueCell>
              <#EditFont><#SearchTextField /></#EditFont>
              <#AddSubmit /><br />
              <#Font><#ExtSearchCheckbox /> <#ExtSearchLabel /></#Font>
            </#ValueCell>
          </tr>  

          <!-- Addresses -->
          <#AddressRep>
            <tr>
              <!-- this is the to,cc,bcc popup -->
              <#AttributeCell><#Font
                 ><#AddressKeysPopup /></#Font></#AttributeCell>
              <#ValueCell><#EditFont>
                <#RecipientsPopup />
              </#EditFont></#ValueCell>
            </tr>
          </#AddressRep>
          <#IsFromPopupEnabled>
            <tr>
                <#AttributeCell><#Font><#FromLabel />:</#Font></#AttributeCell>
                <#ValueCell><#EditFont>
                  <#FromPopup />
                </#EditFont></#ValueCell>
            </tr>
          </#IsFromPopupEnabled>
          
          <!-- Mail Subject -->
          <tr>
             <#AttributeCell><#Font><#SubjectLabel />:</#Font></#AttributeCell>
             <#ValueCellMailText><#EditFont>
                <#Subject />          
             </#EditFont></#ValueCellMailText>
          </tr>
          
          <!-- Mail Text Body -->
          <tr>
             <#AttributeCell><#Font>
                <#MailTextString />:
              </#Font></#AttributeCell>
             <#ValueCellMailText><#EditFont>
                <#MailText />
              </#EditFont></#ValueCellMailText>
          </tr>

          <!-- Option Checkboxes -->
          <tr>
            <#AttributeCell><#Font><#OptionsLabel />:</#Font></#AttributeCell>
            <#ValueCellMailText><#Font>
              <#PlainTextCheckboxEnabled>
                <#PlainTextCheckbox /> <#PlainTextLabel /><br />
              </#PlainTextCheckboxEnabled>

              <#ReturnReceiptCheckbox /> <#ReturnReceiptLabel />
            </#Font></#ValueCellMailText>
          </tr>
          
          <!-- Buttons (Send, Save, Cancel) -->
          <tr>
            <td></td>
            <td colspan="2" align="left">
              <#SendMail />
              <#SaveMail />
              <#IsAppointmentNotification>
                <#CancelAppointmentNotification />
              </#IsAppointmentNotification>
              <#IsNotAppointmentNotification>
                <#Cancel />
              </#IsNotAppointmentNotification>
              <br /><br />
            </td>
          </tr>
        <#UploadRep>
          <tr>
            <#AttributeCell><#Font>
              <#IsFirstUploadField>
                <#HasOnlyOneField><#UploadString />:</#HasOnlyOneField>
                <#HasMoreThanOneField
                   ><#UploadsString />:</#HasMoreThanOneField>
              </#IsFirstUploadField> 
            </#Font></#AttributeCell>
            <#ValueCell><#EditFont>
              <#UploadField />&nbsp;
              <#IsLastUploadField><#UploadConfirm /></#IsLastUploadField>
            </#EditFont></#ValueCell>
          </tr>
        </#UploadRep>
        </table>

          <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <#AttachedObjectRepetition>
              <tr><td colspan="2"><hr size="1" /></td></tr>
              <tr>
                <td colspan="2"><#AttachedObjectViewer /></td>
              </tr>
            </#AttachedObjectRepetition> 

            <#AttachmentRepetition>
              <tr><td colspan="2"><hr size="1" /></td></tr>
              <tr>
                <td colspan="2" align="right"><#RemoveAttachment /></td>
              </tr>
              <tr>
                <td colspan="2"><#AttachmentViewer /></td>
              </tr>
            </#AttachmentRepetition> 
          </table>

        </#UploadForm>
      </#WarningModeCondElse>

      <#WarningModeCond>
        <table width="100%" border="0" cellpadding="4" cellspacing="0">
          <tr>
            <td align="center"><#Font><b><#WarningPhrase /></#Font></b></td>
          </tr>
          <tr><td>&nbsp;</td></tr>
        </table>
        <#Login />
      </#WarningModeCond>
  </#Window>
</#Frame>
