{
	FilesToRename = {
		"WebApp_Prefix.pch" = "«PROJECTNAME»_Prefix.pch";
		"WebApp_main.m" = "«PROJECTNAME»_main.m";
	};
	FilesToMacroExpand = (
		"«PROJECTNAME»_Prefix.pch",
		"«PROJECTNAME»_main.m",
		"Application.h",
		"Application.m",
		"Session.h",
		"Session.m",
		"DirectAction.h",
		"DirectAction.m",
		"Main.h",
		"Main.m",
		"Info.plist",
		"English.lproj/InfoPlist.strings"
	);
	Description = "This project builds a SOPE application written in Objective-C.";
}
