{
  requires = {
    bundleManagerVersion = 1;
    classes = (
      { name = NSObject;    }
    );
  };
  
  provides = {
    CTIDialers = ( 
        { name = AsteriskDialer;     }
    );
    classes    = ( 
        { name = AsteriskDialer;     },
        { name = AsteriskConnection; }
    );
  };
}
