 <!--$Id: LSWMailFilterEditor.html 2 2004-08-20 11:37:44Z znek $ -->

<#Frame>
  <#Form>
    <#Window>
      <#WarningModeCondElse>

        <table border="0" cellspacing="0" cellpadding="4" width="100%">
          <tr>
            <#AttributeCell>
              <#Font><#FilterNameLabel/>:</#Font>
            </#AttributeCell>
            <#ValueCell>
              <#EditFont><#FilterName/></#EditFont>
            </#ValueCell>
          </tr>
         
          <tr>
            <#AttributeCell>
              <#Font><#FilterPosLabel/>:</#Font>
            </#AttributeCell>
            
            <#ValueCell>
              <#EditFont><#FilterPos/></#EditFont>
            </#ValueCell>
          </tr>

          <tr>
            <#AttributeCell>
              <#Font><#MatchLabel/>:</#Font>
            </#AttributeCell>
            
            <#ValueCell>
              <#Font><#MatchRadioList/></#Font>
            </#ValueCell>
          </tr>

          <tr>
            <#AttributeCell>
              <#Font>&nbsp;</#Font>
            </#AttributeCell>
 
            <#ValueCell>
              <table border="0" cellspacing="0" cellpadding="4">
                <#FilterRep>
                  <tr>
                    <td align="right"><#Font><#TheLabel/></#Font></td>
                    <td><#FieldPopup/></td>
                    <td><#Font>-<#OfTheMessage/></#Font></td>
                    <td><#FilterKindPopup/></td>
                    <td><#SearchStringField/></td>
                  </tr>
                </#FilterRep>
               
                <tr>
                  <td colspan="5">
                    <#MoreSubmit/>
                    <#FewerSubmit/>
                  </td>
                </tr>
              </table>
            </#ValueCell>
          </tr>
         
          <tr>
            <#AttributeCell>
              <#Font><#ActionLabel/>:</#Font>
            </#AttributeCell>
           
            <#ValueCell>
              <#Font><#ThenMoveToFolder/>&nbsp;<#FolderPopUpButton/></#Font>
            </#ValueCell>
          </tr>

          <tr> 
            <td>&nbsp;</td>
            <td>
              <#SaveSubmit/>
              <#CancelSubmit/>
              <#IsDeleteDisabledCondElse>
                <#DeleteSubmit/>
              </#IsDeleteDisabledCondElse>
            </td>
          </tr>
        </table>
      </#WarningModeCondElse>

      <#WarningModeCond>
        <#Warning/>
      </#WarningModeCond>

    </#Window>
  </#Form>

<script language="JavaScript">
<!-- hide
if (document.filtereditor.filtername) {
  document.filtereditor.filtername.focus();
  document.filtereditor.filtername.select();
}
// -->
</script>

</#Frame>
