{
  bundleHandler = LSMailCommands;
  
  requires = {
    bundleManagerVersion = 1;

    bundles = (
      { name = LSBase;    type = cmd; },
      { name = LSSearch;  type = cmd; },
      { name = LSAddress; type = cmd; }
    );
    
    classes = (
      { name = NSObject;                 },
      { name = LSBaseCommand;            exact-version = 1; },
      { name = LSDBObjectDeleteCommand;  exact-version = 1; },
      { name = LSDBObjectGetCommand;     exact-version = 3; },
      { name = LSDBObjectSetCommand;     exact-version = 2; },
      { name = LSDBObjectNewCommand;     exact-version = 1; },
      { name = LSDBFetchRelationCommand; exact-version = 1; },
      { name = LSExtendedSearchCommand;  exact-version = 2; }
    );
  };
  
  provides = {
    LSCommands = (
        { name = "email::deliver";                     },
        { name = "mbox::import-structure";             },
        { name = "mbox::import-file";                  }
    );
    classes = (
        { name = LSMBoxFileImportCommand;         },
        { name = LSMBoxStructureImportCommand;    },
        { name = LSMailDeliverCommand;            },
    );
  };
}
