// $Id$
{
  domainList = (
    email,
    mbox
  );

  domains = {
    "email" = {
      operations = {
        "deliver"         = { class = "LSMailDeliverCommand";      };      
      };
    };
    
    "mbox" = {
      operations = {
        "import-structure" = { class = "LSMBoxStructureImportCommand"; };
        "import-file"      = { class = "LSMBoxFileImportCommand";      };
      };
    };
  };
}
