<#ProjectTableView>
  <#TitleMode><b><#ProjectsLabel/></b></#TitleMode>
  <#ButtonMode><#Buttons/></#ButtonMode>

  <#GroupMode><#Group/></#GroupMode>
  
  <#PCode/>
  <#PName><#ProjectLink><#Font><#ProjectName/></#Font></#ProjectLink></#PName>
  <#PStartDate><#Font><#StartDateField/></#Font></#PStartDate>

  <#PLeader/>

  <#PFavoritesHeader>&nbsp;</#PFavoritesHeader>
  <#PFavorites>
    <#IsInFavoritesCond    ><#RemoveFromFavorites/></#IsInFavoritesCond>
    <#IsInFavoritesCondElse><#AddToFavorites     /></#IsInFavoritesCondElse>
  </#PFavorites>
  
  <#FooterMode><#ProjectsLabel/>:</#FooterMode>
</#ProjectTableView>
