{
  project_sub_view    = "attributes";
  projects_sub_view   = "common";
  projects_blocksize  = "20";
  projects_no_of_cols = "2";
  
  LSPluginViewerEnabled = YES; // Note: also in OGoProject

  LSPluginEnabledUserAgents = (
    "Mozilla/4.0 (compatible; MSIE"
//
//    "Mozilla/4.0 (compatible; MSIE 4.5; Mac_PowerPC)",
//    "Mozilla/4.0 (compatible; MSIE 5.0; Windows NT; DigExt)",
//    "Mozilla/4.61 (Macintosh; I; PPC)",
//    "Mozilla/4.61 [en] (WinNT; I)"

  );
  SkyEnableContactAttrInDocuments = NO;
  "project_editor_commonVisibility" = 1;
}
