<#AptTableView>

  <#TitleMode><#Font><b><#DetailAptsLabel/></b></#Font></#TitleMode>

  <#ButtonMode><#NewAptButton/></#ButtonMode>

  <#Switcher>
    <#StartDateCase>
      <#StartDateData><#Font><#StartDate/></#Font></#StartDateData>
    </#StartDateCase>

    <#EndDateCase>
      <#EndDateData><#Font><#EndDate/></#Font></#EndDateData>
    </#EndDateCase>

    <#TitleCase>
      <#TitleData>
        <#Font><#ViewApt><#Title/></#ViewApt></#Font>
      </#TitleData>
    </#TitleCase>

    <#LocationCase>
      <#LocationData><#Font><#Location/></#Font></#LocationDate>
    </#LocationCase>

    <#ResourcesCase>
      <#ResourcesData><#Font><#Resources/></#Font></#ResourcesData>
    </#ResourcesCase>

    <#ParticipantsCase>
      <#ParticipantsData><#Font><#Participants/></#Font></#ParticipantsData>
    </#ParticipantsCase>

  </#Switcher>

  <#FooterMode>
    <small><#Font><#AptsLabel/>:</#Font></small>
  </#FooterMode>

</#AptTableView>
