// $Id$

{
   "jobs.login" = {
       ( boolean ) = "loginAction";
     };

    // job actions

    "jobs.markJobDone" = {
      ( boolean, string, string ) = "doneJobAction::";
      ( boolean, string ) = "doneJobAction::";
    };

    "jobs.archiveJob" = {
      ( boolean, string, string ) = "archiveJobAction::";
      ( boolean, string ) = "archiveJobAction::";
    };

    "jobs.acceptJob" = {
      ( boolean, string, string ) = "acceptJobAction::";
      ( boolean, string ) = "acceptJobAction::";
    };

    "jobs.annotateJob" = {
      ( boolean, string, string ) = "annotateJobAction::";
      ( boolean, string ) = "annotateJobAction::";
    };

    "jobs.reactivateJob" = {
      ( boolean, string, string ) = "reactivateJobAction::";
      ( boolean, string ) = "reactivateJobAction::";
    };

    "jobs.rejectJob" = {
      ( boolean, string, string ) = "rejectJobAction::";
      ( boolean, string ) = "rejectJobAction::";
    };

    "jobs.deleteJob" = {
      ( boolean, string ) = "deleteJobAction:";
    };

    "jobs.createJob" = {
      ( boolean, string, string, string, date, date, int, string, string, 
        string, int) = 
        "createJobAction::::::::::";
      ( boolean, string, string, string, date, date, int, string, string, 
        string) = 
        "createJobAction::::::::::";
      ( boolean, string, string, string, date, date, int, string, string) = 
        "createJobAction::::::::::";
      ( boolean, string, string, string, date, date, int, string) = 
        "createJobAction::::::::::";
      ( boolean, string, string, string, date, date, int) = 
        "createJobAction::::::::::";
      ( boolean, string, string, string, date, date) = 
        "createJobAction::::::::::";
      ( boolean, string, string, string, date) = 
        "createJobAction::::::::::";
      ( boolean, string, string, string) = 
        "createJobAction::::::::::";
      ( boolean, string, string) = 
        "createJobAction::::::::::";
      ( boolean, string) = 
        "createJobAction::::::::::";
    };

    "jobs.updateJob" = {
      ( boolean, string, string, string, date, date, int, string, string, 
        int) = 
        "updateJobAction:::::::::";
      ( boolean, string, string, string, date, date, int, string, string) = 
        "updateJobAction:::::::::";
      ( boolean, string, string, string, date, date, int, string) = 
        "updateJobAction:::::::::";
      ( boolean, string, string, string, date, date, int) = 
        "updateJobAction:::::::::";
      ( boolean, string, string, string, date, date) = 
        "updateJobAction:::::::::";
      ( boolean, string, string, string, date) = 
        "updateJobAction:::::::::";
      ( boolean, string, string, string) = 
        "updateJobAction:::::::::";
      ( boolean, string, string) = 
        "updateJobAction:::::::::";
    };

    // fetch jobs and job history

    "jobs.listTodosInTimeRange" = {
      ( array, int ) = "todoJobsInTimeRangeAction:";
    };

    "jobs.listTodos" = {
      ( array, string, string, boolean, string, string, string, boolean ) = 
        "todoJobsAction:::::::";
      ( array, string, string, boolean, string, string, string) = 
        "todoJobsAction:::::::";
      ( array, string, string, boolean, string, string ) = 
        "todoJobsAction:::::::";
      ( array, string, string, boolean, string ) = "todoJobsAction:::::::";
      ( array, string, string, boolean )         = "todoJobsAction:::::::";
      ( array, string, string )                  = "todoJobsAction:::::::";
      ( array, string )                          = "todoJobsAction:::::::";
      ( array )                                  = "todoJobsAction:::::::";
    };

    "jobs.listPrivateJobs" = {
      ( array, string, string, boolean, string, string, string, boolean ) = 
        "privateJobsAction:::::::";
      ( array, string, string, boolean, string, string, string) = 
        "privateJobsAction:::::::";
      ( array, string, string, boolean, string, string ) = 
        "privateJobsAction:::::::";
      ( array, string, string, boolean, string ) = "privateJobsAction:::::::";
      ( array, string, string, boolean )         = "privateJobsAction:::::::";
      ( array, string, string )                  = "privateJobsAction:::::::";
      ( array, string )                          = "privateJobsAction:::::::";
      ( array )                                  = "privateJobsAction:::::::";
    };

    "jobs.listArchivedJobs" = {
      ( array, string, string, boolean, string, string, string, boolean ) = 
        "archivedJobsAction:::::::";
      ( array, string, string, boolean, string, string, string) = 
        "archivedJobsAction:::::::";
      ( array, string, string, boolean, string, string ) = 
        "archivedJobsAction:::::::";
      ( array, string, string, boolean, string ) = "archivedJobsAction:::::::";
      ( array, string, string, boolean )         = "archivedJobsAction:::::::";
      ( array, string, string )                  = "archivedJobsAction:::::::";
      ( array, string )                          = "archivedJobsAction:::::::";
      ( array )                                  = "archivedJobsAction:::::::";
    };

    "jobs.listControlJobs" = {
      ( array, string, string, boolean, string, string, string, boolean ) = 
        "controlJobsAction:::::::";
      ( array, string, string, boolean, string, string, string) = 
        "controlJobsAction:::::::";
      ( array, string, string, boolean, string, string ) = 
        "controlJobsAction:::::::";
      ( array, string, string, boolean, string ) = "controlJobsAction:::::::";
      ( array, string, string, boolean )         = "controlJobsAction:::::::";
      ( array, string, string )                  = "controlJobsAction:::::::";
      ( array, string )                          = "controlJobsAction:::::::";
      ( array )                                  = "controlJobsAction:::::::";
    };

    "jobs.listDelegatedJobs" = {
      ( array, string, string, boolean, string, string, string, boolean ) = 
        "delegatedJobsAction:::::::";
      ( array, string, string, boolean, string, string, string) = 
        "delegatedJobsAction:::::::";
      ( array, string, string, boolean, string, string ) = 
        "delegatedJobsAction:::::::";
      ( array, string, string, boolean, string) = "delegatedJobsAction:::::::";
      ( array, string, string, boolean )        = "delegatedJobsAction:::::::";
      ( array, string, string )                 = "delegatedJobsAction:::::::";
      ( array, string )                         = "delegatedJobsAction:::::::";
      ( array )                                 = "delegatedJobsAction:::::::";
    };

    "jobs.getJob" = {
      ( struct, string ) = "getJobAction:";
    };

    "jobs.listJobHistory" = {
      ( array, string ) = "jobHistoryAction:";
    };

    "jobs.listProjectJobs" = {
      ( array, string ) = "jobsForProjectAction:";
    };
}
