{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoMailBaseObject = {
      superclass    = "SxObject";
      defaultAccess = "allow";
    };

    SOGoMailAccount = {
      superclass    = "SOGoMailBaseObject";
    };

    SOGoMailFolder = {
      superclass    = "SOGoMailBaseObject";
      defaultRoles = {
        "Add Folders" = "Owner";
      };
    };

    SOGoMailObject = {
      superclass    = "SOGoMailBaseObject";
    };
    
    SOGoMailBodyPart = {
      superclass    = "SOGoMailBaseObject";
    };
    SOGoImageMailBodyPart = {
      superclass    = "SOGoMailBodyPart";
    };

    SOGoDraftsFolder = {
      superclass    = "SOGoMailBaseObject";
    };
    SOGoDraftObject = {
      superclass    = "SOGoMailBaseObject";
    };

    ZSOGoMailAccount = {
      superclass    = "SOGoMailAccount";
    };
  };
}
