// $Id$

{
  // authentication
 
  authenticate = {
    ( int, string, string ) = "authenticateAction::";
  };

  // account handling

  getAccount = {
    ( struct, string ) = "getAccountAction:";
  };
  getAccountByLogin = {
    ( struct, string ) = "getAccountByLoginAction:";
  };
  changePassword = {
    ( boolean, string, string, string ) = "changePasswordAction:::";
  };
  createAccount = {
    ( boolean, struct ) = "createAccountAction:";
  };
  updateAccount = {
    ( boolean, string, struct ) = "updateAccountAction::";
  };
  deleteAccount = {
    ( boolean, string ) = "deleteAccountAction:";
  };

  // account locking

  isAccountLocked = {
    ( boolean, string ) = "isAccountLockedAction:";
  };
  lockAccount = {
    ( boolean, string ) = "lockAccountAction:";
  };
  unlockAccount = {
    ( boolean, string ) = "unlockAccountAction:";
  };

  // groups

  groupsForAccount = {
    ( array, string ) = "accountGroupsAction:";
  };

  getGroup = {
    ( dictionary, string ) = "getGroupAction:";
  };

  getGroupByName = {
    ( dictionary, string ) = "getGroupByNameAction:";
  }; 

  getAllGroups = {
    ( array ) = "getGroupsAction";
  }; 

  getAllGroupNames = {
    ( array ) = "getGroupNamesAction";
  }; 

  updateGroup = {
    ( boolean, string, dictionary ) = "updateGroupAction::";
  }; 

  createGroup = {
    ( boolean, dictionary ) = "createGroupAction:";
  }; 

  deleteGroup = {
    ( boolean, string ) = "deleteGroupAction:";
  }; 

  members = {
    ( array, string ) = "groupMemberAction:";
  }; 

  addAccounts = {
    ( boolean, string, array ) = "addAccountsAction::";
  }; 

  removeAccounts = {
    ( boolean, string, array ) = "removeAccountsAction::";
  }; 
}
