{
  bundleHandler = OGoWebMailModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSMail;         type = cmd; },
      { name = OGoMailViewers; type = lso; },
      { name = OGoUIElements;  type = lso; },
    );
    classes = (
      { name = LSWModuleManager;  exact-version = 2; },
      { name = SkyAttributeCell; },
      { name = SkyValueCell;     }
    );
  };
  
  provides = {
    classes = (
      { name = OGoWebMailModule;        },
      { name = LSWImapMails;            },
      { name = LSWImapMailFolderTree;   },
      { name = LSWImapMailViewer;       },
      { name = LSWImapMailFolderEditor; },
      { name = LSWImapMailFolderMove;   },
      { name = LSWImapMailMove;         },
      { name = LSWImapMailSearch;       },
      { name = LSWImapMailLogin;        },
      { name = SkyImapMailFolderTree;   },
      { name = LSWImapMail2Project;     },
      { name = LSWMailPreferences;      },
      { name = SkyImapMailList;         },
      { name = SkyImapMailListState;    },
      { name = SkyImapMailListPanel;    },
      { name = SkyImapMailListConfigPanel; },
      { name = SkyImapMailListHeader;   },
      { name = SkyImapMailListFooter;   },
      { name = LSWImapMailDeletePage;   },
      { name = SkyImapMailRestrictions; },
      { name = SkyImapMailPrintViewer; },
    );
          
    PreferencePages = (
      { 
        name      = "Mails";
        component = "LSWMailPreferences";
        labelKey  = "Mails";
        icon      = "icon_email_26x21.gif";
      }
    );
    
    DockablePages = (
      { 
        name         = "Imap";
        component    = "LSWImapMails";
        labelKey     = "Imap";
        miniView     = "LSWImapDockView";
        miniTextView = "LSWImapTextDockView";
        image        = "menu_imap_labeled.gif";
        listicon     = "icon_email_26x21.gif";
      }
    );
    
    WOComponents = (
      { name = LSWImapMails;            },
      { name = LSWImapMailFolderTree;   },
      { name = LSWImapMailViewer;       },
      { name = LSWImapMailFolderEditor; },
      { name = LSWImapMailFolderMove;   },
      { name = LSWImapMailMove;         },
      { name = LSWImapMailSearch;       },
      { name = LSWImapMailLogin;        },
      { name = SkyImapMailFolderTree;   },
      { name = LSWImapMail2Project;     },
      { name = LSWMailPreferences;      },
      { name = SkyImapMailList;         },
      { name = SkyImapMailListPanel;    },
      { name = SkyImapMailListConfigPanel;  },
      { name = SkyImapMailListHeader;  },
      { name = SkyImapMailListFooter;  },
      { name = SkyImapMailPrintViewer; },
    );

    LSWCommands = (
      { 
        verb = view; type = "objc/NGImap4Message";
        component = LSWImapMailViewer; },
      
      { 
        verb = edit; type = "objc/NGImap4Folder";
        component = LSWImapMailFolderEditor;
      },
      { 
        verb = new; type = "objc/NGImap4Folder";
        component = LSWImapMailFolderEditor;
      },
      { 
        verb = new; type = "objc/NGImap4ServerRoot";
        component = LSWImapMailFolderEditor;
      },
      { 
        verb = mailview; type = "eo/deleted";
        component = LSWDeletedObjectViewer;
      },
      { 
        verb      = delete;
        type      = "objc/NGImap4Message";
        component = LSWImapMailDeletePage;
      },
      { 
        verb      = delete;
        type      = "objc/NGImap4Folder";
        component = LSWImapMailDeletePage;
      }
    );
  };
}
