{
  __OGoWebMail_CVS_ID__            = "$Id$";
  PythonExecutable                 = "python";
  SieveLogPassword                 = NO;
  mail_subjectLength               = "30";
  mail_senderLength                = "20";
  mail_editor_type                 = "internal";
  mail_send_type                   = "plain";  
  mail_viewAttachmentBodysInEditor = NO;
  cyrus_sieve_port                 = "2000";
  cyrus_sieve_temp_path            = "/tmp/";
  sieve_install_prefix_var         = "GNUSTEP_USER_ROOT";
  MailListAttributes               = ("isNew", "subject", "sender", "sendDate",
                                      "contentLen", "isFlagged");
  SearchMailListAttributes         = ("subject", "sender", "sendDate",
                                      "folder", "contentLen", "isFlagged");
  SentMailListAttributes           = ("isNew", "subject", "to", "sendDate",
                                      "contentLen", "isFlagged");
  PanelMailListAttributes          = ("subject", "sender", "sendDate",
                                      "contentLen");
  MailListBlockSize                = "30";
  SearchMailListBlockSize          = "100";
  SentMailListBlockSize            = "50";
  PanelMailListBlockSize           = "10";
  SearchMailListSortHeader         = "sendDate";
  SearchMailListSortOrder          = 1;
  PanelMailListSortHeader          = "sendDate";
  PanelMailListSortOrder           = 1;
  MailListDoClientSideScroll       = 1;
  MailListClientSideScrollTreshold = 200;
  panelIfNewMails                  = NO;

  //
  mail_pref_expand_generalDefaults = NO;
  mail_pref_expand_generalMailList = NO;
  mail_pref_expand_signature       = NO;
  mail_pref_expand_specialFolder   = NO;
  mail_pref_expand_mailList        = NO;
  mail_pref_expand_searchMailList  = NO;
  mail_pref_expand_access          = NO;

  LSWImapMailWrapOutgoingMails      = YES;
  LSWImapMailOutgoingMailWrapLength = 80;
  LSMailsSendMailsWithoutSkyrixPart = YES;
  mail_show_target_folder           = YES;
  mail_wrapLongLines                = NO;

  mail_is_cc_collapsed              = YES;
  mail_is_to_collapsed              = YES;
  imap_host_editable                = YES;
  imap_host                         = "";

  rootAccessmail_MDN_type           = YES;
  rootAccessmail_MDN_text           = YES;
  rootAccessmail_MDN_subject        = YES;

  mail_MDN_type                     = "ask";
  //  mail_MDN_text                     = "This is a Return Receipt for the mail you sent on $date$ \nto $to$ with subject '$subject$'.\n\nThis only acknowledges that the message was displayed on the recipient's machine. \nThis is no guarantee that the message has been read or understood.";
  mail_MDN_text                     = "Dies ist eine Antwortbestätigung für die Nachricht, die Sie am $date$ \nan $to$ mit dem Titel '$subject$' gesendet haben.\n\nDas bedeutet lediglich, dass die Nachricht auf dem Bildschirm des Empfängers dargestellt wurde. \nDas ist keine Garantie dafür, dass die Nachricht gelesen oder verstanden wurde.";
  mail_MDN_subject                  = "Antwortbestätigung";

  mail_editor_text_rows             = 20;
  mail_editor_text_columns          = 80;
  
  mail_editor_replyall_headernames = ( to, cc, reply-to, from );
  
  UseSkyrixLoginForImap = NO;
  EnableSieveVacation   = NO;
  DisableSieveVacation  = NO;
  EnableSieveFilter     = NO;
  DisableSieveFilter    = NO;
  OGoImapMailsDebugOn   = NO;

  UseMailingListManager           = YES;
  MaxMailAttachmentsSize          = 0;
  UseMemoryStoredMime             = NO;
  Mail_Use_8bit_Encoding_For_Text = NO;
  MailEditor_TextFieldSize        = 80;
  DisableEpozEditor               = NO; // globally disable Epoz

  mail_editor_htmlmail_header = "<html><head><title>OpenGroupware.org</title></head><body>";
  mail_editor_htmlmail_footer = "</body></html>";

  mail_prefs_fieldkeys = ( 5, 10, 15, 20, 30, 50, 75, 100, 200, 500 );
  
  OGoMailAddressSearch_MaxSearchCount = 15;
  OGoProfileMailAddressSearch      = NO;
  mail_search_for_atstrings        = NO;
  mail_simplesearch_include_email1 = NO;
  mail_simplesearch_include_teams  = NO;
  mail_printviewer_headers         = ( subject, from, to, date );
}
