{
  CVSID = "$Id$";

  bundleHandler = "SkyJobsBundleManager";

  requires = {
    bundleManagerVersion = 1;
    bundles = ( );
    classes = ( );
  };

  provides = {
    classes = (
        { name = SkyJobsBundleManager;              },
        { name = SkyPersonJobDataSource;            },
        { name = SkyProjectJobDataSource;           },
        { name = SkyJobHistoryDataSource;           },
        { name = SkyJobDocument;                    },
        { name = SkyJobHistoryDocument;             },
        { name = SkySchedulerJobDataSource;         },
    );
    datasources = (
        { name = SkyProjectJobDataSource;           },
        { name = SkyPersonJobDataSource;            },
        { name = SkyJobHistoryDataSource;           },
    );

    SkyDocumentGlobalIDResolver = (
      {
        name          = SkyJobDocumentGlobalIDResolver;
        GlobalIDClass = EOKeyGlobalID;
        qualifier     = "entityName='Job'";
      }
    );
  };
}
