<table border="0" cellpadding="0" width="100%" cellspacing="1">
  <tr>
    <td width="2" valign="top">
      <#Browser>
        <#ViewDay>
          <#Font><#TextColor><#BrowserDayLabel/></#TextColor></#Font>
        </#ViewDay>
      </#Browser>
    </td>

    <td width="100%" valign="top">
      <#ChartMatrix>
        <#ChartRowTitle>
          <font size="-4"><#RowInfo/></font><#IsResCategorySelected><#NewAppointmentLinkFont>[<#NewAppointment><#NewString/></#NewAppointment>]</#NewAppointmentLinkFont></#IsResCategorySelected>
        </#ChartRowTitle>
     
        <#EmptyCell>&nbsp;</#EmptyCell>
          
        <#ChartCell>
          <#DragApt><#Font>
            <font size="-4">
              <#IsViewAccessAllowed>
                <#UseDACond>
                  <#ViewAptLink><#AptInfoIcon/><#TitleFont><#AptInfo/></#TitleFont></#ViewAptLink>
                </#UseDACond>
                <#UseDACondElse>
                  <#ViewAptAction><#AptInfoIcon/><#TitleFont><#AptInfo/></#TitleFont></#ViewAptAction>
                </#UseDACondElse>
              </#IsViewAccessAllowed>
        
              <#IsViewAccessNotAllowed>
                <#AptInfoIcon/><#TitleFont><#AptInfo/></#TitleFont>
              </#IsViewAccessNotAllowed>
            </font>
          </#Font></#DragApt>
        </#ChartCell>
      </#ChartMatrix>
    </td>
  </tr>
</table>
