<table width="100%" cellspacing="2" cellpadding="2" border="0">
  <#MonthRep>
    <#HeaderCell><#Font><#WeekdayTitle /></#Font></#HeaderCell>

    <#LeftBorderCell>
      <#SwitchToWeekView>
        <#Font><#WeekOfYearLabel /></#Font>
      </#SwitchToWeekView>
    </#LeftBorderCell>

    <#ContentCell>
     <#DropDay>
      <table width="100%" height="100%" cellspacing="0" cellpadding="2" 
             border="0">
        <tr>
         <td valign="top" align="left">
          <#Font>
            <font size="4">
              <#IsMonth>
                  <#IsToday>
                    <b><#ViewDay><#ShowDayLinkFont>
                      <#DayLabel /></#ShowDayLinkFont></#ViewDay></b>
                  </#IsToday>
                  <#IsNotToday>
                    <!-- TODO: use CSS -->
                    <b><i><#ViewDay><#ShowDayLinkFont
                      ><#DayLabel /></#ShowDayLinkFont></#ViewDay></i></b>
                  </#IsNotToday>
              </#IsMonth>
              <#IsNotMonth>
                  <#ViewDay><#ShowDayLinkFont>
                    <#DayLabel /></#ShowDayLinkFont></#ViewDay>
              </#IsNotMonth>
            </font><br />
             <#IsResCategorySelected>
              <font size="-4"><#NewAppointmentLinkFont>
                <#NewAppointment>[<#NewString />]</#NewAppointment>
              </#NewAppointmentLinkFont></font>
             </#IsResCategorySelected>
          </#Font>
         </td>

         <td valign="top" align="left" width="100%">
           <font size="-4">
            <#HasCurrentDayInfo>
              <b><#CurrentDayInfo /></b><br />
            </#HasCurrentDayInfo>
            <#AppointmentsRep>
              <#DragApt>
                <#IsViewAccessAllowed>
                  <#UseDACond>
                      <#ViewAptLink><#AptInfoIcon /></#ViewAptLink
                       ><#ViewAptLink><#TitleFont><#AptInfo /></#TitleFont
                       ></#ViewAptLink>
                    </#UseDACond><#UseDACondElse>
                      <#ViewAptAction><#AptInfoIcon /></#ViewAptAction
                       ><#ViewAptAction><#TitleFont><#AptInfo /></#TitleFont
                       ></#ViewAptAction>
                    </#UseDACondElse>
                </#IsViewAccessAllowed>
  
                <#IsViewAccessAllowedElse>
                  <#ShowListOnlyApts>
                    <#AptInfoIcon /><#TitleFont><#AptInfo /> </#TitleFont>
                  </#ShowListOnlyApts>
                </#IsViewAccessAllowedElse>
              </#DragApt>
              <br />
            </#AppointmentsRep>
            <#HasNoAppointmentsCond>&nbsp;</#HasNoAppointmentsCond>
            <#HasMoreThanMaxAppointments>...</#HasMoreThanMaxAppointments>
          </font>
         </td>
        </tr>
      </table>
     </#DropDay>
    </#ContentCell>

  </#MonthRep>
</table>
