<!-- $Id: SkyInlineWeekChart.html 2 2004-08-20 11:37:44Z znek $ -->
<#DragScript/><#DropScript/>
  
<#ChartMatrix>
  <#ChartTitle   ><#WeekdayTitle/></#ChartTitle>
  <#ChartRowTitle><font size="-4"><#RowInfo/></font></#ChartRowTitle>

  <#EmptyCell>&nbsp;</#EmptyCell>
    
  <#ChartCell>
      <#AptDrag>
        <font size="-4">
          <#IsViewAccessAllowed>
            <#UseDACond>
              <#AptLink><#AptInfoIcon/><#TitleFont><#AptInfo/></#TitleFont></#AptLink>
            </#UseDACond>
            <#UseDACondElse>
              <#ViewAptAction><#AptInfoIcon/><#TitleFont><#AptInfo/></#TitleFont></#ViewAptAction>
            </#UseDACondElse>
          </#IsViewAccessAllowed>
  
          <#IsViewAccessNotAllowed>
            <#AptInfoIcon/><#TitleFont><#AptInfo/></#TitleFont>
          </#IsViewAccessNotAllowed>
        </font>
    </#AptDrag>
  </#ChartCell>
</#ChartMatrix>
