{
  bundleHandler = SkyDocInlineViewersModule;
  
  requires = {
    bundleManagerVersion = 1;

    bundles = ( 
      { name = LSProject; type = cmd; }
    );
    classes = (
      { name = LSWModuleManager;  exact-version = 2; },
    );
  };
  
  provides = {
    classes = (
      { name = SkyDocInlineViewersModule; },
      { name = SkyDocEmbedInlineViewer;   },
      { name = SkyDocImageInlineViewer;   },
      { name = OGoDocPartViewer;          },
      { name = OGoDocAccessViewer;        },
      { name = OGoDocAttrsViewer;         },
      { name = OGoDocContentsViewer;      },
      { name = OGoDocLogsViewer;          },
      { name = OGoDocPartViewer;          },
      { name = OGoDocVersionsViewer;      },
    );

    WOComponents = (
      { name = SkyDocEmbedInlineViewer; },
      { name = SkyDocImageInlineViewer; },
      { name = OGoDocAccessViewer;      },
      { name = OGoDocAttrsViewer;       },
      { name = OGoDocContentsViewer;    },
      { name = OGoDocLogsViewer;        },
      { name = OGoDocPartViewer;        },
      { name = OGoDocVersionsViewer;    },
    );

    OGoDocViewers = (
      { name = attributes; component = OGoDocAttrsViewer;    sortkey =  10; },
      { name = contents;   component = OGoDocContentsViewer; sortkey =   0; },
      { name = versions;   component = OGoDocVersionsViewer; sortkey = -10; },
      { name = access;     component = OGoDocAccessViewer;   sortkey = -20; },
      { name = logs;       component = OGoDocLogsViewer;     sortkey = -30; },
    );

    LSWCommands = (
      {
        verb      = "docview-inline";
        type      = "video/x-msvideo";
        component = SkyDocEmbedInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "audio/x-wav";
        component = SkyDocEmbedInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "audio/x-midi";
        component = SkyDocEmbedInlineViewer;
      },
        
      {
        verb      = "docview-inline";
        type      = "application/pdf";
        component = SkyDocEmbedInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "application/msword";
        component = SkyDocEmbedInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "application/vnd.ms-word";
        component = SkyDocEmbedInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "application/vnd.ms-excel";
        component = SkyDocEmbedInlineViewer;
      },

      {
        verb      = "docview-inline";
        type      = "image/gif";
        component = SkyDocImageInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "image/png";
        component = SkyDocImageInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "image/jpg";
        component = SkyDocImageInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "image/jpeg";
        component = SkyDocImageInlineViewer;
      },
      {
        verb      = "docview-inline";
        type      = "image/tiff";
        component = SkyDocEmbedInlineViewer;
      },
    );
  }
}
