<html>
  <head>
    <!-- $Id: OGoLogoutPage.html,v 1.4 2004/01/31 16:23:26 helge Exp $ -->
    <title>OpenGroupware.org</title>
    <meta http-equiv="refresh" content="0; URL=/OpenGroupware" />
  </head>

  <#Body>

<p align>&nbsp;</p>
<p align="center">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td valign="middle" align="center">
        &nbsp;
        <#WhyImage />
      </td>
    </tr>
    <tr>
      <td colspan="2">

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
       <td colspan="3">&nbsp;</td>
      <tr>
        <td bgcolor="06348B"><#LineLeft /></td>
        <td bgcolor="06348B" width="100%"><#LinePix /></td>
        <td bgcolor="06348B"><#LineRight /></td>
      </tr>
      <tr>
       <td colspan="3"></td>
      <tr>
      <tr>
        <td colspan="3" align="center"><#Font><small>
          © 2000-2005
          <a href="http://www.skyrix.com/knoppix/skyrix/" 
             target="skyrix" 
             style="text-decoration:none;"
            ><font color="#000000">SKYRIX Software AG</font></a>.
        </small></#Font>
      </tr>
    </table>

      </td>
    </tr>
  </table>
</p>

</#Body>

</html>
