<#Frame>
  <!--$Id: LSWDocumentViewer.html 2 2004-08-20 11:37:44Z znek $ -->
  <#Window>
    <#WarningModeCondElse>
      <table width="100%" border="0" cellpadding="4" cellspacing="0">
        <#MainButtonRow>
          <td colspan="2">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <#TitleLeftCell>
                  <#TitleFont>
                    <#FolderRep><#FolderLink />/</#FolderRep>
                    <b><#FileName /></b>
                  </#TitleFont>
                </#TitleLeftCell>

                <#TitleRightCell><#Buttons /></#TitleRightCell>
              </tr>
            </table>
          </td>
        </#MainButtonRow><!-- MainButtonRow -->
        <tr>
          <td colspan="2"></td>
        </tr>
        <#IsEditEnabled>
          <tr>
            <#AttributeCell><#Font><#FirstOwnerAttribute />:</#Font></#AttributeCell>
            <#ValueCell><#FirstOwner /></#ValueCell>
          </tr>
          <tr>
            <#AttributeCell><#Font><#CurrentOwnerAttribute />:</#Font></#AttributeCell>
            <#ValueCell><#CurrentOwner /></#ValueCell>
          </tr>
          <tr>
            <#AttributeCell><#Font><#CurrentEditorAttribute />:</#Font></#AttributeCell>
            <#ValueCell><#CurrentEditor /></#ValueCell>
          </tr>
          <tr>
            <#AttributeCell><#Font><#TitleLabel />:</#Font></#AttributeCell>
            <#ValueCell><#Font><#DocumentTitle /></#Font></#ValueCell>
          </tr>
          <#IsContactAttrDisabled><#DocumentViewer /></#IsContactAttrDisabled>
          <#IsContactAttrEnabled>
            <#DocumentViewerWithContact />
          </#IsContactAttrEnabled>
          <tr>
            <#AttributeCell><#Font><#EditingDownloadLabel />:</#Font></#AttributeCell>
            <#ValueCell><#Font><#EditingDownloadLink /></#Font></#ValueCell>
          </tr>
        </#IsEditEnabled>
        <#IsReleasedCondElse>
        <#IsEditDisabledCond>
          <tr>
            <td colspan="2"><b><#Font><font color="red"> 
              <#LockedLabel />
              <#CurrentEditor />
              <#SinceLabel />
              <#CheckoutDate />
              </font></#Font></b>
            </td>
          </tr> 
        </#IsEditDisabledCond>         
        </#IsReleasedCondElse>         
      </table>
      <p>
        <#TabView>
          <#VersionsTab>
            <table border="0" cellspacing="0" cellpadding="1" width="100%">
              <#TableHeaderRow>
                <td align="middle"><#Font><b>&nbsp;<#Download />&nbsp;</b></#Font></td>
                <td><#Font><b>&nbsp;<#Version />&nbsp;</b></#Font></td> 
                <td><#Font><b>&nbsp;<#Title />&nbsp;</b></#Font></td> 
                <td nowrap="nowrap"><#Font><b>&nbsp;<#ReleaseDate />&nbsp;</b></#Font></td>
                <td><#Font><b>&nbsp;<#Size />&nbsp;</b></#Font></td>
                <td><#Font><b>&nbsp;<#Owner />&nbsp;</b></#Font></td>
                <#IsCheckoutEnabledCond>
                  <td align="middle"><#Font><b>&nbsp;<#Checkout />&nbsp;&nbsp;</b></#Font></td>
                 </#IsCheckoutEnabledCond>
                 <#IsContactAttrEnabled>
                   <td><#Font><b><#Contact />&nbsp;</b></#Font></td>  
                 </#IsContactAttrEnabled>
                 <td width="50%"><#Font><b><#Abstract />&nbsp;</b></#Font></td>
              </#TableHeaderRow>

              <tr><td></td></tr>
              <#VersionsRep /> 
            </table>
          </#VersionsTab>

          <#ContentsTab>
            <table cellspacing="0" cellpadding="4" border="0" width="100%">
              <#ViewerTitle />
                      
              <#IsDocumentDownloadEnabled>
                <#IsTxtDoc>
                  <tr><td></td></tr>
                  <tr>
                    <#SubValueCell>
                      <pre><#TxtDocContent /></pre>
                    </#SubValueCell>
                  </tr>
                </#IsTxtDoc>
                <#IsTxtDocElse>
                  <tr>
                    <#SubAttributeCell><#Font><#EditingDownloadLabel />:</#Font></#SubAttributeCell>
                    <#SubValueCell><#DocDownloadLink><#DocDownloadIcon /></#DocDownloadLink></#SubValueCell>
                  </tr>
                  <tr>
                    <#SubAttributeCell><#Font><#MimeTypeLabel />:</#Font></#SubAttributeCell>
                    <#SubValueCell><#Font><#MimeType /></#Font></#SubValueCell>
                  </tr>
                  <tr>
                    <#SubAttributeCell><#Font><#SizeLabel />:</#Font></#SubAttributeCell>
                    <#SubValueCell><#Font><#DataSize /></#Font></#SubValueCell>
                  </tr>

                  <#ShowInline>
                    <tr>
                      <td colspan="2">
                        <#HasInlineViewer><#InlineViewer /></#HasInlineViewer>
                      </td>
                    </tr>
                  </#ShowInline>

                </#IsTxtDocElse>
              </#IsDocumentDownloadEnabled>
            </table>
            </#ContentsTab>
          </#TabView>
       </#WarningModeCondElse>
   <#WarningModeCond><#Warning /></#WarningModeCond>
</#Window>
</#Frame>
