{
  requires = ( MAIN );

  publicResources = (
    calendar.css,
    zidestoreui.css,
    OGoLogo.gif
  );
  
  factories = {
  };

  categories = {
    SxFolder = {
      methods = {
        "app" = { 
          protectedBy = "View";
          pageName    = "OGoAppFrame"; 
        };
        "appheader" = { 
          protectedBy = "View";
          pageName    = "OGoAppHeader"; 
        };
        "appnavigation" = { 
          protectedBy = "View";
          pageName    = "OGoAppNavigation"; 
        };
      };
    };
  };
}
