{
  CVSID = "$Id$";
  bundleHandler = "SkyAccountsBundleManager";
  
  requires = {
    bundleManagerVersion = 1;
  };
  
  provides = {
    classes = (
      { name = SkyAccountsBundleManager;      },
      { name = SkyAccountDataSource;          },
      { name = SkyAccountDocument;            },
      { name = SkyTeamDataSource;             },
      { name = SkyTeamDocument;               },
    );
    datasources = (
      { name = SkyAccountDataSource;          },
      { name = SkyTeamDataSource;             },
    );
    
    SkyDocumentGlobalIDResolver = (
      {
        name          = SkyAccountDocumentGlobalIDResolver;
        GlobalIDClass = EOKeyGlobalID;
        qualifier     = "entityName='Account'";
      }
    );
  };
}
