<#Frame>
  <#Window>
      <#SearchForm>
        <#TabView>
          <#FavoritesTab><#FavoriteProjects/></#FavoritesTab>

          <#SearchTab>
            <hr size="1" />
            <table>
              <tr>
                <td><#Name/>:</td>
                <td><#SearchField/> <#SearchButton/></td>
              </tr>
            </table>

            <#SearchProjects/>
          </#SearchTab>

          <#DocumentsTab>
            <!-- TODO: move to own component -->
            <hr size="1" />
            <table>
              <tr>
                <td><#Title/>:</td>
                <td><#TitleField/> <#SearchButton/></td>
              </tr>
              <tr>
                <td><#FileName/>:</td>
                <td><#FileNameField/><br /></td>
              </tr>
              <tr>
                <td><#Extension/>:</td>
                <td><#ExtensionField/><br /></td>
              </tr>
            </table>

            <#ExtendedSearchTableView>
              <#TitleMode ><b><#ProjectsLabel/></b></#TitleMode>
              <#ButtonMode><#Buttons/></#ButtonMode>
              <#GroupMode ><#GroupName/>&nbsp;(<#GroupNumber/>)</#GroupMode>
              <#FileNameTD><#Font><#FileNameLink/></#Font></#FileNameTD>
              <#FileSizeTD/>
              <#FileOwnerTD/>
              <#FileModDateTD><nobr><#Font><#ModDateField/></#Font></nobr>
                </#FileModDateTD>
              <#FileTitleTD/>
            </#ExtendedSearchTableView>   
          </#DocumentsTab>

          <#Tabs>
            <#Tab>
              <#TabTableView/>
            </#Tab>
          </#Tabs>
        </#TabView>
      </#SearchForm>
  </#Window>
</#Frame>
