<#Frame>
  <#Window>
    <#Title><#Buttons/></#Title>

    <#TabView>
        <#FSInfoTab><#FSInfo/></#FSInfoTab>

        <#DocumentsTab>
          <#Form>
            <#ShowTree>
              <table border="0" width="100%">
                <tr>
                  <td valign='top' width='15%'>
                    <#FileManagerTree/>
                  </td>
                  <td width='10'></td>
                  <td id="cdlistcell" valign='top' width='85%'>
                  <#DoHideTree/>
            </#ShowTree>
            
            <#DontShowTree><#DoShowTree/></#DontShowTree>
            
            <#ShowFolderContent><#FolderView/></#ShowFolderContent>
            
            <#ShowTree></td></tr></table></#ShowTree>

          </#Form>
        </#DocumentsTab>
        
        <#SearchTab><#Search           /></#SearchTab>
        <#JobsTab  ><#ProjectJobListAct/></#JobsTab>
        <#NotesTab ><#Notes            /></#NotesTab>
        <#LinkTab  ><#RelatedLinks     /></#LinkTab>
    </#TabView>
  </#Window>
</#Frame>
