<#Frame>
  <#Window>
      <#SearchForm>
        <#TabView>
          <#FavoritesTab><#FavoriteProjects/></#FavoritesTab>

          <#SearchTab>
            <table>
              <tr>
                <td><#Name/>:</td>
                <td><#SearchField/> <#SearchButton/></td>
              </tr>
            </table>
            <hr size="1" />

            <#SearchProjects/>
          </#SearchTab>

          <#DocumentsTab>
            <!-- TODO: move to own component -->
            <hr size="1" />
            <table>
              <tr>
                <td><#Title/>:</td>
                <td><#TitleField/> <#SearchButton/></td>
              </tr>
              <tr>
                <td><#FileName/>:</td>
                <td><#FileNameField/><br /></td>
              </tr>
              <tr>
                <td><#Extension/>:</td>
                <td><#ExtensionField/><br /></td>
              </tr>
            </table>

            <#ExtendedSearchTableView>
              <#TitleMode ><b><#ProjectsLabel/></b></#TitleMode>
              <#ButtonMode><#Buttons/></#ButtonMode>
              <#GroupMode ><#GroupName/>&nbsp;(<#GroupNumber/>)</#GroupMode>
              <#FileNameTD><#Font><#FileNameLink/></#Font></#FileNameTD>
              <#FileSizeTD/>
              <#FileOwnerTD/>
              <#FileModDateTD><nobr><#Font><#ModDateField/></#Font></nobr>
                </#FileModDateTD>
              <#FileTitleTD/>
            </#ExtendedSearchTableView>   
          </#DocumentsTab>

          <#Tabs>
            <#Tab>
              <table border="0" cellpadding="4" width="100%" cellspacing="2">
                <tr>
                  <#ToggleCell>
                    <table border='0' cellpadding='0' cellspacing='0'>
                      <tr>
                        <td><#QSelLink><#QuickViewIcon /></#QSelLink></td>
                        <td><#LSelLink><#ListViewIcon  /></#LSelLink></td>
                      </tr>
                    </table>
                  </#ToggleCell>
                  <#ButtonCell><!-- #Buttons/ --></#ButtonCell>
                </tr>
              </table>
              
              <#IsQuickViewActive><#TabQuickList /></#IsQuickViewActive>
              <#IsListViewActive ><#TabTableView /></#IsListViewActive>
            </#Tab>
          </#Tabs>
        </#TabView>
      </#SearchForm>
  </#Window>
</#Frame>
