<#ProjectTableView>
  <#TitleMode><b><#ProjectsLabel/></b></#TitleMode>
  <#ButtonMode><#Buttons/></#ButtonMode>

  <#GroupMode><#Group/></#GroupMode>
  
  <#PCodeTD><#ProjectLink><#PCode /></#ProjectLink></#PCodeTD>
  <#PNameTD
    ><#ProjectLink><#Font><#ProjectName/></#Font></#ProjectLink></#PNameTD>
  <#PStartDate><#Font><#StartDateField/></#Font></#PStartDate>

  <#PLeader/> <!-- TODO: add link -->

  <#PFavoritesHeader>&nbsp;</#PFavoritesHeader>
  <#PFavorites>
    <#IsInFavoritesCond    ><#RemoveFromFavorites/></#IsInFavoritesCond>
    <#IsInFavoritesCondElse><#AddToFavorites     /></#IsInFavoritesCondElse>
  </#PFavorites>
  
  <#FooterMode><#ProjectsLabel/>:</#FooterMode>
</#ProjectTableView>
