{
  cvsid         = "$Id$";
  bundleHandler = LSInvoiceCommands;

  requires = {
    bundleManagerVersion = 1;
    bundles = (
      { name = LSBase;    type = cmd; },
      { name = LSAddress; type = cmd; }
    );
    classes = (
      { name = NSObject;              },
      { name = LSBaseCommand;            exact-version = 1; },
      { name = LSDBObjectBaseCommand;    exact-version = 1; },
      { name = LSDBObjectDeleteCommand;  exact-version = 1; },
      { name = LSDBObjectNewCommand;     exact-version = 1; },
      { name = LSDBObjectSetCommand;     exact-version = 2; },
      { name = LSDBObjectGetCommand;     exact-version = 3; },
      { name = LSDBFetchRelationCommand; exact-version = 1; },
      { name = LSExtendedSearchCommand;  exact-version = 2; },
    );
  };
  
  provides = {
    LSCommands = (
        { name = "invoice::new";                },
        { name = "invoice::set";                },
        { name = "invoice::get";                },
        { name = "invoice::fetch-additional";   },
        { name = "invoice::set-debitor";        },
        { name = "invoice::set-articles";       },
        { name = "invoice::get-articles";       },
        { name = "invoice::delete";             },
        { name = "invoice::print";              },
        { name = "invoice::cancel";             },
        { name = "invoice::monition";           },
        { name = "invoice::finish";             },
        { name = "invoice::copy-invoices";      },
        { name = "invoice::move-invoices";      },
        { name = "invoice::accounting";         },
        { name = "invoice::extended-search";    },
        { name = "invoice::get-by-globalid";    },
        { name = "article::new";                },
        { name = "article::get";                },
        { name = "article::set";                },
        { name = "article::set-unit";           },
        { name = "article::set-category";       },
        { name = "article::delete";             },
        { name = "article::set-unit";           },
        { name = "article::extended-search";    },
        { name = "articlecategory::get";        },
        { name = "articlecategory::set";        },
        { name = "articlecategory::new";        },
        { name = "articlecategory::delete";     },
        { name = "articleunit::get";            },
        { name = "articleunit::new";            },
        { name = "articleunit::set";            },
        { name = "articleunit::delete";         },
        { name = "invoicearticleassignment::new";       },
        { name = "invoicearticleassignment::set";       },
        { name = "invoicearticleassignment::get";       },
        { name = "invoicearticleassignment::delete";    },
        { name = "enterprise::fetch-unsettled-invoices";},
        { name = "enterprise::get-with-invoice-status"; },
        { name = "enterprise::print-monition";  },
        { name = "enterprise::create-invoiceaccount";   },
        { name = "invoiceaccount::get";         },
        { name = "invoiceaccount::new";         },
        { name = "invoiceaccount::create";      },
        { name = "invoiceaccount::set";         },
        { name = "invoiceaccount::fetch-debitor";       },
        { name = "invoiceaction::get";          },
        { name = "invoiceaction::new";          },
        { name = "invoiceaction::fetch-account";        },
        { name = "invocieaction::fetch-document";       },
        { name = "invocieaction::fetch-invoice";        },
        { name = "invoiceaction::fetch-accounting";     },
        { name = "invoiceaccounting::get";      },
        { name = "invoiceaccounting::new";      },
        { name = "invoiceaccounting::fetch-action";     },
    );
    classes = (
        { name = LSInvoiceCommands;             },
        { name = LSNewInvoiceCommand;           },
        { name = LSSetInvoiceCommand;           },
        { name = LSNewInvoiceArticleCommand;    },
        { name = LSSetInvoiceArticleCommand;    },
        { name = LSSetArticleCategoryCommand;   },
        { name = LSNewArticleCategoryCommand;   },
        { name = LSSetInvoiceAssignmentCommand; },
        { name = LSGetInvoiceArticlesCommand;   },
        { name = LSDeleteInvoiceCommand;        },
        { name = LSDeleteInvoiceArticleCommand; },
        { name = LSDeleteArticleCategoryCommand;},
        { name = LSDeleteArticleUnitCommand;    },
        { name = LSPrintInvoiceCommand;         },
        { name = LSCancelInvoiceCommand;        },
        { name = LSInvoiceMonitionCommand;      },
        { name = LSFinishInvoiceCommand;        },
        { name = LSCopyInvoicesCommand;         },
        { name = LSMoveInvoicesCommand;         },
        { name = LSNewInvoiceArticleAssignmentCommand;  },
        { name = LSSetInvoiceArticleAssignmentCommand;  },
        { name = LSGetInvoiceArticleCommand;    },
        { name = LSGetInvoiceCommand;           },
        { name = LSFetchUnsettledInvoicesCommand;       },
        { name = LSGetEnterpriseWithInvoiceStatus;      },
        { name = LSGetInvoiceAccountCommand.m   },
        { name = LSNewInvoiceAccountCommand.m   },
        { name = LSSetInvoiceAccountCommand.m   },
        { name = LSGetInvoiceActionCommand.m    },
        { name = LSNewInvoiceActionCommand.m    },
        { name = LSGetInvoiceAccountingCommand.m        },
        { name = LSNewInvoiceAccountingCommand.m        },
        { name = LSFetchInvoiceIntoInvoiceAccountingCommand.m   },
        { name = LSCreateInvoiceAccountCommand.m        },
        { name = LSPrintInvoiceMonitionCommand.m        },
        { name = LSCreateInvoiceAccountForEnterpriseCommand.m   },
        { name = LSInvoiceAccountingCommand.m   },
        { name = LSGetInvoicesForGlobalIDs.m    },
    );
  };
}
