<#Frame>
  <#Window>
    <table border="0" cellspacing="0" cellpadding="4" width="100%">
    <#AddressForm>
      <tr>
        <#AttributeCell><#Font><#AddressTypeLabel/>:</#Font></#AttributeCell>
        <#ValueCell    ><#Font><b><#AddressType/></b></#Font></#ValueCell>
      </tr>
      <#AddressEditor/>
  
      <tr> 
        <td>&nbsp;</td>
        <td>
          <#IsWizardModeElse>        
            <#SaveSubmit/>
            <#CancelSubmit/>
          </#IsWizardModeElse>
  
          <#IsWizardMode>
            <#IsBack   ><#Back/></#IsBack>
            <#IsForward><#Forward/></#IsForward>
            <#IsForwardCondElse>
              <#IsFinish><#Finish/></#IsFinish>
            </#IsForwardCondElse>
             &nbsp;&nbsp;
            <#Cancel/> 
          </#IsWizardMode>
        </td>
      </tr>
    </#AddressForm>
    </table>
  </#Window>

<script language="JavaScript">
<!-- hide
if (document.addressEditor) {
  if (document.addressEditor.name1) {
    document.addressEditor.name1.focus();
   /* document.addressEditor.name1.select();*/
  }
}
// -->
</script>

</#Frame>
