<#Frame>
  <#Window>
    <#PreferencesForm>
      <table border="0" cellspacing="0" cellpadding="4" width="100%">
        <#WindowTitle />
      </table>

      <table border="0" cellspacing="0" cellpadding="4" width="100%">
        <#FormletterKindField />
        <#BlockSizeField />
        <#HasClipboardCond>
          <#ClipboardFormat><#ClipboardFormatHelp /></#ClipboardFormat>
        </#HasClipboardCond>
    
        <#AttributesColumnSizeField>
          <#Font>(<#AttributesSubViewLabel />)</#Font>
        </#AttributesColumnSizeField>
    
        <#EditorSearchResultColumnSizeField>
          <#Font>(<#EditorSearchResultLabel />)</#Font>
        </#EditorSearchResultColumnSizeField>
    
        <#EditorAddressColumnSizeField>
          <#Font>(<#AddressesInCompanyEditorLabel />)</#Font>
        </#EditorAddressColumnSizeField>
    
        <#EditorAddressColumnSizeField>
          <#Font>(<#AddressesInCompanyEditorLabel />)</#Font>
        </#EditorAddressColumnSizeField>
    
        <#IsRoot>
          <tr><td colspan="2"></td></tr>
    
          <#AccessWindowTitle />
    
          <tr>
            <#AttributeCell>
              <#Font><#FormletterKindLabel />:</#Font>
            </#AttributeCell>
      
            <#ValueCell>
              <#EditFont><#FormletterKindAccess /></#EditFont>
            </#ValueCell>
          </tr>
        </#IsRoot>
    
        <tr>
          <td></td>
          <td>
            <#SaveSubmit />
            <#CancelButton />
          </td>
        </tr>
      </table>
    </#PreferencesForm>
  </#Window>
</#Frame>
