<!-- $Id: SkyContactSubEditor.html 2 2004-08-20 11:37:44Z znek $ -->

<tr>
  <#AttributeCell>
    <#Font><#ContactLabel/>:</#Font>
  </#AttributeCell>
  
  <#ValueCell>
    <#EditFont2>
      <#HasContactCond>
        <#Font>
          <#ContactLogin/>&nbsp;
          <#ContactName/>
        </#Font>
      </#HasContactCond>
      <br />
      <#SearchField/>
      <#SearchSubmit/>
      &nbsp;
      <#IsEnterpriseEdition>
        <#AccessLabel/>:
        <#AccessCheckBox/>
      </#IsEnterpriseEdition>
      <br />
      <#Font><#ContactResultList/></#Font>
    </#EditFont2>
  </#ValueCell>
</tr>
