<!-- $Id: SkyPersonalAttributesViewer.html 2 2004-08-20 11:37:44Z znek $ -->

<#IsInConfigMode>
  <table border="0" cellspacing="0" cellpadding="2" width="100%">
    <#ConfigTitle/> 
    <#ViewerConfig/>
  </table>
</#IsInConfigMode>

<#IsNotInConfigMode>
  <#PatternsRep>
    <table border="0" cellspacing="0" cellpadding="2" width="100%">
      <tr><td colspan="2"></td></tr>
      <#PatternTitle>
        <#CollapsibleButtonMode ><#ConfButtons     /></#CollapsibleButtonMode>
        <#CollapsibleContentMode><#AttributesViewer/></#CollapsibleContentMode>
      </#PatternTitle>
    </table>
  </#PatternsRep>
</#IsNotInConfigMode>
