<!--$Id: SkyTelephoneEditor.html 2 2004-08-20 11:37:44Z znek $ -->

<#Frame>
  <#Window>
    <table border="0" cellspacing="0" cellpadding="4">
      <#Form>
        <#TeleRep>
          <tr>
            <#AttributeCell><#Font><#NumberLabel/>:</#Font></#AttributeCell>
            <#ValueCell    ><#EditFont><#NumberTF/></#EditFont></#ValueCell>

            <#AttributeCell><#Font><#InfoLabel/>:</#Font></#AttributeCell>
            <#ValueCell    ><#EditFont><#InfoTF/></#EditFont></#ValueCell>
          </tr>
        </#TeleRep>
    
        <tr> 
          <td>&nbsp;</td>
          <td colspan="3">
            <#SaveSubmit/>
            <#CancelSubmit/>
          </td>
        </tr>
      </#Form>
    </table>
  </#Window>
</#Frame>
