// $Id$
{
  "CVS-Id"  = "$Id$";
  "CVS-Tag" = "$Name:  $";

  LSReloadConfiguration                = NO;
  LSPageRefreshOnBacktrack             = YES;
  LSLoginPageExpireTimeout             = 1200;
  LSUseBasicAuthentication             = NO;
  SkyProjectFileManagerClickTimeout    = 300;
  SkyProjectFileManagerUseSessionCache = NO;
  OGoCoreOnException                   = NO;
  UseRefreshPageForExternalLink        = NO;
  SkyLogoutURL                         = "";
  OGoLogBundleLoading                  = NO;
  SkyLanguages = ( 
    English_OOo,    German_OOo,
    English_blue,   German_blue,
    English_orange, German_orange,
    English_kde,    German_kde
  );

  // labels for these defined in string files
  // this stands here, to ensure it is loaded when loading bundles
  // SkyScheduler !!OR!! LSWScheduler
  SkyScheduler_defaultAppointmentTypes = (
     { type = "none";      icon = "apt_icon_default.gif";   },
     { type = "birthday";  icon = "apt_icon_birthday.gif";  },
     { type = "tradeshow"; icon = "apt_icon_tradeshow.gif"; },
     { type = "meeting";   icon = "apt_icon_meeting.gif";   },
     { type = "holiday";   icon = "apt_icon_holiday.gif";   },
     { type = "duedate";   icon = "apt_icon_duedate.gif";   },
     { type = "outward";   icon = "apt_icon_outwards.gif";  },
     { type = "home";      icon = "apt_icon_home.gif";      },
     { type = "call";      icon = "apt_icon_call.gif";      },
     { type = "ill";       icon = "apt_icon_ill.gif";       },
  );

  // SkyScheduler_customAppointmentTypes = (
  // { type = "mycustomtype0"; label = "my label for this type";
  //   icon = "myCustomIcon.gif";
  // );
  //
}
