{ // $Id$
  bundleHandler = SkyPublisherModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = (
    );
    classes = (
      { name = LSWComponent;     exact-version = 2; },
      { name = LSWContentPage;   exact-version = 3; },
      { name = LSWModuleManager; exact-version = 2; },
    );
  };
  
  provides = {
    classes = (
      { name = SkyPublisherModule;         },
      { name = SkyPubLinks;                },
      { name = SkyPubPartPreview;          },
      { name = SkyPubPartSourceViewer;     },
      { name = SkyPubDirectAction;         },
    );
    WOComponents = (
      { name = SkyPubLinks;                },
      { name = SkyPubPartPreview;          },
      { name = SkyPubPartSourceViewer;     },
    );
    WODirectActions = (
      { name = SkyPubDirectAction;         },
    );

    SAXDrivers = ( 
        { 
          name        = libxmlSAXDriver;
          sourceTypes = ( "skyrix/xtmpl", "text/xhtml" ); 
        },
    );
  };
}
