#!/bin/sh

set -e

. /usr/share/debconf/confmodule

# Only act on a fresh install
if [ "$1" = configure ] && [ -z "$2" ]; then
	db_input high opengroupware.org/autoconfigure || true
	db_go
	db_get opengroupware.org/autoconfigure || true
	if [ "$RET" = "true" ]; then
		db_input critical opengroupware.org/configure_note || true
		db_go
	fi
fi

exit 0
