<#HasSearchedCondElse>
  <#Form>
    <table border="0" cellspacing="0" cellpadding="4" width="100%">
      <#MainButtonRow>
        <td colspan="4" align="left"><#Font><b><#Label/></b></#Font></td>
      </#MainButtonRow>
      <tr><td colspan="4" /></tr>
      <tr>
        <#AttributeCell><#Font><#LastName/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#LastNameField/></#EditFont></#ValueCell>
        <#AttributeCell><#Font><#FirstName/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#FirstNameField/></#EditFont></#ValueCell>
      </tr>
      <tr>
        <#AttributeCell><#Font><#Zip/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#ZipField/></#EditFont></#ValueCell>
        <#AttributeCell><#Font><#City/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#CityField/></#EditFont></#ValueCell>
      </tr>
      <tr>
        <#AttributeCell><#Font><#StreetLabel/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#Street/></#EditFont></#ValueCell>
        <#AttributeCell><#Font><#TeleTypes/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#Telephone/></#EditFont></#ValueCell>
      </tr>
      <tr>
        <#AttributeCell><#Font><#EmailLabel/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#Email/></#EditFont></#ValueCell>
        <#AttributeCell><#Font><#UrlLabel/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#Url/></#EditFont></#ValueCell>
      </tr>
      <tr>
        <#AttributeCell><#Font><#CommentLabel/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#Comment/></#EditFont></#ValueCell>
        <#AttributeCell><#Font><#MaxSearchCountLabel/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#MaxSearchCountPopUp/></#EditFont></#ValueCell>
      </tr>  
      <tr>
        <#AttributeCell><#Font><#CategoryLabel/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#CategoryPopUp/></#EditFont></#ValueCell>
        <#AttributeCell><#Font><#ExtendedAttrs/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#ExtendedValue/></#EditFont></#ValueCell>
      </tr>  
      <tr> 
        <td> </td>
        <td colspan="3">
          <#SearchSubmit/><#FormLetterSubmit/><#ClearSubmit/>
        </td>
      </tr> 

      <tr><td colspan="4" /></tr>

      <tr>
	<#SaveSearchAttr><#SaveTitle/></#SaveSearchAttr>
        <#CreateTabAttr><#CreateTabCheckBox/></#CreateTabAttr>
      </tr>  
      <tr> 
        <td> </td>
        <td colspan="3"><#SaveSearchSubmit/></td>
      </tr> 

      <tr><td colspan="4" /></tr>
      <#HasFormletterCond>
        <tr><td /><td colspan="3"><br /><#Formletter/></td></tr>
      </#HasFormletterCond>
    </table>
  </#Form>

  <!-- separate, because it uses an own form -->
  <#HasSearchesToLoadCond>
    <#LoadSearchForm>
      <table border="0" cellspacing="0" cellpadding="4" width="100%">
        <#MainButtonRow>
          <td colspan="4" align="left"><#Font><b>
            <#LoadSearchLabel/>
          </b></#Font></td>
        </#MainButtonRow>

        <tr><td colspan="4" /></tr>

        <tr>
          <#LoadSearchAttr>
            <#LoadSearchPopUp/>
            <#HasNoJavaScriptCond><#LoadSearchSubmit/></#HasNoJavaScriptCond>
          </#LoadSearchAttr>
        </tr>
      </table>
    </#LoadSearchForm>
  </#HasSearchesToLoadCond>
</#HasSearchedCondElse>
