<#TableView>

  <#ButtonMode><#ButtonContent /></#ButtonMode>

  <#NameTD><#ViewAction /></#NameTD>

  <#ColumnsRep>
    <#IsPhoneColumn>
      <#ContentColumn><#Font>
        <#PhoneColumnDial><#ColumnValue/></#PhoneColumnDial>
      </#Font></#ContentColumn>
    </#IsPhoneColumn>

    <#IsMailColumn>
      <#ContentColumn><#Font><#MailColumnLink/></#Font></#ContentColumn>
    </#IsMailColumn>

    <#IsUrlColumn>
      <#ContentColumn><#Font><#UrlColumnLink/></#Font></#ContentColumn>
    </#IsUrlColumn>

    <#IsRegularColumn><#RegularColumn/></#IsRegularColumn>
  </#ColumnsRep>
  
  <#PFavoritesHeader>&nbsp;</#PFavoritesHeader>
  <#PFavorites>
    <#IsInFavoritesCond><#RemoveFromFavorites /></#IsInFavoritesCond>
    <#IsInFavoritesCondElse><#AddToFavorites /></#IsInFavoritesCondElse>
  </#PFavorites>

</#TableView>
