{
  bundleHandler = SkyEnterprisesModule;

  requires = {
    bundleManagerVersion = 1;
    
    bundles = ( 
      { name = LSAddress;     type = cmd; },
      { name = BaseUI;        type = lso; },
      { name = LSScheduler;   type = cmd; },
      { name = OGoUIElements; type = lso; },
      { name = OGoContacts;   type = ds; },
      { name = OGoProject;    type = ds; },
    );
    classes = (
      { name = NSObject;          },
      { name = LSWObjectMailPage; },
      { name = LSWTabHead;        },
      { name = LSWTabContent;     },
      { name = LSWTabItem;        },
      { name = LSWModuleManager; exact-version = 2; },
      { name = SkyAttributeCell; },
      { name = SkyValueCell;     }
    );
  };
  
  provides = {
    classes = (
      { name = SkyEnterprisesModule;        },
      { name = LSWEnterpriseAdvancedSearch; },
      { name = LSWEnterprises;              },
      { name = LSWEnterpriseMailPage;       },
      { name = LSWEnterpriseHtmlMailPage;   },
      { name = LSWEnterpriseTextMailPage;   },
      { name = LSWEnterpriseSearchPage;     },
      { name = SkyWizardEnterpriseViewer;   },
      { name = SkyEnterpriseProjectList;    },
      { name = SkyEnterpriseList;           },
      { name = SkyEnterpriseEditor;         },
      { name = SkyEnterpriseAttributesEditor;},
      { name = SkyEnterpriseViewer;         },
      { name = SkyAssignPersonSubEditor;    },
      { name = SkyAssignPersonEditor;       },
    );

    DockablePages = (
      { 
        name      = "Enterprises";
        component = "LSWEnterprises";
        labelKey  = "Enterprises";
        image     = "menu_enterprises_labeled.gif";
        listicon  = "icon_enterprises_26x21.gif";
      }
    );

    WOComponents = (
      { name = LSWEnterpriseAdvancedSearch; },
      { name = LSWEnterprises;              },
      { name = LSWEnterpriseHtmlMailPage;   },
      { name = LSWEnterpriseTextMailPage;   },
      { name = LSWEnterpriseSearchPage;     },
      { name = SkyWizardEnterpriseViewer;   },
      { name = SkyEnterpriseProjectList;    },
      { name = SkyEnterpriseList;           },
      { name = SkyEnterpriseEditor;         },
      { name = SkyEnterpriseAttributesEditor;},
      { name = SkyEnterpriseViewer;         },
      { name = SkyAssignPersonSubEditor;    },
      { name = SkyAssignPersonEditor;       },
    );
    
    LSWCommands = (
      {
        verb      = new;
        type      = "objc/SkyEnterpriseDocument";
        component = SkyEnterpriseEditor;
      },
      {
        verb      = edit;
        type      = "objc/SkyEnterpriseDocument";
        component = SkyEnterpriseEditor;
      },
      {
        verb      = view;
        type      = "objc/SkyEnterpriseDocument";
        component = SkyEnterpriseViewer;
      },
      { 
        verb      = editAttributes; 
        type      = "objc/SkyEnterpriseDocument"; 
        component = SkyEnterpriseAttributesEditor;
      },
      { 
        verb      = assignPerson;
        type      = "objc/SkyEnterpriseDocument";
        component = SkyAssignPersonEditor;
      },
      { 
        verb      = view; 
        type      = "eo-gid/enterprise"; 
        component = SkyEnterpriseViewer; 
      },
      { 
        verb      = editAttributes; 
        type      = "eo/enterprise";
        component = SkyEnterpriseAttributesEditor;
      },
        
      { verb = view; type = "eo/enterprise"; component = SkyEnterpriseViewer;},
      { verb = edit; type = "eo/enterprise"; component = SkyEnterpriseEditor;},
      { verb = new;  type = "eo/enterprise"; component = SkyEnterpriseEditor;},

      {
        verb = wizard-search;  type = "eo/enterprise";
        component = LSWEnterpriseSearchPage;
      },
      {
        verb = wizard-view;  type = "eo/enterprise";
        component = SkyWizardEnterpriseViewer;
      },

      {
        verb      = link-inline-preview;
        type      = "eo-gid/enterprise";
        component = LSWEnterpriseHtmlMailPage; 
      },
      { 
        verb = mailview; type = "eo-pkey/enterprise";
        component = LSWEnterpriseHtmlMailPage; 
      },
      { 
        verb = htmlMail; type = "eo/enterprise";
        component = LSWEnterpriseHtmlMailPage; 
      },
      { 
        verb = textMail; type = "eo/enterprise";
        component = LSWEnterpriseTextMailPage; 
      },
    );
  };
}
