/* $Id: site.css,v 1.1 2004/02/10 18:31:46 helge Exp $ */

#tmplsrc {
  font-size: 8pt;
  padding:   1em;
  border:    1px solid #FFDAAA; /* Plone: #8cacbb; */
  color:     Black;
  background-color: #FCF8DF;
  /* Plone: background-color: #dee7ec; */
}

div#header {
  margin-left:   5px;
  margin-right:  5px;
  padding:       0;
  border-bottom: 1px solid #000000;
}
div#header img.headerlogo {
  float:  right; 
  width:  182px; 
  height: 30px;
}
      
div#header div#headerhistory {
  font-size:   11px;
  color:       #000000;
  margin:      0px;
  padding-top: 18px;
  height:      12px;
}
div#header a, div#header span {
  margin:      0px;
}
div#header span#navtitle {
  /* font-weight: bold; */
}
div#header a:hover {
  text-decoration: none;
}

.fieldlabel {
  font-size: 10pt;
}

.tableview { 
  font-size: 8pt;
}

td#logoutcell a, td#logoutcell a:hover {
  font-size:       11px;
  text-decoration: none;
  color:           #000000;
}

/* BLog project section */

div#content {
  background: #FFFFFF;
  border:     1px solid #FFFFFF;
}

div.cards {
  padding:    15px;
  background: #FFFFFF;
}

div.cardbody {
  font-family: palatino, georgia, verdana, arial, sans-serif;
  color:       #333333;
  font-size:   small;
  font-weight: normal;
  background:  #FFFFFF;
  line-height: 150%;
  border:      1px dotted #08348B;
  padding:     5px;
}

div.cardbody a,	div.cardbody a:link, div.cardbody a:visited,
div.cardbody a:active, div.cardbody a:hover {
  font-weight:     normal;
  text-decoration: underline;
}

h3.title {
  font-family: palatino, georgia, times new roman, serif;
  font-size:   8pt;
  color:       #666666;
}
h2.projecttitle, h2.projecttitle a:link, h2.projecttitle a:visited  { 
  font-family:   palatino, georgia, times new roman, serif; 
  font-size:     11pt; 
  color:         #333333; 
  border-bottom: 1px solid #08348B;
  margin-bottom: 10px;
  font-weight:   bold;
  text-decoration: none;
}
		
div.projectowner { 
  font-family:   verdana, arial, sans-serif; 
  font-size:     x-small; 
  color:         #000000; 
  margin-bottom: 5px;
}

table.projectfields td {
  font-family:   verdana, arial, sans-serif; 
  font-size:     x-small; 
  color:         #333333; 
  margin-bottom: 25px;
}
