<#Frame>
  <#Window>
    <#PreferencesForm>
      <table border="0" cellspacing="0" cellpadding="4" width="100%">
        <#WindowTitle />

        <!-- Values -->
        <#LanguageField />
        <#ThemeField    />

        <#IsTimeZoneEnabled><#TimezoneField /></#IsTimeZoneEnabled>
        <#AMPMDatesCheckBox />

        <#MaxClipCountField      />
        <#MaxNavLabelLengthField />
        <#ButtonTextModeField    />

        <!-- Access -->

        <#IsRoot>
          <tr><td colspan="2"></td></tr>
          <#AccessWindowTitle />

          <tr>
            <#AttributeCell><#Font><#LanguageLabel />:</#Font></#AttributeCell>
            <#ValueCell><#EditFont><#LanguageAccess /></#EditFont></#ValueCell>
          </tr>

        <#IsTimeZoneEnabled>
          <tr>
            <#AttributeCell><#Font><#TimezoneLabel />:</#Font></#AttributeCell>
            <#ValueCell><#EditFont><#TimezoneAccess /></#EditFont></#ValueCell>
          </tr>
        </#IsTimeZoneEnabled>

          <tr>
            <#AttributeCell>
              <#Font><#DockablePagesLabel />:</#Font>
            </#AttributeCell>
  
            <#ValueCell>
              <#EditFont><#DockablePagesAccess /></#EditFont>
            </#ValueCell>
          </tr>

        </#IsRoot>

        <#DockablePagesAreEditable>
          <!-- Dockable Pages -->
          <tr><td colspan="2"></td></tr> 
          <#DockWindowTitle />
  
          <tr>
            <#AttributeCell>
              <#Font><#DockablePagesLabel />:</#Font>
            </#AttributeCell>
  
            <#ValueCell>
              <#Font>
                <table border="0">
                  <#DockedPages>
                    <tr>
                      <td valign="center" align="right">
                        <#DockLink><#DockImage /></#DockLink>
                      </td>
                      <td valign="center"><#Font><#DockPage /></#Font></td>

                      <td valign="center">
                        <#DockUpLink  ><#UpImg   /></#DockUpLink>
                        <#DockDownLink><#DownImg /></#DockDownLink>
                        <#DockDelLink />
                      </td>
                    </tr>
                  </#DockedPages>
    
                  <tr><td><hr size="1" /></td></tr>
    
                  <#UndockedPages>
                    <tr>
                      <td valign="center" align="right">
                        <#DockLink><#DockImage /></#DockLink>
                      </td>
                      <td valign="center"><#Font><#DockPage /></#Font></td>
                      
                      <td valign="center">
                        <#DockAddTopLink><#AddTopImg /></#DockAddTopLink>
                        <#DockAddBottomLink>
                          <#AddBottomImg /></#DockAddBottomLink>
                      </td>
                    </tr>
                  </#UndockedPages>
                </table>
              </#Font>
            </#ValueCell>
          </tr>
        </#DockablePagesAreEditable>

        <!-- Buttons -->

        <tr>
          <td></td>
          <td><#SaveSubmit /> <#CancelButton /></td>
        </tr>
      </table>
    </#PreferencesForm>
  </#Window>
</#Frame>
