{
  CVSID = "$Id$";
  bundleHandler = "OGoRawDatabaseModule";

  requires = {
    bundleManagerVersion = 1;
    bundles = ();
    classes = ();
  };

  provides = {
    classes = (
      { name = "OGoRawDatabaseModule"; },
      { name = "SkyDBDataSource";      },
      { name = "SkyAdaptorDataSource"; },
      { name = "SkyDBDocument";        },
      { name = "SkyDBDocumentType";    },
    );
    datasources = (
      { name = "SkyDBDataSource";      },
      { name = "SkyAdaptorDataSource"; },
    );
  };
}
