<!-- $Id: LSWImapMailLogin.html 2 2004-08-20 11:37:44Z znek $ -->
<#LoginForm>
  <table border="0" cellspacing="0" cellpadding="2" width="100%">
    <tr>
      <#AttributeCell><#Font><#LoginLabel />:</#Font></#AttributeCell>
      <#ValueCell><#EditFont><#Login /></#EditFont></#ValueCell>
    </tr>
    <tr>
      <#AttributeCell><#Font><#PasswordLabel />:</#Font></#AttributeCell>
      <#ValueCell><#EditFont><#Password /></#EditFont><#Font>&nbsp;<#SaveLabel />:&nbsp;</#Font><#SavePasswordCheckbox /></#ValueCell>
    </tr>
    <tr>
      <#AttributeCell><#Font><#HostLabel />:</#Font></#AttributeCell>
      <#ValueCell>
        <#IsEditableCond>
          <#EditFont><#Host /></#EditFont>
        </#IsEditableCond>
        <#IsEditableCondElse>
          <#Font><#HostString /></#Font>
        </#IsEditableCondElse>
      </#ValueCell>
    </tr>
    <tr> 
      <td></td>
      <td>
        <#LoginSubmit />&nbsp;
        <#IsInEditor>
          <#HideSendButtonElse><#SendMail />&nbsp;</#HideSendButtonElse>
            <#CancelButton />&nbsp;
        </#IsInEditor>
        <#IsLoginIn>
          <#LogoutButton />
        </#IsLoginIn>
      </td>
     </tr>
  </table>
</#LoginForm>

<script language="JavaScript">
<!-- hide
if (document.loginForm) {
  if (document.loginForm.password) {
    document.loginForm.password.focus();
  }
}
// -->
</script>
