<!-- $Id: LSWImapMailList.html 2 2004-08-20 11:37:44Z znek $ -->

<script language="JavaScript">
<!--
var ns = (document.layers) ? true : false;
var ie = (document.all) ? true : false;

var last = 0;
function shiftClick(z) {
  if (ie) {
    var plusShift = window.event.shiftKey;
    if (plusShift) {
      var actState = document.forms[0].elements["a"+last].checked;
      if (z<last) { var e1 = z; var e2 = last; }
      else { var e1 = last; var e2 = z; }
      for (i = e1; i<= e2; i++) {
	    document.forms[0].elements["a" + i].checked = actState;
	  }
    }
    last = z;
  }
}
//-->
</script>

<#SelectAllCheckboxesScript />

<table border="0" cellspacing="0" cellpadding="2" width="100%">
  <#MainButtonRow>
    <td>
      <#MarkUnread     />
      <#MarkRead       />
      <#DeleteMailLink />
      <#MoveMailLink   />
      <#CopyMailLink   />
    </td>
    <td align="right">&nbsp;<#TitleContent /></td>
  </#MainButtonRow>
  <tr><td colspan="2"></td></tr>
</table>

<table border="0" width="100%" cellspacing="0" cellpadding="1">
  <#TableHeaderRow>
    <td width="10"><#Font><#MarkAllCheckbox /></#Font></td>
    <td width="10"><#Font>&nbsp;</#Font></td>
    <#TableHeaderRep />
    <td align="right"><#Font>&nbsp;<#FlagIcon />&nbsp;</#Font></td>
    <#ViewStatusCond>
      <td nowrap="nowrap"><#Font><b><#StatusLabel /></b></#Font></td>
    </#ViewStatusCond>
  </#TableHeaderRow>

  <#MailRepetition>
      <#ObjectRow>
        <td width="10" align="left" valign="top"><#Checker /></td>

        <td width="10"  align="right" valign="top">
          <#IsNew><#IsNewIcon /></#IsNew>
          <#IsNotNew>
            <#IsNotRead><#IsUnreadIcon /></#IsNotRead>
            <#IsRead   ><#IsReadIcon   /></#IsRead>
          </#IsNotNew>
        </td>

        <#TableHeaderEntryRep />

        <td nowrap="nowrap valign="top"
           >&nbsp;<#IsFlagged><#IsFlaggedIcon /></#IsFlagged><#IsNotFlagged><#IsUnFlaggedIcon /></#IsNotFlagged>&nbsp;</td>

        <#ViewStatusCond>
          <!--#StatusAsTextCond-->
            <td nowrap="nowrap"  valign="top">
              <#Font><#StatusText /></#Font>
            </td>
          <!--/#StatusAsTextCond -->
          <!--#StatusAsIconCond">
            <td nowrap="nowrap" align="middle"><#StatusIcon/></td>
          </#StatusAsIconCond -->
        </#ViewStatusCond>
      </#ObjectRow>
  </#MailRepetition>
</table>
