 <!--$Id: LSWImapMailFolderMove.html 2 2004-08-20 11:37:44Z znek $ -->

<#Frame>
  <#Window>
    <#Form>
      <table border="0" cellspacing="0" cellpadding="3" width="100%">
        <tr>
          <#AttributeCell>
            <#FolderTree>
              <#FolderTreeCell>
                <#Font>
                  <#CanMoveToFolder><#CurrentFolderLink/></#CanMoveToFolder>
                  <#CanNotMoveToFolder>
                    <#CurrentFolderName/>
                  </#CanNotMoveToFolder>
                </#Font>
              </#FolderTreeCell>
            </#FolderTree>
          </#AttributeCell>
          <#ValueCell>&nbsp;</#ValueCell>
        </tr>
      </table>
    </#Form>
  </#Window>
</#Frame>
