<!-- #ConfigPanel/ -->

<#MailTableView>
  <#IsShowMailButtons>
    <#TitleMode>
      <#MarkUnread    />&nbsp;
      <#MarkRead      />&nbsp;
      <#MarkFlagged   />&nbsp;
      <#MarkUnFlagged />&nbsp;
      <#MoveMail      />&nbsp;
      <#CopyMail      />&nbsp;
      <#DeleteMail    />
    </#TitleMode>
  </#IsShowMailButtons>

 <#IsShowFilterButtons>
   <#ButtonMode>&nbsp;
     <#ShowUnreadCond    ><#ShowUnreadIcon /></#ShowUnreadCond>
     <#ShowUnreadCondElse><#ShowUnreadLink /></#ShowUnreadCondElse>

     <#ShowAllCond    ><#ShowAllIcon /></#ShowAllCond>
     <#ShowAllCondElse><#ShowAllLink /></#ShowAllCondElse>

     <#ShowFlaggedCond    ><#ShowFlaggedIcon /></#ShowFlaggedCond>
     <#ShowFlaggedCondElse><#ShowFlaggedLink /></#ShowFlaggedCondElse>&nbsp;
   </#ButtonMode>
 </#IsShowFilterButtons>

 <#Switcher>
   <#IsNewCase>
     <#IsNewHeader />
     <#IsNewData>
        <#IsAnswered><#AnsweredIcon /></#IsAnswered>
        <#IsNotAnswered>
          <#IsNew   ><#NewIcon    /></#IsNew>
          <#IsUnread><#UnreadIcon /></#IsUnread>
          <#IsRead  ><#ReadIcon   /></#IsRead>
       </#IsNotAnswered>
     </#IsNewData>
   </#IsNewCase>

   <#IsFlaggedCase>
     <#IsFlaggedHeader />
     <#IsFlaggedData>
        <#IsFlagged  ><#FlaggedIcon   /></#IsFlagged>
        <#IsUnflagged><#UnflaggedIcon /></#IsUnflagged>
     </#IsFlaggedData>
   </#IsFlaggedCase>

   <#SubjectCase>
     <#DragMail>
       <#SubjectData>
         <nobr>
           <#Font>
             <#IsBold><b></#IsBold>
             <#ViewMailAction><#Subject /></#ViewMailAction>
             <#IsBold></b></#IsBold>
           </#Font>
         </nobr>
       </#SubjectData>
     </#DragMail>
   </#SubjectCase>

   <#SenderCase>
     <#SenderData>
       <nobr>
         <#Font>
           <#IsBold><b></#IsBold>
           <#Sender />
           <#IsBold></b></#IsBold>
         </#Font>
       </nobr>
     </#SenderData>
   </#SenderCase>

   <#SendDateCase>
     <#SendDateData>
       <nobr>
         <#Font>
           <#IsBold><b></#IsBold>
           <#SendDate />
           <#IsBold></b></#IsBold>
         </#Font>
       </nobr>
     </#SendDateData>
   </#SendDateCase>

   <#ContentLenCase>
     <#ContentLenData>
       <#Font>
         <#IsBold><b></#IsBold>
         <#ContentLen />
         <#IsBold></b></#IsBold>
       </#Font>
      </#ContentLenData>
   </#ContentLenCase>

   <#ToCase>
     <#ToData>
       <nobr>
         <#Font>
           <#IsBold><b></#IsBold>
           <#To />
           <#IsBold></b></#IsBold>
         </#Font>
       </nobr>
     </#ToData>
   </#ToCase>

   <#FolderCase>
     <#FolderData>
       <nobr>
         <#FolderIcon />
         <#Font>
           <#IsBold><b></#IsBold>
           <#Folder />
           <#IsBold></b></#IsBold>
         </#Font>
       </nobr>
     </#FolderData>
   </#FolderCase>
 </#Switcher>

 <#FooterMode>
   <small><#Font><#MessagesLabel />:</#Font></small>
 </#FooterMode>

</#MailTableView>
