{
  evaluate = {
    ( array, string, string ) = "evaluateAction::";
    ( array, string )         = "evaluateAction::";
  };
  getTables = { ( array ) = "getTablesAction"; };
  getAttributesOfTable = { 
    ( array, string ) = "getAttributesOfTableAction:"; 
  };
  getPrimaryKeyAttributesOfTable = { 
    ( array, string ) = "getPrimaryKeyAttributesOfTableAction:"; 
  };
  fetch = {
    ( array, string, string ) = "fetchAction::";
    ( array, string, struct ) = "fetchAction::";
  };
  insert = {
    ( struct, string, struct ) = "insertAction::";
  };
  update = {
    ( struct, string, struct ) = "updateAction::";
  };
  delete = {
    ( struct, string, struct ) = "deleteAction::";
  };
}
