<#TableView>

  <#ButtonMode><#ButtonContent /></#ButtonMode>

  <#NameTD><#ViewAction /></#NameTD>

  <#NickNameTD  />
  <#FirstNameTD />
  <#DegreeTD    />
  <#JobTitleTD  />

  <#Email1TD>
    <#Font><#MailLink /></#Font>
  </#Email1TD>

  <#Phone1TD>
    <#Font><#PhoneDial><#PhoneNum /></#PhoneDial></#Font>
  </#Phone1TD>
  
  <#PFavoritesHeader>&nbsp;</#PFavoritesHeader>
  <#PFavorites>
    <#IsInFavoritesCond><#RemoveFromFavorites /></#IsInFavoritesCond>
    <#IsInFavoritesCondElse><#AddToFavorites /></#IsInFavoritesCondElse>
  </#PFavorites>

</#TableView>
