{
  domainList = (
        team,
  );

  domains = {
    "team" = {
      operations  = {
        "new"              = { class = "LSNewTeamCommand";    };
        "set"              = { class = "LSSetTeamCommand";    };
        "delete"           = { class = "LSDeleteTeamCommand"; };
        "get"              = { class = "LSGetTeamCommand";    };
        "get-by-globalid"  = { class = "LSGetTeamsForGlobalIDsCommand";    };
        "get-all"          = { class = "LSGetAllTeamsCommand";             };
        "get-by-login"     = { class = "LSGetTeamByLoginCommand";          };
        "check-permission" = { class = "LSCheckPermissionCompanyCommand";  };
        "members"          = { class = "LSGetMemberForTeamCommand";        };
        "setmembers"       = { class = "LSMemberToGroupAssignmentCommand"; };
        "expand"           = { class = "LSResolveAccountsCommand";         };
        "resolveaccounts"  = { class = "LSResolveAccountsCommand";         };
        "extended-search"  = { class = "LSExtendedSearchTeamCommand";      };
      };
    };
  };
}
