{
  domainList = (
    enterprise
  );

  domains = {
    "enterprise" = {
       operations = {
        "new"    = { class = "LSNewEnterpriseCommand";              };
        "set"    = { class = "LSSetEnterpriseCommand";              };
        "get"    = { class = "LSGetEnterpriseCommand";              };
        "delete" = { 
                class = "LSDeleteCompanyCommand";
                init  = { entity = "Enterprise"; };
         };

        "get-comment" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Enterprise"; 
                destinationEntityName = "CompanyInfo"; 
                sourceKey             = "companyId"; 
                destinationKey        = "companyId";
                isToMany              = NO; 
          };
        }; 

        "enterprises"      = { class ="LSGetEnterpriseForPersonCommand";     };
        "get-persons"      = { class ="LSGetMemberForEnterpriseCommand";     };
        "get-projects"     = { class ="LSGetProjectForEnterpriseCommand";    };
        "get-fake-project" = { class ="LSGetFakeProjectForEnterpriseCommand";};
        "set-persons"      = { class ="LSMemberToGroupAssignmentCommand";    };
        "check-permission" = { class ="LSCheckPermissionCompanyCommand";     };
        "get-extattrs"     = { class ="LSFetchExtendedAttributesCommand";    };
        "full-search"      = { class ="LSFullSearchEnterpriseCommand";       };
        "extended-search"  = { class ="LSExtendedSearchEnterpriseCommand";   };
        "qsearch"          = { class ="LSQualifierSearchEnterpriseCommand";  };

        "get-by-globalid"  = { class ="LSGetEnterprisesForGlobalIDs";        };

        "get-telephones" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Enterprise"; 
                destinationEntityName = "Telephone"; 
                sourceKey             = "companyId"; 
                destinationKey        = "companyId";
                isToMany              = YES; 
          };
        };
        "get-project-assignments" = { 
          class  = "LSDBFetchRelationCommand"; 
          init   = { 
                entity                = "Enterprise"; 
                destinationEntityName = "ProjectCompanyAssignment"; 
                sourceKey             = "companyId"; 
                destinationKey        = "companyId";
                isToMany              = YES; 
          }; 
        };
        "assign-projects"  = { 
          class = "LSProjectsToCompanyAssignmentCommand"; 
          init  = {
            entity = "Enterprise";
          };
        };
       };
    };
  };
}
