body {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  background-color: #FFECD0;
  margin:           0px;
  margin-top:       0px;
  margin-bottom:    0px;
  margin-left:      0px;
  margin-right:     0px;
}

a:link {
  color:       #6F1537;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

a:visited {
  color:       #C97138;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

.nestedwintable {
  border:      1;
}
.wintable {
  border:      1;
}
.wintitle {
  color:            #FFFFFF;
  background-color: #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  font-weight:      bold;
  align:            center;
}
.wincontent {
  background-color: #D0D0D0;
}
.nestedtabcontent {
  background-color: #FCF8DF;
}
.winscroll {
  height:     100%;
  overflow-y: auto;
}

.skybuttonrow {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}
.skybuttonlink {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}
.skybuttoncolor {
  background-color: ;
}

.skydatetitle {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  color:            #000000;
}
.skydatetitlehigh {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  color:            #000000;
  font-weight:      bold;
}
.skydatetitlelink {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        14pt;
  color:            #000000;
  font-weight:      bold;
}
.skydatetitlenewlink {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}

.skydatecell_owner {
  color: #008800;
}
.skydatecell_ownerAndLogin {
  color:       #008800;
  font-weight: bold;
}
.skydatecell_login {
  color:       #000000;
  font-weight: bold;
}
.skydatecell_person {
  color:       #000000;
  font-style:  oblique;
}
.skydatecell_other {
  color:       #000000;
}
.skydatecell_title {
  color: #0000FF;
}
.skydatecell_titlePrivate {
  color:      #0000FF;
  font-style: oblique;
}
.skydatecell_location {
  color: #000000;
}
.skydatecell_absence {
  color: #000000;
}
.skydatecell_resources {
  color: #000000;
}
.skydatecell_link {
  color: #A00000;
}
.skydatecell_text {
  color: #000000;
}
.skydatecell_delparts {
  color: #FF0000;
}
a.skydockfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #6F1537;
  font-weight:      bold;
}
font.skydockfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #6F1537;
  font-weight:      bold;
}
table.skytextdocktable {
  padding:        4px;
  table-layout:   auto;
}
font.defaultfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}

a.button_narrow {
  HEIGHT:           20px;
  WIDTH:            50px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #000000;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_narrow {
  HEIGHT:           20px;
  WIDTH:            100px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #000000;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_narrow {
  HEIGHT:           20px;
  WIDTH:            50px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #000000;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_wide {
  HEIGHT:           20px;
  WIDTH:            120px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #000000;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_wide {
  HEIGHT:           20px;
  WIDTH:            120px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #000000;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_auto {
  HEIGHT:           20px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #000000;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_auto {
  HEIGHT:           20px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #000000;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_narrow_da {
  HEIGHT:           20px;
  WIDTH:            50px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #CCCCCC;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_narrow_da {
  HEIGHT:           20px;
  WIDTH:            50px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #CCCCCC;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_wide_da {
  HEIGHT:           20px;
  WIDTH:            100px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #CCCCCC;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_wide_da {
  HEIGHT:           20px;
  WIDTH:            100px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #CCCCCC;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_auto_da {
  HEIGHT:           20px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #CCCCCC;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_auto_da {
  HEIGHT:           20px;
  BORDER-STYLE:     outset;
  BORDER-COLOR:     #DDDDDD;
  BORDER-WIDTH:     2px;
  COLOR:            #CCCCCC;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-SIZE:        8pt;
  FONT-FAMILY:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  LETTER-SPACING:   0pt;
  TEXT-DECORATION:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
input, select {
  font-size:10px;
  font-family:Verdana,sans-serif;
  color:#000000;
}
textarea {
  font-size:12px;
  font-family:monospace;
  color:#000000;
}
input.area, input.field, input.popup {
  background-color:#FFFFFF;
  width:300px;
  border:1px solid #6F1537;
}
input.check, input.radio {
}
