{
  requires = ( MAIN, CommonUI, Projects );

  publicResources = (
    blog.css
  );

  factories = {
  };

  categories = {
    SxProjectsFolder = {
      methods = {
        "view" = { 
          protectedBy = "View";
          pageName    = "OGoProjectsOverview"; 
        };
      };
    };
    SxProjectFolder = {
      methods = {
        "view" = { 
          protectedBy = "View";
          pageName    = "OGoProjectOverview"; 
        };
      };
    };
    
    SxDocumentFolder = {
      methods = {
        "view" = { 
          protectedBy = "View";
          pageName    = "OGoDocFolderView"; 
        };
      };
    };
    SxDocument = {
      methods = {
        "view" = { 
          protectedBy = "View";
          pageName    = "OGoDocumentView"; 
        };
      };
    };
  };
}
