<#Frame>
  <!-- $Id: LSWPasswordEditor.html 2 2004-08-20 11:37:44Z znek $ -->
  <#Window>

<#NotUseLDAPPwd>
  <#PasswordForm>
    <table border="0" cellspacing="0" cellpadding="4" width="100%">
      <#IsRootCondElse>
        <tr>
          <#AttributeCell><#Font><#OldPassword/>:</#Font></#AttributeCell>
          <#ValueCell><#EditFont><#OldPasswordField/></#EditFont></#ValueCell>
        </tr>
      </#IsRootCondElse>
      <tr>
        <#AttributeCell><#Font><#NewPassword/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont>
          <#IsRootCond    ><#NewPasswordFieldIsRoot/></#IsRootCond>
          <#IsRootCondElse><#NewPasswordField/></#IsRootCondElse>
        </#EditFont></#ValueCell>
      </tr>
      <tr>
        <#AttributeCell><#Font><#RepeatPassword/>:</#Font></#AttributeCell>
        <#ValueCell><#EditFont><#RepeatPasswordField/></#EditFont></#ValueCell>
      </tr>
      <tr> 
        <td>&nbsp;</td>
        <td>
          <#IsSaveEnabled ><#SaveSubmit /></#IsSaveEnabled>
          <#IsSaveDisabled><#SaveSubmitDA /></#IsSaveDisabled>
          <#CancelSubmit />
        </td>
      </tr>
    </table>
  </#PasswordForm>

<script language="JavaScript">
<!-- hide
if (document.passwordEditor) {
  if (document.passwordEditor.focusField) {
    document.passwordEditor.focusField.focus();
  }
}
// -->
</script>
</#NotUseLDAPPwd>

    <#UseLDAPPwd>
      Contact your system administrator for changing your LDAP password !
    </#UseLDAPPwd>
  </#Window>
</#Frame>
