<#Frame>
  <#Window>
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
      <#Title><#Buttons/></#Title>

      <#IsRootCondition    ><#TeamViewer            /></#IsRootCondition>
      <#IsRootConditionElse><#TeamViewerWithoutLinks/></#IsRootConditionElse>

      <tr>
        <#AttributeCell><#Font><#LocationTeamLabel/>:</#Font></#AttributeCell>
        <#ValueCell><#Font><#IsLocationTeam/></#Font></#ValueCell>
      </tr>
      
      <#IsRootCondition>
        <#IsMailConfigEnabled>
          <#ExportTeam  />
          <#VAddresses  />
          <#MailboxName />
        </#IsMailConfigEnabled>
      </#IsRootCondition>
    </table>
  </#Window>
</#Frame>
