<!-- $Id: SkyDefaultsElementViewer.html 2 2004-08-20 11:37:44Z znek $ -->
<tr>
  <#AttributeCell>
    <#IsCriticalValue>
      <font color="FF0000"><#AttributeName/>:</font>
    </#IsCriticalValue>
    <#IsCriticalValueElse>
      <#AttributeName/>:
    </#IsCriticalValueElse>
  </#AttributeCell>
  <#ValueCell>
    <#IsPasswordValue>
      <b>********</b><br />
    </#IsPasswordValue>
    <#IsPasswordValueElse>
      <b><#Value/></b><br />
    </#IsPasswordValueElse>
    <#ShowInfo>
      <#Description/>
    </#ShowInfo />
  </#ValueCell>
</tr>

