{
  "master.start" = {
    ( string, string, struct ) = "startAction::";
    ( string, string ) = "startAction::";
  };
  "master.stop"      = { ( int,    string ) = "stopAction:";     };
  "master.isRunning" = { ( bool,   string ) = "isRunningAction:" };
  "master.status"    = { ( struct, string ) = "statusAction:";    
                         ( string )         = "serverStatusAction";
  };

  "master.restart"   = { ( string, string ) = "restartAction:";   };
  "master.reload"    = { ( bool )  = "reloadAction";              };
  
  "master.stdoutLog" = {
    ( array, string, int ) = "stdoutLogAction::";
    ( array, string )      = "stdoutLogAction::";
  };
  "master.stderrLog" = {
    ( array, string, int ) = "stderrLogAction::";
    ( array, string )      = "stderrLogAction::";
  };
  
  "master.templates" = { ( array ) = "templatesAction";  };
  "master.instances" = { ( array ) = "instancesAction:"; };
  "master.tasks"     = { ( array ) = "tasksAction";      };
}
