body {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  background-color: #FFFFFF;
  margin:           0px;
  margin-top:       0px;
  margin-bottom:    0px;
  margin-left:      0px;
  margin-right:     0px;
}
a:link {
  color:       #0033CC;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
a:visited {
  color:       #660066;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
a:hover {
  color:       #FF0000;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}
.nestedwintable {
  border-width:1px;
  border-style:solid;
  border-color:#005550;
}
.wintable {
  border-width:   1px;
  border-style:   solid;
  border-color:   #FFFFFF;
  border-spacing: 0px;
}
.wintitle {
  color:            #06348B;
  background-color: #FFFFFF;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        12pt;
  font-weight:      bold;
  align:            left;
  padding:          0px;
}
.wincontent {
  background-color: #FFFFFF;
}
.nestedtabcontent {
  background-color: #FFFFFF;
}
.winscroll {
  height:     100%;
  overflow-y: auto;
}

/* button row */

.skybuttonrow {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}
.skybuttonlink {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}
.skybuttoncolor {
  background-color: #E8E8E0;
}

/* date title */

.skydatetitle {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  color:            #000000;
}
.skydatetitlehigh {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  color:            #000000;
  font-weight:      bold;
}
.skydatetitlelink {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        14pt;
  color:            #000000;
  font-weight:      bold;
}
.skydatetitlenewlink {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}

/* date cell */

.skydatecell_owner {
  color: #008800;
}
.skydatecell_ownerAndLogin {
  color:       #008800;
  font-weight: bold;
}
.skydatecell_login {
  color:       #000000;
  font-weight: bold;
}
.skydatecell_person {
  color:       #000000;
  font-style:  oblique;
}
.skydatecell_other {
  color:       #000000;
}
.skydatecell_title {
  color: #0000FF;
}
.skydatecell_titlePrivate {
  color:      #0000FF;
  font-style: oblique;
}
.skydatecell_location {
  color: #000000;
}
.skydatecell_absence {
  color: #000000;
}
.skydatecell_resources {
  color: #000000;
}
.skydatecell_link {
  color: #A00000;
}
.skydatecell_text {
  color: #000000;
}
.skydatecell_delparts {
  color: #FF0000;
}

/* the dock */

a.skydockfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #06348B;
}
font.skydockfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #06348B;
}
font.skydockfont_inactiveMail {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #CCCCCC;
  font-weight:      bold;
}
font.skydockfont_newMail {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #06348B;
  font-weight:      bold;
}
table.skytextdocktable {
  padding:        0px;
  table-layout:   auto;
}

/* general stuff */

.linecolor {
  background-color: #06348B;
}
font.defaultfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}

/* buttons */

/*
  TODO: I do not understand what the selector matches are good for, a button
        style like "#button_narrow" is usually not unique on a page, so one
        should always use classes?
*/

input.button_narrow {
  height:           20px;
  /* width:            50px; */
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_narrow {
  height:           20px;
  /* width:            50px; */
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_narrow {
  height:           20px;
  /* width:            50px; */
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
a.button_narrow {
  height:           20px;
  width:            50px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}

input.button_wide {
  height:           20px;
  /* width:            100px; */
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_wide {
  height:           20px;
  width:            100px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_wide {
  height:           20px;
  width:            100px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
input.button_auto {
  height:           20px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_auto {
  height:           20px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
.button_auto {
  height:           20px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
input.button_narrow_da {
  height:           20px;
  width:            50px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #CCCCCC;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_narrow_da {
  height:           20px;
  width:            50px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #CCCCCC;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
input.button_wide_da {
  height:           20px;
  width:            100px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #CCCCCC;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_wide_da {
  height:           20px;
  width:            100px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #CCCCCC;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
input.button_auto_da {
  height:           20px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #CCCCCC;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
#button_auto_da {
  height:           20px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #CCCCCC;
  background-color: #FFFFFF;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}
input, select {
  font-size:   10px;
  font-family: Verdana,sans-serif;
  color:       #000000;
}
textarea {
  font-size:   12px;
  font-family: monospace;
  color:       #000000;
}
input.area, input.field, input.popup {
  background-color: #FFFFFF;
  width:            300px;
  border:           1px solid #6F1537;
}
input.check, input.radio {
}

a:hover .button_narrow {
  text-decoration: none;
}

a:hover .button_wide {
  text-decoration: none;
}


/* main page styles */

body#LoginPageBody {
  text-color:       #000000;
  background-color: #FFFFFF;
}
body#LoginPageBody a {
  text-color: #005550;
}
body#LoginPageBody a:visited {
  text-color: #005550;
}

body#LoginPageBody .headline {
}
body#LoginPageBody table#mainheader {
  /* color:       #000000; */
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:   9pt;
}

body#LoginPageBody table#mainheader {
  margin-left:  8px;
  margin-right: 5px;
}

body#LoginPageBody table#headerline {
  margin-left:  5px;
  margin-right: 5px;
  border: 0px;
}

body#LoginPageBody div#resistance {
  margin-left:  5px;
  margin-right: 1px;
  text-align:   right;
  color:        #000000;
  font-family:  Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:    7pt;
}
