{
  "__cvs__" = "$Id$";

  requires = {
    bundleManagerVersion = 1;
    classes = (
      { name = NSObject;    }
    );
  };

  provides = {
    ZideStoreProducts = ( { name = PrefsUIProduct; } );
    
    classes = (
      { name = PrefsUIProduct;       },
      { name = SxFrame;              },
      { name = SxMissingLicensePage; },
      { name = SxPage;               },
      { name = SxRootPage;           },
      { name = SxUserHomePage;       },
      { name = SxUserSettingsPage;   }
    );

    WOComponents = (
      { name = SxFrame;              },
      { name = SxMissingLicensePage; },
      { name = SxPage;               },
      { name = SxRootPage;           },
      { name = SxUserHomePage;       },
      { name = SxUserSettingsPage;   }
    );
  };
}
