{
  requires = ( ZSCommon, Tasks );

  publicResources = (
  );

  factories = {
  };

  classes = {
    GDataAccounts = {
      superclass    = "NSObject";
      protectedBy   = "<public>";
      defaultAccess = "allow";

      methods = {
        ClientLogin = {
          protectedBy = "<public>";
	  selector    = "clientLoginInContext:";
        };
      };
    };

    GCalEntryPoint = {
      superclass    = "NSObject";
      protectedBy   = "<public>";
      defaultAccess = "allow";
    };

    GCalCalendar = {
      superclass    = "NSObject";
      protectedBy   = "View";
      defaultAccess = "allow";
    };

    GCalEvent = {
      superclass    = "NSObject";
      protectedBy   = "View";
      defaultAccess = "allow";
    };

    GCalComments = {
      superclass    = "NSObject";
      protectedBy   = "View";
      defaultAccess = "allow";
    };

    GCalComment = {
      superclass    = "NSObject";
      protectedBy   = "View";
      defaultAccess = "allow";
    };
  };

  categories = {
    ZideStore = {
      slots = {
        accounts = {
          protectedBy = "<public>";
          valueClass = GDataAccounts;
        };
        calendar = {
          protectedBy = "<public>";
          valueClass = GCalEntryPoint;
        };
        feeds = { /* if 'calendar' is mapped to the appname */
          protectedBy = "<public>";
          valueClass = GCalEntryPoint;
        };
      };
    };
  };
}
