<#Frame>
  <!--$Id: LSWFolderEditor.html 2 2004-08-20 11:37:44Z znek $ -->
<#Window>
  <table border="0" cellspacing="0" cellpadding="3" width="100%">
    <#Form>
      <#IsContactAttrEnabled>
        <#EditorWithContact />
      </#IsContactAttrEnabled>
      <#IsContactAttrDisabled>
        <#Editor />
      </#IsContactAttrDisabled>
      <tr> 
        <td>&nbsp;</td>
        <td><#SaveSubmit /><#CancelSubmit /></td>
      </tr>
    </#Form>
  </table>
</#Window>

<script language="JavaScript">
<!-- hide
if (document.folderEditor) {
  if (document.folderEditor.title) {
    document.folderEditor.title.focus();
    document.folderEditor.title.select();
  }
}
// -->
</script

</#Frame>
