<#Frame>
  <#Window>
    <#PreferencesForm>
      <table border="0" cellspacing="0" cellpadding="4" width="100%">
        <#WindowTitle />

        <#ProjectsSubviewField />
        <#ProjectSubviewField />
        <!--#BlockSizeField/-->
        <#ColumnSizeField />
        <#UrlPatternField />

        <#IsDockedProjectsEditable>
          <#DockedProjects />
        </#IsDockedProjectsEditable>

        <tr>
          <td></td>
          <td>
            <#SaveSubmit />
            <#CancelButton />
          </td>
        </tr>
      </table>
    </#PreferencesForm>
  </#Window>
</#Frame>
