<table width="100%" border="0" cellpadding="4" cellspacing="0">
  <#MainButtonRow>
    <td colspan="2">
      <#Font><b><#ProjectViewerLabel /></b></#Font>
    </td>
  </#MainButtonRow>
  <tr><td colspan="2"></td></tr>
  <tr>
    <#AttributeCell><#Font><#NameLabel />:</#Font></#AttributeCell>
    <#ValueCell>
      <#Font>
         <#InlineLinkCond    ><#NameAction   /></#InlineLinkCond>
         <#InlineLinkCondElse><#NameExternal /></#InlineLinkCondElse>
      </#Font>
    </#ValueCell>
  </tr>
  <tr>
    <#AttributeCell><#Font><#CodeLabel />:</#Font></#AttributeCell>
    <#ValueCell><#Font><#Code /></#Font></#ValueCell>
  </tr>
</table>
