{
  requires = ( MAIN, Contacts, Tasks, Appointments );

  publicResources = (
  );

  factories = {
  };

  classes = {
    SxOptionsForm = {
      defaultAccess = "allow";
      protectedBy   = "<public>";
    };
  };

  categories = {
    SxUserFolder = {
      methods = {
      };
    };
  };
}
