<#Frame>
  <#Window>
    <#WarningModeCondElse>
      <#Form>
        <table border="0" cellspacing="0" cellpadding="4" width="100%">
          <tr>
            <#AttributeCell>
              <#Font><#SubjectLabel/>:</#Font>
            </#AttributeCell>
           
            <#ValueCell>
              <#EditFont><#Subject/></#EditFont>
            </#ValueCell>
          </tr>

          <tr>
            <#AttributeCellUp>
              <#Font><#TextLabel/>:</#Font>
            </#AttributeCellUp>
           
            <#ValueCell>
              <#EditFont><#Text/></#EditFont>
            </#ValueCell>
          </tr>

          <tr>
            <#AttributeCell>
              <#Font><#RepeatIntervalLabel/>:</#Font>
            </#AttributeCell>
           
            <#ValueCell>
              <#Font><#RepeatInterval/>&nbsp;<#InDays/></#Font>
            </#ValueCell>
          </tr>

          <tr>
            <#AttributeCellUp>
              <#Font><#AddressLabel/>:</#Font>
            </#AttributeCellUp>
            
            <#ValueCell>
              <#Font>
                <#EmailText/>&nbsp;<#AddSubmit/><br /><#EmailList/>
              </#Font>
            </#ValueCell>
          </tr>

          <tr>
            <#AttributeCellTwo><hr /></#AttributeCellTwo>
          </tr>
     
          <tr>
            <#AttributeCell>
              <#Font><#KeepMailsLabel/>:</#Font>
            </#AttributeCell>
           
            <#ValueCell>
              <#Font><#KeepMails/></#Font>
            </#ValueCell>
          </tr>

          <tr>
            <#AttributeCellUp>
              <#Font><#ForwardLabel/>:</#Font>
            </#AttributeCellUp>
           
            <#ValueCell>
              <#Font>
                <#Forward/>&nbsp;<#AddForwardSubmit/><br /><#ForwardList/>
              </#Font>
            </#ValueCell>
          </tr>

          <#HasPasswordCond>
            <tr>
              <#AttributeCellTwo><hr /></#AttributeCellTwo>
            </tr>
            <tr>
              <#AttributeCell>
                <#Font><#PasswordLabel/>:</#Font>
              </#AttributeCell>
              <#ValueCell>
                <#Font><#PasswordTextField/></#Font>
              </#ValueCell>
            </tr>
          </#HasPasswordCond>

          <tr> 
            <td>&nbsp;</td>
            <td>
              <#SaveSubmit/>
              <#CancelSubmit/>
              <#HasDeleteCond>
                <#DeleteSubmit/>
              </#HasDeleteCond>
            </td>
          </tr>
        </table>
      </#Form>
    </#WarningModeCondElse>

    <#WarningModeCond><#Warning/></#WarningModeCond>
  </#Window>

<script language="JavaScript">
<!-- hide
if (document.vacationeditor.subject) {
  document.vacationeditor.subject.focus();
  document.vacationeditor.subject.select();
}
// -->
</script>

</#Frame>
