{
  enterprise_sub_view = "attributes";
  persons_sub_view    = "attributes";
  address_blocksize   = "20";
  address_no_of_cols    = "3";
  attributes_no_of_cols = "2";
  formletter_kind     = "winword";
  formletter_kinds    = ("winword", "framemaker", "excel");
  "person_viewer_expand_ " = 1;
  persons_view_attributes = {
        " " = (
            name,
            firstname,
            middlename,
            nickname,
            degree,
            salutation,
            sex,
            url,
            email1,
            email2,
            01_tel, 
            02_tel,
            05_tel_private, 
            10_fax, 
            15_fax_private,
            birthday,
            keywords,
            owner,
            contact,
            objectVersion,
            comment
        );
  };
  "enterprise_viewer_expand_ " = 1;
  enterprises_view_attributes = {
        " " = (
            owner,
            contact,
            url,
            01_tel, 
            02_tel, 
            10_fax, 
            email,
            keywords,
            bank,
            bank_code,
            account,
            objectVersion,
            comment
        );
  };
  company_editor_address_columns = 3;
  person_gathering_phones = ( "01_tel", "10_fax", "03_tel_funk" );
  person_gathering_category_count = 2;

  skycontacts_Person_importcfg_defaultcsv = {
    format = "csv"; separator = ","; firstLine = 0;
  };
  skycontacts_Enterprise_importcfg_defaultcsv = {
    format = "csv"; separator = ","; firstLine = 0;
  };
  skycontacts_Person_importcfg_defaulttsv = {
    format = "csv"; separator = "	"; firstLine = 0;
  };
  skycontacts_Enterprise_importcfg_defaulttsv = {
    format = "csv"; separator = "	"; firstLine = 0;
  };
  skycontacts_Person_importcfg_msoutlookcsv = {
    format    = "csv";
    separator = ",";
    firstLine = "1";
    mapping   = {
      "column0"  = "salutation";
      "column1"  = "firstname";
      "column2"  = "middlename";
      "column3"  = "name";
      "column4"  = "degree"; // suffix
      //"column5"  = ""; // firma
      //"column6"  = ""; // abteilung
      "column7"  = "job_title";
      "column8"  = "address.location.street";
      "column9"  = "address.location.name2"; // strasse 2
      
      "column10" = "address.location.name3"; // strasse 3
      "column11" = "address.location.city";
      "column12" = "address.location.state";
      "column13" = "address.location.zip";
      "column14" = "address.location.country";
      "column15" = "address.private.street";
      "column16" = "address.private.name2"; // strasse 2      
      "column17" = "address.private.name3"; // strasse 3
      "column18" = "address.private.city";
      "column19" = "address.private.state";
      
      "column20" = "address.private.zip";      
      "column21" = "address.private.country";
      "column22" = "address.mailing.street";
      "column23" = "address.mailing.name2"; // strasse 2      
      "column24" = "address.mailing.name3"; // strasse 3
      "column25" = "address.mailing.city";
      "column26" = "address.mailing.state";
      "column27" = "address.mailing.zip";
      "column28" = "address.mailing.country";
      //"column29" = ""; // Telefon Assistent

      "column30" = "phone.10_fax";
      "column31" = "phone.01_tel";
      "column32" = "phone.02_tel";
      //"column33" = ""; // rueckmeldung
      //"column34" = ""; // autotelefon
      //"column35" = ""; // telefon firma
      "column36" = "phone.15_fax_private";
      "column37" = "phone.05_tel_private";
      //"column38" = ""; // telefon privat 2
      //"column39" = ""; // ISDN

      "column40" = "phone.03_tel_funk";
      //"column41" = ""; // weiteres fax
      //"column42" = ""; // weiteres telefon
      //"column43" = ""; // pager
      //"column44" = ""; // haupttelefon
      //"column45" = ""; // mobiltelefon 2
      //"column46" = ""; // telefon fuer Hoerbehinderte
      //"column47" = ""; // telex
      //"column48" = ""; // abrechnungsinformation
      //"column49" = ""; // benutzer 1

      //"column50" = ""; // benutzer 2
      //"column51" = ""; // benutzer 3
      //"column52" = ""; // benutzer 4
      "column53" = "other_title1"; // beruf
      //"column54" = ""; // buero
      "column55" = "email1";
      //"column56" = ""; // email typ
      //"column57" = ""; // email: angezeigter name
      "column58" = "email2";
      //"column59" = ""; // email 2 typ

      //"column60" = ""; // email 2: angezeigter name
      "column61" = "email3";
      //"column62" = ""; // email 3 typ
      //"column63" = ""; // email 3: angezeigter name
      //"column64" = ""; // empfohlen von
      //"column65" = ""; // firma yomi ???
      "column66" = "birthday";
      "column67" = "gender";
      //"column68" = ""; // hobby
      //"column69" = ""; // initialen

      //"column70" = ""; // free busy
      //"column71" = ""; // jahrestag
      //"column72" = ""; // kategorien
      //"column73" = ""; // kinder
      //"column74" = ""; // konto
      //"column75" = ""; // nachname yomi
      //"column76" = ""; //name assistent
      //"column77" = ""; // name des/der vorgesetzten
      "column78" = "comment"; // notitzen
      //"column79" = ""; // organisations-nr

      //"column80" = ""; // ort
      //"column81" = ""; // partner
      //"column82" = ""; // postfach geschaeftlich
      //"column83" = ""; // postfach privat
      //"column84" = ""; prioritaet
      //"column85" = ""; // privat
      //"column86" = ""; // regierungs-nr
      //"column87" = ""; // reisekilometer
      //"column88" = ""; // sprache
      "column89" = "keywords"; // stichwoerter

      //"column90" = ""; // vertraulichkeit
      //"column91" = ""; // verzeichnisserver
      //"column92" = ""; // vorname yomi
      "column93" = "url";
      //"column94" = ""; // weiters postfach      
    };
  };
  skycontacts_Enterprise_importcfg_msoutlookcsv = {
    format    = "csv";
    separator = ",";
    firstLine = "1";
    mapping   = {
      //"column0"  = "salutation";
      //"column1"  = "firstname";
      //"column2"  = "middlename";
      //"column3"  = "name";
      //"column4"  = "degree"; // suffix
      "column5"  = "name"; // firma
      //"column6"  = ""; // abteilung
      "column7"  = "job_title";
      "column8"  = "address.ship.street";
      "column9"  = "address.ship.name2"; // strasse 2
      
      "column10" = "address.ship.name3"; // strasse 3
      "column11" = "address.ship.city";
      "column12" = "address.ship.state";
      "column13" = "address.ship.zip";
      "column14" = "address.ship.country";
      //"column15" = "address.private.street";
      //"column16" = "address.private.name2"; // strasse 2      
      //"column17" = "address.private.name3"; // strasse 3
      //"column18" = "address.private.city";
      //"column19" = "address.private.state";
      
      //"column20" = "address.private.zip";      
      //"column21" = "address.private.country";
      "column22" = "address.bill.street";
      "column23" = "address.bill.name2"; // strasse 2      
      "column24" = "address.bill.name3"; // strasse 3
      "column25" = "address.bill.city";
      "column26" = "address.bill.state";
      "column27" = "address.bill.zip";
      "column28" = "address.bill.country";
      //"column29" = ""; // Telefon Assistent

      "column30" = "phone.10_fax";
      "column31" = "phone.01_tel";
      "column32" = "phone.02_tel";
      //"column33" = ""; // rueckmeldung
      //"column34" = ""; // autotelefon
      //"column35" = ""; // telefon firma
      //"column36" = "phone.15_fax_private";
      //"column37" = "phone.05_tel_private";
      //"column38" = ""; // telefon privat 2
      //"column39" = ""; // ISDN

      //"column40" = "phone.03_tel_funk";
      //"column41" = ""; // weiteres fax
      //"column42" = ""; // weiteres telefon
      //"column43" = ""; // pager
      //"column44" = ""; // haupttelefon
      //"column45" = ""; // mobiltelefon 2
      //"column46" = ""; // telefon fuer Hoerbehinderte
      //"column47" = ""; // telex
      //"column48" = ""; // abrechnungsinformation
      //"column49" = ""; // benutzer 1

      //"column50" = ""; // benutzer 2
      //"column51" = ""; // benutzer 3
      //"column52" = ""; // benutzer 4
      "column53" = "other_title1"; // beruf
      //"column54" = ""; // buero
      "column55" = "email";
      //"column56" = ""; // email typ
      //"column57" = ""; // email: angezeigter name
      "column58" = "email2";
      //"column59" = ""; // email 2 typ

      //"column60" = ""; // email 2: angezeigter name
      "column61" = "email3";
      //"column62" = ""; // email 3 typ
      //"column63" = ""; // email 3: angezeigter name
      //"column64" = ""; // empfohlen von
      //"column65" = ""; // firma yomi ???
      //"column66" = "birthday";
      //"column67" = "gender";
      //"column68" = ""; // hobby
      //"column69" = ""; // initialen

      //"column70" = ""; // free busy
      //"column71" = ""; // jahrestag
      //"column72" = ""; // kategorien
      //"column73" = ""; // kinder
      //"column74" = ""; // konto
      //"column75" = ""; // nachname yomi
      //"column76" = ""; //name assistent
      //"column77" = ""; // name des/der vorgesetzten
      "column78" = "comment"; // notitzen
      //"column79" = ""; // organisations-nr

      //"column80" = ""; // ort
      //"column81" = ""; // partner
      //"column82" = ""; // postfach geschaeftlich
      //"column83" = ""; // postfach privat
      //"column84" = ""; prioritaet
      //"column85" = ""; // privat
      //"column86" = ""; // regierungs-nr
      //"column87" = ""; // reisekilometer
      //"column88" = ""; // sprache
      "column89" = "keywords"; // stichwoerter

      //"column90" = ""; // vertraulichkeit
      //"column91" = ""; // verzeichnisserver
      //"column92" = ""; // vorname yomi
      "column93" = "url";
      //"column94" = ""; // weiters postfach      
    };
  };
  skycontacts_Person_importcfg_msoutlookexpcsv = {
    format    = "csv";
    separator = ";";
    firstLine = "1";
    mapping   = {
      "column0"  = "firstname";
      "column1"  = "name"; // nachname
      "column2"  = "middlename";
      //"column3"  = "name"; // name
      "column4"  = "nickname";
      "column5"  = "email1";
      "column6"  = "address.private.street";
      "column7"  = "address.private.city";
      "column8"  = "address.private.zip";
      "column9"  = "address.private.state";
      "column10" = "address.private.country";
      "column11" = "phone.05_tel_private";
      "column12" = "phone.15_fax_private";
      "column13" = "phone.03_tel_funk";
      "column14" = "url";
      "column15" = "address.location.street";
      "column16" = "address.location.city";
      "column17" = "address.location.zip";
      "column18" = "address.location.state";
      "column19" = "address.location.country";
      //"column20" = "url";
      "column21" = "phone.01_tel";
      "column22" = "phone.10_fax";
      "column23" = "phone.02_tel";
      //"column24" = ""; // firma
      "column25" = "degree";
      //"column26" = ""; // abteilung
      //"column27" = ""; // buero
      "column28" = "comment";
    };
  };
  skycontacts_Enterprise_importcfg_msoutlookexpcsv = {
    format    = "csv";
    separator = ";";
    firstLine = "1";
    mapping   = {
      //"column0"  = "firstname";
      //"column1"  = "name"; // nachname
      //"column2"  = "middlename";
      "column3"  = "name"; // name
      //"column4"  = "nickname";
      "column5"  = "email";
      "column6"  = "address.bill.street";
      "column7"  = "address.bill.city";
      "column8"  = "address.bill.zip";
      "column9"  = "address.bill.state";
      "column10" = "address.bill.country";
      //"column11" = "phone.01_tel";
      //"column12" = "phone.10_fax";
      //"column13" = "phone.03_tel_funk";
      //"column14" = "url";
      "column15" = "address.ship.street";
      "column16" = "address.ship.city";
      "column17" = "address.ship.zip";
      "column18" = "address.ship.state";
      "column19" = "address.ship.country";
      "column20" = "url";
      "column21" = "phone.01_tel";
      "column22" = "phone.10_fax";
      "column23" = "phone.02_tel";
      //"column24" = ""; // firma
      //"column25" = "degree";
      //"column26" = ""; // abteilung
      //"column27" = ""; // buero
      "column28" = "comment";
    };
  };
  skycontacts_Person_importcfg_netscapecsv = {
    format    = "csv";
    separator = ",";
    firstLine = 0;
    mapping   = {
      "column0"  = "firstname";
      "column1"  = "name"; // nachname
      //"column2"  = ""; // anzeige
      "column3"  = "nickname";
      "column4"  = "email1";
      "column5"  = "email2";
      //"column6"  = ""; // ??
      //"column7"  = ""; // ??
      "column8"  = "phone.01_tel";
      "column9"  = "phone.05_tel_private";
      "column10" = "phone.10_fax";
      "column11" = "phone.02_tel";
      "column12" = "phone.03_tel_funk";
      
      "column13" = "address.private.name1";
      "column14" = "address.private.name2";
      "column15" = "address.private.city";
      "column16" = "address.private.state";
      "column17" = "address.private.zip";
      "column18" = "address.private.country";

      "column19" = "address.location.name1";
      "column20" = "address.location.name2";
      "column21" = "address.location.city";
      "column22" = "address.location.state";
      "column23" = "address.location.zip";
      "column24" = "address.location.country";
      "column25" = "salutation";
      //"column26" = ""; // abteilung
      //"column27" = ""; // firma
      //"column28" = ""; // url geschaeftl
      "column29" = "url";
      //"column30" = ""; // ??
      //"column31" = ""; // ??
      //"column32" = ""; // ??
      //"column33" = ""; // custom 1
      //"column34" = ""; // custom 2
      //"column35" = ""; // custom 3
      //"column36" = ""; // custom 4
      "column37" = "comment";
    };
  };
  skycontacts_Person_importcfg_netscapetsv = {
    format    = "csv";
    separator = "	";
    firstLine = 0;
    mapping   = {
      "column0"  = "firstname";
      "column1"  = "name"; // nachname
      //"column2"  = ""; // anzeige
      "column3"  = "nickname";
      "column4"  = "email1";
      "column5"  = "email2";
      //"column6"  = ""; // ??
      //"column7"  = ""; // ??
      "column8"  = "phone.01_tel";
      "column9"  = "phone.05_tel_private";
      "column10" = "phone.10_fax";
      "column11" = "phone.02_tel";
      "column12" = "phone.03_tel_funk";
      
      "column13" = "address.private.name1";
      "column14" = "address.private.name2";
      "column15" = "address.private.city";
      "column16" = "address.private.state";
      "column17" = "address.private.zip";
      "column18" = "address.private.country";

      "column19" = "address.location.name1";
      "column20" = "address.location.name2";
      "column21" = "address.location.city";
      "column22" = "address.location.state";
      "column23" = "address.location.zip";
      "column24" = "address.location.country";
      "column25" = "salutation";
      //"column26" = ""; // abteilung
      //"column27" = ""; // firma
      //"column28" = ""; // url geschaeftl
      "column29" = "url";
      //"column30" = ""; // ??
      //"column31" = ""; // ??
      //"column32" = ""; // ??
      //"column33" = ""; // custom 1
      //"column34" = ""; // custom 2
      //"column35" = ""; // custom 3
      //"column36" = ""; // custom 4
      "column37" = "comment";
    };
  };
  skycontacts_Enterprise_importcfg_netscapecsv = {
    format    = "csv";
    separator = ",";
    firstLine = 0;
    mapping   = {
      //"column0"  = "firstname";
      //"column1"  = "name"; // nachname
      "column2"  = "name";
      //"column3"  = "nickname";
      "column4"  = "email";
      //"column5"  = "email2";
      //"column6"  = ""; // ??
      //"column7"  = ""; // ??
      "column8"  = "phone.01_tel";
      //"column9"  = "phone.05_tel_private";
      "column10" = "phone.10_fax";
      "column11" = "phone.02_tel";
      //"column12" = "phone.03_tel_funk";
      
      "column13" = "address.bill.name1";
      "column14" = "address.bill.name2";
      "column15" = "address.bill.city";
      "column16" = "address.bill.state";
      "column17" = "address.bill.zip";
      "column18" = "address.bill.country";

      "column19" = "address.ship.name1";
      "column20" = "address.ship.name2";
      "column21" = "address.ship.city";
      "column22" = "address.ship.state";
      "column23" = "address.ship.zip";
      "column24" = "address.ship.country";
      //"column25" = "salutation";
      //"column26" = ""; // abteilung
      //"column27" = ""; // firma
      "column28" = "url"; // url geschaeftl
      // "column29" = ""; // url private
      //"column30" = ""; // ??
      //"column31" = ""; // ??
      //"column32" = ""; // ??
      "column33" = "bank"; // custom 1
      "column34" = "bankCode"; // custom 2
      "column35" = "account"; // custom 3
      //"column36" = ""; // custom 4
      "column37" = "comment";
    };
  };
  skycontacts_Enterprise_importcfg_netscapetsv = {
    format    = "csv";
    separator = "	";
    firstLine = 0;
    mapping   = {
      //"column0"  = "firstname";
      //"column1"  = "name"; // nachname
      "column2"  = "name";
      //"column3"  = "nickname";
      "column4"  = "email";
      //"column5"  = "email2";
      //"column6"  = ""; // ??
      //"column7"  = ""; // ??
      "column8"  = "phone.01_tel";
      //"column9"  = "phone.05_tel_private";
      "column10" = "phone.10_fax";
      "column11" = "phone.02_tel";
      //"column12" = "phone.03_tel_funk";
      
      "column13" = "address.bill.name1";
      "column14" = "address.bill.name2";
      "column15" = "address.bill.city";
      "column16" = "address.bill.state";
      "column17" = "address.bill.zip";
      "column18" = "address.bill.country";

      "column19" = "address.ship.name1";
      "column20" = "address.ship.name2";
      "column21" = "address.ship.city";
      "column22" = "address.ship.state";
      "column23" = "address.ship.zip";
      "column24" = "address.ship.country";
      //"column25" = "salutation";
      //"column26" = ""; // abteilung
      //"column27" = ""; // firma
      "column28" = "url"; // url geschaeftl
      // "column29" = ""; // url private
      //"column30" = ""; // ??
      //"column31" = ""; // ??
      //"column32" = ""; // ??
      "column33" = "bank"; // custom 1
      "column34" = "bankCode"; // custom 2
      "column35" = "account"; // custom 3
      //"column36" = ""; // custom 4
      "column37" = "comment";
    };
  };
  address_clipboard_format = "$name1$ $name2$ $name3$\\r\\n$street$\\r\\n$zip$ $city$\\r\\n$country$\\r\\n";

  contactimport_birthdaydateformat = "%Y-%m-%d";
  contactimport_personattrnames = (
    firstname, middlename, name, nickname, email1, isPrivate
  );
  contactimport_enterpriseattrnames = ( name, email, number, isPrivate );

  contactimport_upload_defaultcfg = {
    format    = csv;
    separator = ",";
    firstLine = "0";
  };
  contactimport_upload_defaultpersonattrs = (
    firstname, middlename, name, number, nickname, salutation, degree, url,
    gender, birthday, comment, keywords
  );
  contactimport_upload_defaultenterpriseattrs = (
    number, name, priority, salutation, url, bank, bankCode, account, email,
    comment, keywords
  );
  contactimport_upload_addressattrs = (
    name1, name2, name3, street, zip, city, country, state
  );

  OGoCardGatheringDebugEnabled = NO;
}
